
code {
	opacity: 0.7;
	white-space: nowrap;
	padding: 0 7px;
	background: rgba(0,0,0,0.08);
}

.codrops-header {
	margin: 0 auto;
	padding: 2em 2em 0;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	padding-top: 0.2em;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
	text-align: center;
}

.codrops-top a {
	display: block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	padding: 6em 2em;
	text-align: center;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 3px solid #8d9a97;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #8d9a97;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	color: #4b5f5a;
	border-color: #4b5f5a;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

#cdawrap {
	top: 550px !important;
	background: #f0f0f0 !important;
}