@charset "utf-8";
/* CSS Document */
@media (min-width: 240px) and (max-width: 480px) { 
 .navbar-default .navbar-nav>li>a:hover { border-radius: 0px }
    .navbar-nav>li>.dropdown-menu {
        border-radius: 0px;
        padding: 0px;
        border: 1px solid #d1d1d1;
    }
	img{
		max-width:100%;	
	}
    .dropdown-menu>li>a {
        color: #fff !important;
        background: #009ddc;
    }
    .dropdown-menu>li>a:hover {
        background: #fff;
        color: #009ddc !important;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        border-radius: 0px;
        color: #fff;
        background: #fdb53f;
    }
    .navbar-default .navbar-toggle { border: none }
    .navbar-default .navbar-toggle:hover {
        border: 1px solid  #99cc00;
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar { background: #99cc00 !important }
	.footer-links{
		text-align:center;	
	}
	.footer-mp{
		margin-top:10px;
		text-align:center;	
	}
	#callus span{
		display:block;	
	}
	#top-social, #callus{
		text-align:center;	
	}
	#our-blog .blog-blocks .blog-block .latest-blog {
	  min-height: 200px;
	}
	#our-services .design-service{
		min-height:200px;	
	}
	#work-process .work-process .plan .step-pic {
	  text-align: center;
	  min-height: 130px;
	}
	.step-content{
		text-align:center;	
	}
	
}