{% extends 'site/base.html' %}
{% load blog_tags %}

{% block title %}
Python | Django web development Company - Micropyramid {% if "/contact-usa/" in request.get_full_path %}USA{% elif "/contact-uae/" in request.get_full_path  %}UAE{% else %}India{% endif %}
{% endblock %}
{% block meta-description %}
<meta name="description" content="Python and Django web development company {% if "/contact-usa/" in request.get_full_path %}USA{% elif "/contact-uae/" in request.get_full_path  %}UAE{% else %}India{% endif %}. You can speak with our experts for developing projects on python, Django, Angular Js, Aws, React Js, Django-oscar, Django rest framework  - Micropyramid {% if "/contact-usa/" in request.get_full_path %}USA{% elif "/contact-uae/" in request.get_full_path  %}UAE{% else %}India{% endif %}" />
{% if "/contact-india/" in request.get_full_path %}
<link rel="alternate" hreflang="en-us" href="https://micropyramid.com/contact-india/" />
<link rel="alternate" hreflang="en-in" href="https://micropyramid.com/in/contact-india/" />
<link rel="alternate" hreflang="en-ae" href="https://micropyramid.com/ae/contact-india/" />
<link rel="alternate" hreflang="en-uk" href="https://micropyramid.com/uk/contact-india/" />
<link rel="alternate" hreflang="en-ca" href="https://micropyramid.com/ca/contact-india/" />
<link rel="alternate" hreflang="en-au" href="https://micropyramid.com/au/contact-india/" />
<link rel="alternate" hreflang="x-default" href="https://micropyramid.com/contact-india/" />
{% elif "/contact-usa/" in request.get_full_path %}
<link rel="alternate" hreflang="en-us" href="https://micropyramid.com/contact-usa/" />
<link rel="alternate" hreflang="en-in" href="https://micropyramid.com/in/contact-usa/" />
<link rel="alternate" hreflang="en-ae" href="https://micropyramid.com/ae/contact-usa/" />
<link rel="alternate" hreflang="en-uk" href="https://micropyramid.com/uk/contact-usa/" />
<link rel="alternate" hreflang="en-ca" href="https://micropyramid.com/ca/contact-usa/" />
<link rel="alternate" hreflang="en-au" href="https://micropyramid.com/au/contact-usa/" />
<link rel="alternate" hreflang="x-default" href="https://micropyramid.com/contact-usa/" />
{% else %}
<link rel="alternate" hreflang="en-us" href="https://micropyramid.com/contact-uae/" />
<link rel="alternate" hreflang="en-in" href="https://micropyramid.com/in/contact-uae/" />
<link rel="alternate" hreflang="en-ae" href="https://micropyramid.com/ae/contact-uae/" />
<link rel="alternate" hreflang="en-uk" href="https://micropyramid.com/uk/contact-uae/" />
<link rel="alternate" hreflang="en-ca" href="https://micropyramid.com/ca/contact-uae/" />
<link rel="alternate" hreflang="en-au" href="https://micropyramid.com/au/contact-uae" />
<link rel="alternate" hreflang="x-default" href="https://micropyramid.com/contact-uae/" />
{% endif %}
{% endblock %}
{% block stage %}
<div id='container_wrapper'>
  <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% if request.session.country %}{% if request.session.country|get_value == 'us' %}{% else %} /{{request.session.country}}{% endif %}{% endif %}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a class="a"><span itemprop="name" class='name'>Contact {% if "/contact-usa/" in request.get_full_path %}USA{% elif "/contact-uae/" in request.get_full_path  %}UAE{% else %}India{% endif %}</span></a>
        </li>
      </ul>
    </div>
  <!-- contact_row starts here -->
  <div class="container">
    <div class="row marl contact_row">
      <!-- contact_left starts here -->
      <div class="contact_left col-md-8">
        <form id="contactform" method="post" name="contactform" action=".">
          <div class="row">
            <h1 class="contact_heading">Need to talk to us?</h1>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" name="enquery_type">
                <option value="general">Request For Services</option>
                <option value="partnership">Partnership Queries</option>
                <option value="media">Media Queries</option>
                <option value="general queries">General Queries</option>
                <option value="feedback">Website Feedback</option>
                <option value="others">Others</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                            <input type="hidden" class="form-control" id="path" name="path" placeholder="Country" value="{{ request.path }}">

            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" rows="10" id="message" name="message" placeholder="Your Message"></textarea>
            </div>
            <div  class="form-group col-xs-12 form-field wow fadeInUp animated captcha">
              <label>&nbsp;</label>
              <div class="button_div">
                <div class="g-recaptcha" data-sitekey="{{request.session.google_captcha_key}}"></div>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- contact_left ends here -->
      <!-- contact_right starts here -->
      <div class="contact_right col-md-4">
        <div class="contact_social_block">
        {% if "/contact-india/" in request.get_full_path %}<h4 class="contact_heading3">MicroPyramid</h4>
          <p>HIG499, 6th phase KPHB, Hyderabad,<br/> India - 500072, +91-9959166266</p>{% elif "/contact-uae/" in request.get_full_path  %}<h4 class="contact_heading3">MicroPyramid</h4><p>Khalifa Building(Near Old Nesto Super Market), Opp Fire Station, Sharjah, UAE 341246, 971 566061239</p>{% else %}<h4 class="contact_heading3">MicroPyramid</h4>
          <p>3737 Mapleshade Ln,<br>Ste #103,<br>  Plano TX 75075, +1 5102300949</p>{% endif %}

          <h4 class="contact_heading">Connect With Social Networks</h4>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/MicroPyramid" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/micropyramid" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://www.youtube.com/c/micropyramid" class="youtube-play" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li><a href="https://micropyramid.com/rss.xml" class="rss" target="_blank"><i class="fa fa-rss"></i></a>
            </li>
            <li><a href="http://google.com/+Micropyramid/" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
            <li><a href="https://twitter.com/micropyramid" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://github.com/micropyramid" class="github" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://www.reddit.com/r/MicroPyramid/" class="reddit" target="_blank"><i class="fa fa-reddit"></i></a>
            </li>
          </ul>
        </div>
        {% if "/contact-usa/" in request.get_full_path %}
        <div class="map1" id='map1'>
        </div>
        {% elif "/contact-uae/" in request.get_full_path %}
        <div class="map_uae" id='map_uae'>
        </div>
        {% else %}
        <div class="map" id='map'>
        </div>
        {% endif %}
      </div>
      <!-- contact_row ends here -->
    </div>
  </div>
  <!-- contact_row ends here -->
</div>
  <script src='https://www.google.com/recaptcha/api.js'%}></script>

{% endblock stage %}
