{% extends 'site/base.html' %}
{% block title %}
Contact Us | MicroPyramid
{% endblock %}
{% block meta-description %}
<meta name="description" content="Contact Us - MicroPyramid." />
{% endblock %}
{% block stage %}
<div id='container_wrapper'>
  <!-- contact_row starts here -->
  <div class="container">
    <div class="row marl contact_row">
      <!-- contact_left starts here -->
      <div class="contact_left col-md-8">
        <form id="contactform" method="post" name="contactform">
          <div class="row">
            <h4 class="contact_heading">Talk to us</h4>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" name="enquery_type">
                <option value="general">Request For Services</option>
                <option value="partnership">Partnership Queries</option>
                <option value="media">Media Queries</option>
                <option value="general queries">General Queries</option>
                <option value="feedback">Website Feedback</option>
                <option value="others">Others</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="country" name="country" placeholder="Country">
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" rows="10" id="message" name="message" placeholder="Your Message"></textarea>
            </div>
            <div class="col-md-12 form-group">
              <button class="btn btn-default" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- contact_left ends here -->
      <!-- contact_right starts here -->
      <div class="contact_right col-md-4">
        <div class="contact_social_block">
          <h4 class="contact_heading">Connect With Social Networks</h4>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/MicroPyramid" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/micropyramid" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://www.youtube.com/user/TheMicropyramid" class="youtube-play" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li><a href="https://micropyramid.com/rss.xml" class="rss" target="_blank"><i class="fa fa-rss"></i></a>
            </li>
            <li><a href="http://google.com/+Micropyramid/" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
            </li>
            <li><a href="https://twitter.com/micropyramid" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://github.com/micropyramid" class="github" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li><a href="https://www.reddit.com/r/MicroPyramid/" class="reddit" target="_blank"><i class="fa fa-reddit"></i></a>
            </li>
          </ul>
        </div>
        <div class="map contact_map" id='map'>
          <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4555949677!2d78.39003300000002!3d17.485752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9144f52b17db%3A0xa94f62d5a7e9c69a!2sMicroPyramid+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1431589311241" height="350" style="width:100%;border:0"></iframe> -->
        </div>
      </div>
      <!-- contact_row ends here -->
    </div>
  </div>
  <!-- contact_row ends here -->
</div>
{% endblock stage %}