{% extends 'site/base.html' %}
{% block title %}
CRM-Development | MicroPyramid
{% endblock %}
{% load recurse %}
{% load menu %}
{% block meta-description %}
<meta name="description" content="CRM-Development - MicroPyramid." />
{% endblock %}
{% block stage %}
<!-- container wrapper -->
<div id='container_wrapper'>
   <!-- blog row starts here -->
   <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
         </li>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{request.path}}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>CRM</span></a>
         </li>
      </ul>
   </div>
   <div id='crm'>
      <!-- banner-->
      <div class="banner">
         <!-- flap -->
         <div class="banner_flap">
            <div class="img_wrap">
               <img src='/static/site/images/crm/Crm-Banner-Pic.png' alt="CRM">
            </div>
         </div>
         <!--/flap -->
         <!-- content -->
         <div class="content">
            <!-- titile -->
            <h1>Salesforce CRM Development</h1>
            <div class="text">
               With so many years of experience in developing SalesForce CRM applications and integrations with other tools. Now, we can develop the much more awesome applications for large enterprises.
            </div>
            <!--/ title -->
         </div>
         <!--/ content -->
      </div>
      <!--/ banner -->
      <!-- how we do -->
      <div class="crm_hoWeDo">
         <!-- title -->
         <div class="heading">
            <span>What</span> <span class="green">we do</span> <span>?</span>
         </div>
         <!--/ title -->
         <div class="content">
            <p>MicroPyramid has self motivated and experienced team of <span class='red'>Salesforce systems analysts and architects</span>. Our Salesforce consultants will help you broaden the domain of possibilities and applications for your business on the Salesforce platform. Our consultants are in constant pace of developing innovative advanced techniques and methods of implementation to address ever demanding and evolving needs of businesses.</p>
            <p>We indulge in exploring <span class='red'>SalesForce CRM possibilities</span> and delve business process.</p>
            <p>Our core development procedure enrich your marketing, sales, customer support and reporting to make your business process easy and sweet.
            </p>
            <p>We extend salesforce functionality to address clients challenges no matter how big and complex the problem is. Talk to us for integrating third party apis into salesforce like <span class='red'>TIBCO, Boomi, Cast Iron, Pervasive, Jitterbit and BizTalk</span>.</p>
         </div>
      </div>
      <!--/ how we do -->
      {% if  %}
      <!-- related blog -->
      <div class='server_blog'>
         <!--title-->
         <div class="heading">
            <span>related</span> <span class="green">blog posts</span>
         </div>
         <!--/ title -->
         {% get_latest_posts as latest_posts %}
         {% for post in latest_posts|slice:":3" %}
         <div class="col-md-4 col-sm-4 col-xs-12 blog_ticket_wrap">
            <div class="blog_ticket">
               <div class="date_daimond">
                  {% if post.published_on %}
                  <div class="text_wrap">
                     <div class="month">{{ post.published_on|date:"b"|title }}</div>
                     <div class="day">{{ post.published_on|date:"d" }}, {{ post.published_on|date:"Y" }}</div>
                  </div>
                  {% else %}
                  <div class="text_wrap">
                     <div class="month">{{ post.updated_on|date:"b"|title }}</div>
                     <div class="day">{{ post.updated_on|date:"d" }}, {{ post.updated_on|date:"Y" }}</div>
                  </div>
                  {% endif %}
               </div>
               <div class="blog_title">
                  <a href="/blog/{{post.slug}}/">{{ post.title }}</a>
                  <div class="author">{{ post.user.get_full_name }}</div>
               </div>
               <div class="blog_description">
                  <p>
                     {{ post.get_content|truncatewords:350 }}<a href="/blog/{{post.slug}}/"><span class="view_more">Read More. . .</span></a>
                  </p>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <br clear="all">
   </div>
</div>
{% endblock stage %}