{% extends 'site/base.html' %}
{% block title %}
Web-Development | MicroPyramid
{% endblock %}
{% load recurse %}
{% load menu %}
{% block meta-description %}
<meta name="description" content="Web-Development - MicroPyramid." />
{% endblock %}
{% block stage %}
<div id='container_wrapper'>
  <!-- blog row starts here -->
  <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
    <ul>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{request.path}}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Web Development</span></a>
      </li>
    </ul>
  </div>
  <div id='web_development'>
    <!-- banner -->
    <div class="banner">
      <div class="left_banner">
        <h1>
          <span>Website Development</span>
          <span>And Maintenance</span>
        </h1>
        <div class="left_text">
          Rapidiously restore maintainable leadership vis-a-vis inexpensive meta-services. Collaboratively administrate goal-oriented methods of empowerment via distributed data. Appropriately.
        </div>
      </div>
      <!--right banner -->
      <div class="right_banner">
        <div class="right_wrapper">
          <img src="/static/site/images/banners_web_dev/Development-Banner.png" alt="Development-Banner">
        </div>
      </div>
      <!--/ right banner -->
    </div>
    <!-- banner -->
    <!-- how we do -->
    <div class="web_dev_hoWeDo">
      <!-- title -->
      <div class="heading">
        <span>What</span> <span class="green">we do</span> <span>?</span>
      </div>
      <!--/ title -->
      <div class="content">
        <p>
          With versatile <span class='red'>opensource software development</span> experience, we have engineered <span class='red'>web applications</span> in banking, education, SEO, employment, music, CRM, Shopping, Gifting, Hotel reservations and Tourism sectors with <span class='red'>high performance, secure</span> and <span class='red'>feature rich</span> web development as our core competency.
        </p>
        <p>
          We choose <span class='red'>django web development</span> is the way to develop and deliver to meet client needs in challenging time frame with <span class='red'>performance</span> and <span class='red'>security</span>.
        </p>
        <p>
          <span class='red'>SalesForce CRM solutions</span> are being developed by our experts to empower ever changing demands of our client business needs.
        </p>
        <p>
          Our <span class='red'>ever learning</span> curve shaping <span class='red'>better services</span> every day for our clients under constant maintenance. With <span class='red'>dedicated research</span>, we ensure quality and industry's bleeding edge technologies to solve your problems. Performance tuning, security hardening and monitoring web applications are vital in <span class='red'>managing</span> heavy traffic and feature rich web sites.
        </p>
        <p>
          By leveraging cloud technologies from <span class='red'>Amazon Web Services</span> we are able to design failsafe infrastructures for our clients with 24x7 monitoring and <span class='red'>auto scaling of server</span> capacity.
        </p>
      </div>
    </div>
    <!--/ how we do -->
    <!-- technologies we use -->
    <div class="web_dev_technologies">
      <!-- title -->
      <div class="heading">
        <span>Technologies</span> <span class="green">we use</span>
      </div>
      <!--<div class="head_tag">Seamlessly synergize fully researched data whereas sustainable ideas. Proactively visualize excellent ideas rather than performance based innovation. Seamlessly deliver accurate networks after cost effective e-commerce. Proactively integrate pandemic initiatives and holistic benefits. Authoritatively negotiate premium.</div>-->
      <!--/ title -->
      <!-- content row -->
      <div class="content_row_tech">
        <!-- diamond div-->
        <div class="col-md-6 col-sm-8 col-xs-12 tech_daimond_wrap">
          <div class="row">
            <!-- tech each -->
            <a href="http://www.amazon.in/">
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/aws.png' alt="Aws">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/pythonlogo.jpg' alt="Python">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/django-logo-negative.png' alt="Django">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
          </div>
          <div class="row">
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/logo-mysql-170x115.png' alt="mysql">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/AngularJS_logo.svg.png' alt="AngularJS">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap active'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/jQurery.gif' alt="jQurery">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
          </div>
          <div class="row">
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/oscar.png' alt='oscar'>
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/elasticsearch-logo.png' alt="elasticsearch">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
            <!-- tech each -->
            <a>
            <span class='tect_each_wrap'>
            <span class='tech_each'>
            <span class='img_wrap'>
            <img src='/static/site/images/banners_web_dev/logo.png' alt="logo">
            </span>
            </span>
            </span>
            </a>
            <!--/ tech each -->
          </div>
          <div class="clearfix"></div>
        </div>
        <!--/ diamond div -->
        <!-- tech content -->
        <div class="col-md-6 col-sm-4 col-xs-12 tech_content">
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/aws_logo_web_300px.png' alt="AWS">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              Amazon Web Services (AWS) began offering IT infrastructure services to businesses in the form of web services -- now commonly known as cloud computing. One of the key benefits of cloud computing is the opportunity to replace up-front capital infrastructure expenses with low variable costs that scale with your business. With the Cloud, businesses no longer need to plan for and procure servers and other IT infrastructure weeks or months in advance. Instead, they can instantly spin up hundreds or thousands of servers in minutes and deliver results faster. Amazon Web Services provides a highly reliable, scalable, low-cost infrastructure platform in the cloud.
            </div>
            <!--/ short_desc -->
            <!-- read more 
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/pythonlogo.jpg' alt="Python">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.
            </div>
            <!--/ short_desc -->
            <!-- read more -->
            <!--
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/django-logo-negative.png' alt="Django">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
            </div>
            <!--/ short_desc -->
            <!-- read more
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div> -->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/logo-mysql-170x115.png' alt="mysql">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              MySQL is the most popular Open Source Relational SQL database management system. With its proven performance, reliability and ease-of-use, MySQL has become the leading database choice for web-based applications, used by high profile web properties including Facebook, Twitter, YouTube, Yahoo! and many more.
            </div>
            <!--/ short_desc -->
            <!-- read more 
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/AngularJS_logo.svg.png' alt="AngularJS">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology.
            </div>
            <!--/ short_desc -->
            <!-- read more 
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each active">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/1280px-JQuery_logo.svg.png' alt="JQuery">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              jQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website. jQuery takes a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them into methods that you can call with a single line of code. jQuery also simplifies a lot of the complicated things from JavaScript, like AJAX calls and DOM manipulation. .
            </div>
            <!--/ short_desc -->
            <!-- read more
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div> -->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/oscar.png' alt="oscar">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              Oscar is an e-commerce framework for building domain-driven applications. It has flexibility baked into its core so that complicated requirements can be elegantly captured. You can tame a spaghetti domain without writing spaghetti code.
            </div>
            <!--/ short_desc -->
            <!-- read more
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div> -->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/elasticsearch.png' alt="elasticsearch">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              Elasticsearch is a distributed, open source search and analytics engine, designed for horizontal scalability, reliability, and easy management. It combines the speed of search with the power of analytics via a sophisticated, developer-friendly query language covering structured, unstructured, and time-series data.
            </div>
            <!--/ short_desc -->
            <!-- read more 
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
          <!-- tab content each -->
          <div class="tab_content_each">
            <div class="logo_div">
              <img src='/static/site/images/banners_web_dev/postgresql_logo_larg.png' alt="postgresql">
            </div>
            <!-- short_desc -->
            <div class="short_desc">
              PostgreSQL is the world’s most advanced open source database. PostgreSQL was born from the same research as Oracle and DB2 and contains comparable enterprise class features such as full ACID compliance for outstanding transaction reliability and Multi-Version Concurrency Control for supporting high concurrent loads.
              PostgreSQL supports standards such as ANSI SQL and SQL/MED (including foreign data wrappers for Oracle, MySQL, MongoDB and many others) and yet is highly extensible with support for over 12 procedural languages, GIN and GIST Indexes, Spatial data support, and multiple NoSQL like features for document (JSON) or key-value based applications. 
            </div>
            <!--/ short_desc -->
            <!-- read more 
              <div class="read_more">
              <span class='button'>Read More . . </span>
              </div>-->
            <!--/ read more -->
          </div>
          <!--/ tab content each -->
        </div>
        <!--/ tech content -->
      </div>
      <!--/ content row -->
      <div class="clearfix"></div>
      <br clear="all">
      <!-- related blog -->
      <div class='web_dev_blog'>
        <!--title-->
        <div class="heading">
          <span>related</span> <span class="green">blog posts</span>
        </div>
        <!--/ title -->
        <!-- blog -->
        {% get_latest_posts as latest_posts %}
        {% for post in latest_posts|slice:":3" %}
        <div class="col-md-4 col-sm-4 col-xs-12 blog_ticket_wrap">
          <div class="blog_ticket">
            <div class="date_daimond">
              {% if post.published_on %}
              <div class="text_wrap">
                <div class="month">{{ post.published_on|date:"b"|title }}</div>
                <div class="day">{{ post.published_on|date:"d" }}, {{ post.published_on|date:"Y" }}</div>
              </div>
              {% else %}
              <div class="text_wrap">
                <div class="month">{{ post.updated_on|date:"b"|title }}</div>
                <div class="day">{{ post.updated_on|date:"d" }}, {{ post.updated_on|date:"Y" }}</div>
              </div>
              {% endif %}
            </div>
            <div class="blog_title">
              <a href="/blog/{{post.slug}}/">{{ post.title }}</a>
              <div class="author">{{ post.user.get_full_name }}</div>
            </div>
            <div class="blog_description">
              <p>
                {{ post.get_content|truncatewords:350 }}<a href="/blog/{{post.slug}}/"><span class="view_more">Read More. . .</span></a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        <!--/ blog postgresql_logo_larg.png-->
      </div>
      <!--/ related blog -->
    </div>
    <!--/ technologies we use -->
  </div>
</div>
{% endblock stage %}