{% extends 'site/base.html' %}
{% block title %}
Web Design | MicroPyramid
{% endblock %}
{% block meta-description %}
<meta name="description" content="Web Design - MicroPyramid." />
{% endblock %}
{% block stage %}
<!-- container wrapper -->
<div id='container_wrapper' class='pad-0'>
  <div id='web_design'>
    <!-- intro banner -->
    <div class="intro_banner wrap_child">
      <div class="content_banner_wrap">
        <div class="left_text col-md-6 col-sm-6 col-xs-12">
          <h1>
            <span class='green active'>Web</span>
            <span class='green'>MObile App</span>
            <span class='green'>LOgo</span>
            <span class='green'>Banner</span>
            <span>Design</span>
          </h1>
          <div class="content">
            <div class="each_content active">
              Web Design
              Phosfluorescently redefine user-centric resources and superior technologies. Assertively disseminate exceptional niches whereas cooperative web services. Continually benchmark cross functional core competencies with 2.0 internal or "organic" sources. Seamlessly.
            </div>
            <div class="each_content">
              Mobile app Design
              Phosfluorescently redefine user-centric resources and superior technologies. Assertively disseminate exceptional niches whereas cooperative web services. Continually benchmark cross functional core competencies with 2.0 internal or "organic" sources. Seamlessly.
            </div>
            <div class="each_content">
              logo
              Phosfluorescently redefine user-centric resources and superior technologies. Assertively disseminate exceptional niches whereas cooperative web services. Continually benchmark cross functional core competencies with 2.0 internal or "organic" sources. Seamlessly.
            </div>
            <div class="each_content">
              banner
              Phosfluorescently redefine user-centric resources and superior technologies. Assertively disseminate exceptional niches whereas cooperative web services. Continually benchmark cross functional core competencies with 2.0 internal or "organic" sources. Seamlessly.
            </div>
            <div class="each_content">
              advert
              Phosfluorescently redefine user-centric resources and superior technologies. Assertively disseminate exceptional niches whereas cooperative web services. Continually benchmark cross functional core competencies with 2.0 internal or "organic" sources. Seamlessly.
            </div>
          </div>
        </div>
        <div class="right_slider col-md-6 col-sm-6 col-xs-12">
          <div class="img_div_wrap">
            <div class="slider_wrap">
              <span class='img'>
              <img src="/static/site/images/design/web_design_banner_img.png" alt="web-design">
              </span>
              <span class='img'>
              <img src="/static/site/images/design/mobile_app_improved.png" alt="mobile-app-design">
              </span>
              <span class='img'>
              <img src="/static/site/images/design/logo_design_improved.png" alt="logo-design">
              </span>
              <span class='img'>
              <img src="/static/site/images/design/banner_design.png" alt="banner-design">
              </span>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="tumbnails_div">
            <span class='tumbnail_each active'></span>
            <span class='tumbnail_each'></span>
            <span class='tumbnail_each'></span>
            <span class='tumbnail_each'></span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!--/ intro banner -->
    <!-- work process -->
    <div class='wrap_child horizontal_wrap'>
      <div class="horizontal_wrap_scroll">
        <!-- child each -->
        <div class='horizontal_child'>
          <div class='chile_table'>
            <div class="child_table_cell">
              <div class="content_wrap">
                <div class="number">1</div>
                <div class="title">Requirement analysis</div>
                <div class="tag">
                  Seamlessly fabricate principle-centered users after integrated potentialities. Uniquely embrace resource maximizing technology after revolutionary applications. Continually impact multimedia based imperatives after highly efficient initiatives.
                </div>
                <div class="img_div">
                  <img src="/static/site/images/design/analysis-icon.png" alt="Analysis">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ child each -->
        <!-- child each -->
        <div class='horizontal_child'>
          <div class='chile_table'>
            <div class="child_table_cell">
              <div class="content_wrap">
                <div class="number">2</div>
                <div class="title">Creative Mock Design</div>
                <div class="tag">
                  Seamlessly fabricate principle-centered users after integrated potentialities. Uniquely embrace resource maximizing technology after revolutionary applications. Continually impact multimedia based imperatives after highly efficient initiatives.
                </div>
                <div class="img_div">
                  <img src="/static/site/images/design/logo_design_improved.png" alt="logo-design">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ child each -->
        <!-- child each -->
        <div class='horizontal_child'>
          <div class='chile_table'>
            <div class="child_table_cell">
              <div class="content_wrap">
                <div class="number">3</div>
                <div class="title">Mock to HTML template</div>
                <div class="tag">
                  Seamlessly fabricate principle-centered users after integrated potentialities. Uniquely embrace resource maximizing technology after revolutionary applications. Continually impact multimedia based imperatives after highly efficient initiatives.
                </div>
                <div class="img_div">
                  <img src="/static/site/images/design/html_template.png" alt="Html-Template">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ child each -->
        <!-- child each -->
        <div class='horizontal_child'>
          <div class='chile_table'>
            <div class="child_table_cell">
              <div class="content_wrap">
                <div class="number">4</div>
                <div class="title">Email Campaigns</div>
                <div class="tag">
                  Seamlessly fabricate principle-centered users after integrated potentialities. Uniquely embrace resource maximizing technology after revolutionary applications. Continually impact multimedia based imperatives after highly efficient initiatives.
                </div>
                <div class="img_div">
                  <img src="/static/site/images/design/email_campaigns.png" alt="Email-Campaigns">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ child each -->
        <!-- child each -->
        <div class='horizontal_child'>
          <div class='chile_table'>
            <div class="child_table_cell">
              <div class="content_wrap">
                <div class="number">5</div>
                <div class="title">Test for Responsive</div>
                <div class="tag">
                  Seamlessly fabricate principle-centered users after integrated potentialities. Uniquely embrace resource maximizing technology after revolutionary applications. Continually impact multimedia based imperatives after highly efficient initiatives.
                </div>
                <div class="img_div">
                  <img src="/static/site/images/design/banners_testing/testing-banner.png" alt="Testing-Banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ child each -->
      </div>
    </div>
    <!-- work process -->
    <!-- work process -->
    <div class='wrap_child strengths'>
      <div class="strenghts_heading">
        Our <span class='green'>pro's</span>
      </div>
      <div class="wid_wrap left">
        <span class='tick'><i class='fa fa-paw'></i></span>
        <div class="pro_title">Multiple Browser Friendly Design</div>
        <div class="content_strength">
          <div class="description">
            Rapidiously simplify accurate supply chains through prospective convergence. Proactively orchestrate out-of-the-box networks for quality synergy. Enthusiastically negotiate leveraged internal or "organic" sources via high standards in quality vectors. Energistically streamline orthogonal experiences vis-a-vis principle-centered value. Monotonectally expedite dynamic methodologies and alternative markets.
          </div>
          <div class="clearfix"></div>
          <div class="col-md-3 col-sm-3 col-xs-6 img_div">
            <img src='/static/site/images/design/Google_Chrome_icon_(2011).svg.png' alt="Google Chrome">
            <div class="heading">Chrome</div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 img_div">
            <img src='/static/site/images/design/firefox-512.png' alt="Firefox">
            <div class="heading">Firefox</div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 img_div">
            <img src='/static/site/images/design/Internet_Explorer_7_Logo.png' alt="Internet-Explorer">
            <div class="heading">Explorer</div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 img_div">
            <img src='/static/site/images/design/safari_logo.png' alt="Safari">
            <div class="heading">Safari</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- work process -->
    <!-- work process -->
    <div class='wrap_child strengths'>
      <div class="wid_wrap right">
        <span class='tick'><i class='fa fa-check'></i></span>
        <div class="pro_title">Valid markup</div>
        <div class="content_strength">
          <div class="description">
            Rapidiously simplify accurate supply chains through prospective convergence. Proactively orchestrate out-of-the-box networks for quality synergy. Enthusiastically negotiate leveraged internal or "organic" sources via high standards in quality vectors. Energistically streamline orthogonal experiences vis-a-vis principle-centered value. Monotonectally expedite dynamic methodologies and alternative markets.
          </div>
          <div class="clearfix"></div>
          <div class="img_div">
            <img src='/static/site/images/design/W3C-Markup-Validator.png' alt="W3C-Markup-Validator">
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- work process -->
  <!-- work process -->
  <div class='wrap_child strengths'>
    <div class="wid_wrap left">
      <span class='tick'><i class='fa fa-check'></i></span>
      <div class="pro_title">Latest with Industry</div>
      <div class="content_strength">
        <div class="description">
          Rapidiously simplify accurate supply chains through prospective convergence. Proactively orchestrate out-of-the-box networks for quality synergy. Enthusiastically negotiate leveraged internal or "organic" sources via high standards in quality vectors. Energistically streamline orthogonal experiences vis-a-vis principle-centered value. Monotonectally expedite dynamic methodologies and alternative markets.
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/HTML5_Logo_512.png' alt="HTML5">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/css3.svg' alt="Css3">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/SCSS_logo.jpg' alt="Scss">
        </div>
        <!--<div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/Font-Awesome-logo-pied-piper-1200x627-1080x627.jpg'>
          </div>!-->
        <div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/twitter-bootstrap.jpg' alt="Bootstrap">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 img_div">
          <img src='/static/site/images/design/jQurery.gif' alt="Jquery">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- work process -->
<!--/ container wrapper -->
{% endblock %}
{% block extra-js %}
<script type="text/javascript" src='/static/site/js/design.js'></script>
{% endblock %}