{% extends 'site/blog/base.html' %}
{% block title %}
{{ post.title }} - Micropyramid
{% endblock %}
{% block meta-description %}
{%  if not post.meta_description %}
<meta name="description" content="{{ post.title }} - MicroPyramid." />
{% else %}
<meta name="description" content="{{ post.meta_description }}" />
{% endif %}
{% endblock %}
{% block extra-head %}
<link rel="canonical" href='https://micropyramid.com/blog/{{ post.slug }}/'/>
<link rel="pingback" href="https://micropyramid.com/blog/xmlrpc/"/>
{% endblock %}
{% block blogcontent %}
<div id='container_wrapper'>
  <!-- blog row starts here -->
  <div class="blog-row row">
    <!-- left conatiner starts here -->
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 blog-left-container">
      <!-- blog row starts here -->
      <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
        <ul>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/blog/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Blog</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{% url 'micro_blog:blog_category' post.category.slug %}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{ post.category.slug }}</span></a>
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{request.path}}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{ post.title }}</span></a>
          </li>
        </ul>
      </div>
      <div itemscope itemType="http://schema.org/BlogPosting">
        <h1 class="text-center" itemprop="headline">{{ post.title }}</h1>
        <ul class="text-center blog-det">
          <li itemprop="author">By {{ post.user.get_full_name }}</li>
          {% if post.published_on %}
          <li>Posted On <span itemprop="datePublished">{{ post.published_on|date:"d F Y" }}</span></li>
          {% else %}
          <li>Posted On <span itemprop="datePublished">{{ post.updated_on|date:"d F Y" }}</span></li>
          {% endif %}
        </ul>
        <!-- description starts here -->
        <div class="blog-det-description" itemprop="articleBody">
          {{ post.content|safe }}
        </div>
        <!-- description ends here -->
        <!-- social icons comes here -->
        <ul class="blog-social">
          <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ minified_url }}&t={{ post.title }}" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/share?hl=en-US&url={{ minified_url }}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ minified_url }}&via=MicroPyramid" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/cws/share?url={{ minified_url }}&token=&isFramed=true" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <div class="prev_next_blog">
        {% if prev_url %}
          <a href="{{prev_url}}"><span class="prev">
            <!--<i class='fa fa-angle-left'></i>-->
            Previous post
          </span></a>{% endif %}
          {% if next_url %}
          <a href="{{next_url}}"><span class="next pull-right">
            Next post
            <!--<i class='fa fa-angle-right'></i>-->
          </span></a>{% endif %}
          <div class='clearfix'></div>
        </div>
        <div id="subscribe">
          <i class="fa fa-envelope-o subscribe_i"></i>
            <h3>Subscribe To our <span>news letter</span></h3>
            <div class="text">
              Interactively maintain 2.0 strategic theme areas whereas magnetic core competencies. Completely utilize progressive models for plug-and-play interfaces. Intrinsicly parallel task vertical users after resource maximizing convergence. Appropriately communicate granular ideas without customized markets.
            </div>
            <form id="subscribeform" name="subscribeform" method="post">
              <div class="form_fiv">
                <div class="input-group">
                  <input type="email" class="form-control" name="email"placeholder="Email Id" aria-describedby="basic-addon2">
                  <input type="hidden" name="is_blog" id="is_blog" value="True"/>
                  <input type="hidden" name="is_category" id="is_category" value="{% if category %}{{category.id}}{% elif post.category %}{{post.category.id}}{%endif%}"/>
                  <span class="input-group-addon" id="basic-addon2"><button type="submit">Subscribe !</button></span>
                </div>
                <span id="subscribe-email"></span>
              </div>
            </form>
        </div>
        <div class="col-xs-12" id="comments">
          <strong class="comments-title">Latest Comments</strong>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'micropyramid'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div>
    <!-- left container ends here -->
    <!-- right conatiner starts here -->
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 blog-right-container">
      <!-- categories starts here -->
      <div class="blog_right_categories">
        <ul class="list-inline">
          <li><a href="/blog/category/python/" class="python right_category">Python</a></li>
          <li><a href="/blog/category/amazon-web-services/" class="amazon right_category">Amazon</a></li>
          <li><a href="/blog/category/python/" class="django right_category">Django</a></li>
          <li><a href="/blog/category/mongodb/" class="mongo right_category">Mongo DB</a></li>
          <li><a href="/blog/category/linux/" class="linux right_category">Linux</a></li>
        </ul>
      </div>
      <!-- categories ends here -->
      {% if related_posts %}
      <strong>Related Articles</strong>
      {% endif %}
      {% for related_post in related_posts %}
      <div class="related-post">
        <span class="blog-title">{{related_post.title}}</span>
        <span class="user-name">{{related_post.user.get_full_name}}</span>
        <!--<span class="date-comments">4th October 2015 / comments 30</span>-->
        <p>{{related_post.content|striptags|safe|truncatewords:25}}</p>
        <a href="{% url 'micro_blog:blog_article' related_post.slug %}" class="full-story">Continue Reading...</a>
      </div>
      {% endfor %}
    </div>
    <!-- right container ends here -->
  </div>
  <!-- blog row ends here -->
</div>
{% endblock %}