{% extends 'site/base.html' %}
{%load menu%}
{% load blog_tags%}
{% block country_urls %}
{% endblock %}
{% block stage %}
<div id="blog">
  <div class="row marl">
    {% block blogcontent %}
    {% endblock %}
    <!-- /block-posts -->
    <div class="col-sm-hidden col-md-1"></div>
    <div class="col-sm-12 col-md-3 blog-colors" id="right-sidebar">
      <div class="row marl">
        <div class="col-xs-12 search-padding">
          {% block blog_author_details %}{% endblock %}
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- / widget widget-text -->
    </div>
    <!-- /row -->
  </div>
  <!-- / right-sidebar -->
</div>
<!-- blog list ends here-- >
{% endblock %}

{% block js %}
  {{ block.super }}
  {% load compress %}
  {% compress js %}
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'micropyramid'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  {% endcompress %}
{% endblock %}