{% extends 'site/blog/base.html' %}
{% load blog_tags %}
{% block title %}
  {{ posts.0.title }} ... | {{ block.super }}
{% endblock %}

{% block meta-description %}
  <meta name="description" content="{% for post in posts %} {{ post.title }}{% if not forloop.last %}, {% endif %}{% endfor %} - MicroPyramid." />
{% endblock %}
{% block blogcontent %}
  {% include 'site/contact.html' %}
  <nav id="mp-menu" class="mp-menu">
    {% include 'site/side-bar-menu.html' %}
  </nav>
    <div id='container_wrapper'>
    <!-- blog row starts here -->
    <div class=" row">
      <!-- blog categories archies starts here -->
      <div class="blog-categories-archives">
        {% if request.get_full_path = "/blog/" %}
        <h4 class="blog-cat-archives text-center">Blog Categories & Archives</h4>
        <div class="categories">
          <ul class="text-center">
            <li><a href="/blog/category/django/" class="django"><img src="/static/site/images/django-b.png" height="33" width="87" alt="blog-category-djagno"></a></li>
            <li><a href="/blog/category/python/" class="python"><img src="/static/site/images/python_blog_logo.png" height="33" width="87" alt="blog-category-python"></a></li>
            <li><a href="/blog/category/mongodb/" class="mongo"><img src="/static/site/images/mongodb.png" height="33" width="87" alt="blog-category-mongodb"></a></li>
            <li><a href="/blog/category/linux/" class="linux"><img src="/static/site/images/linux.png" height="33" width="87"></a></li>
            <li><a href="/blog/category/amazon-web-services/" class="amazon"><img src="/static/site/images/aws_blog_logo.png" height="33" width="87" alt="blog-categorya-ws"></a></li>

          </ul>
        </div>
        <div class="archives">
          <ul>
          {% get_archives as archives %}
            {% for archive in archives %}
                <li><a href="/blog/{{archive|date:"Y"}}/{{archive|date:"n"}}">{{ archive|date:"F Y" }}</a></li>
            {% endfor %}
          </ul>
          </div>
          {% endif %}
          </div>
        <!-- blog categories archies ends here -->
        <!-- blog list starts here -->
        <div class="blog-container">
        {% for post in posts %}
          <div class="blog-item" itemscope itemType="http://schema.org/BlogPosting">
            <div class="post-date">
              <div class="date_daimond">
                <div class="text_wrap" itemprop="datePublished">
                  <div class="month" >{{ post.updated_on|date:"M" }}</div>
                  <div class="day">{{ post.updated_on|date:"d Y" }}</div>
                </div>
              </div>
            </div>
            <div class="blog-right">
              <span class="blog-title" itemprop="headline"><a href="{{ SITE_URL }}/blog/{{post.slug}}/">{{ post.title }}</a></span>
              <p itemprop="description">{{post.content|safe|truncatewords:50}}</p>
              <ul class="post-det">
                <li itemprop="author">By {{ post.user.get_full_name }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}
        </div>
        <!-- blog list ends here -->
        <!-- pagination -->
        <div class="pagination_mp">
        <ul>
          {% get_page current_page last_page as pages %}
          {% if category%}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/blog/category/{{category.slug}}?page={{s}}"><span>{{s}}</span></a></li>
          {% endfor %}
          <li class="disabled"><a href=""><span>...</span></a></li>
          <li><a href="/blog/category/{{category.slug}}/?page={{last_page}}"><span>last</span></a></li>
          {% if not last_page > current_page %}
          <li><a href="/blog/category/{{category.slug}}/?page={{current_page| add:"1"}}"><span>Next<i class="fa fa-angle-right pagination-next"></i></span></a>
          </li>
          {% endif %}
          {% elif tag %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/blog/tag/{{tag.slug}}/?page={{s}}"><span>{{s}}</span></a></li>
          {% endfor %}
          <li class="disabled"><a href=""><span>...</span></a></li>
          <li><a href="/blog/tag/{{tag.slug}}/?page={{last_page}}"><span>last</span></a></li>
          {% if not last_page > current_page %}
          <li><a href="/blog/tag/{{tag.slug}}/?page={{current_page| add:"1"}}"><span>Next<i class="fa fa-angle-right pagination-next"></i></span></a>
          </li>
          {% endif %}
          {% elif year and month %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/blog/{{year}}/{{month}}/?page={{s}}"><span>{{s}}</span></a></li>
          {% endfor %}
          <li class="disabled"><a href=""><span>...</span></a></li>
          <li><a href="/blog/{{year}}/{{month}}/?page={{last_page}}"><span>last</span></a></li>
          {% if not last_page > current_page %}
          <li><a href="/blog/{{year}}/{{month}}/?page={{current_page| add:"1"}}"><span>Next<i class="fa fa-angle-right pagination-next"></i></span></a>
          </li>
          {% endif %}
          {% else %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/blog/?page={{s}}"><span>{{s}}</span></a></li>
          {% endfor %}
          <li class="disabled"><a href=""><span>...</span></a></li>
          <li><a href="/blog/?page={{last_page}}"><span>last</span></a></li>
          {% if last_page > current_page %}
          <li><a href="/blog/?page={{current_page| add:"1"}}"><span>Next<i class="fa fa-angle-right pagination-next"></i></span></a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        </div>
        <!--/ paginantion -->
      </div>
      <!-- blog row ends here -->
    </div>
    <!--/ container wrapper -->
    <!-- footer links starts here -->
{% endblock %}