{% extends 'site/blog/base.html' %}
{% load cache %}
{% load blog_tags %}
{% block title %}
{% if category %}{{category.name}} Blog | Best Coding Practices | {{category.name}} Updates - MicroPyramid{%else%}{{category}}
  Blog | MicroPyramid
{%endif%}
{% endblock %}
{% block meta-description %}
{% if category %}
 <meta property="og:title"  content="{{category.name}} Blog | Best Coding Practices | {{category.name}} Updates - MicroPyramid" />
{%else%}
 <meta property="og:title"  content="Blog | MicroPyramid" />

{%endif%}
{% if category %}
<meta name="description" content="Find latest updates and best practices of {{category.name}}. Read MicroPyramid {{category.name}} blogs and join in our discussions."/>
<meta property="og:description" content="Find latest updates and best practices of {{category.name}}. Read MicroPyramid {{category.name}} blogs and join in our discussions." />

{%else%}
  <meta name="description" content="{% for post in posts %} {{ post.title }}{% if not forloop.last %}, {% endif %}{% endfor %} - MicroPyramid." />
<meta property="og:description" content="{% for post in posts %} {{ post.title }}{% if not forloop.last %}, {% endif %}{% endfor %} - MicroPyramid." />

  {%endif%}
  {% if current_page|slugify == '1'|slugify %}
  {% else %}
    <link rel="prev" href="https://micropyramid.com{{ request.path }}?page={{current_page|add:"-1"}}">
  {% endif %}
  {% if current_page <= last_page %}
    {% if current_page == last_page %}
    {% else %}
      <link rel="next" href="https://micropyramid.com{{ request.path }}?page={{current_page| add:"1"}}">
    {% endif %}
  {% endif %}
{% endblock %}
{% block contact %}
  <span class="contact_mob pull-right">
  <i class="fa fa-comments"></i>
  </span>
{% endblock %}
{% block blogcontent %}
  {% include 'site/contact.html' %}
  <div id='container_wrapper'>
    <!-- blog row starts here -->
    <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="/blog/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Blog</span></a>
        </li>
        {% if category %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% url 'micro_blog:blog_category' category.slug %}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{category.name}}</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class=" row">
      <!-- blog categories archies starts here -->
      <div class="blog-categories-archives">
        <h4 class="blog-cat-archives text-center">Blog Categories & Archives</h4>
        <div class="categories">
          <ul class="text-center">
            <li><a href="/blog/category/django/" class="django"><img src="/static/site/images/django-b.png" height="33" width="87" alt="blog-category-djagno"></a></li>
            <li><a href="/blog/category/python/" class="python"><img src="/static/site/images/python_blog_logo.png" height="33" width="87" alt="blog-category-python"></a></li>
            <li><a href="/blog/category/mongodb/" class="mongo"><img src="/static/site/images/mongodb.png" height="33" width="87" alt="blog-category-mongodb"></a></li>
            <li><a href="/blog/category/server-management/" class="linux"><img src="/static/site/images/linux.png" height="33" width="87"></a></li>
            <li><a href="/blog/category/amazon-web-services/" class="amazon"><img src="/static/site/images/aws_blog_logo.png" height="33" width="87" alt="blog-categorya-ws"></a></li>
          </ul>
        </div>
        <div class="archives">
          <ul>
            {% get_archives as archives %}
            {% for archive in archives %}
            <li><a href="/blog/{{archive|date:"Y"}}/{{archive|date:"n"}}">{{ archive|date:"F Y" }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- blog categories archies ends here -->
      <!-- blog list starts here -->
      <div class="blog-container">
        {% for post in posts %}
        <div class="blog-item" itemscope itemType="http://schema.org/BlogPosting">
          <div class="post-date">
            <div class="date_daimond">
              {% if post.published_on %}
              <div class="text_wrap" itemprop="datePublished">
                <div class="month" >{{ post.published_on|date:"M" }}</div>
                <div class="day">{{ post.published_on|date:"d Y" }}</div>
              </div>
              {% else %}
              <div class="text_wrap" itemprop="dateModified">
                <div class="month" >{{ post.updated_on|date:"M" }}</div>
                <div class="day">{{ post.updated_on|date:"d Y" }}</div>
              </div>
              {% endif%}
            </div>
          </div>
          <div class="blog-right">
            <span class="blog-title" itemprop="headline"><a href="https://micropyramid.com/blog/{{post.active_slugs.0.slug}}/" itemprop="mainEntityOfPage">{{ post.title }}</a></span>
            {% if post.excerpt %}
              <p itemprop="description">{{ post.excerpt|linebreaks }}</p>
            {% else %}
              <p itemprop="description">{{post.content|safe|truncatewords:50}}</p>
            {% endif %}
            <ul class="post-det">
              <li><span itemprop="publisher">By {{ post.user.get_full_name }}</span></li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- blog list ends here -->
      <!-- pagination -->
          <div class="pagination_mp">
            {% get_page current_page last_page as pages %}
            <nav>
              <ul class="pagination">
                {% if current_page != 1 %}
                <li class="prev"><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{previous_page}}"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="prev"><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{prev_page}}"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page=1">first</a></li>
                {% endif %}
                {% for s in pages %}
                <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{s}}">{{s}}</a></li>
                {% endfor %}
                {% if current_page != last_page %}
                <li><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{last_page}}">last</a></li>
                <li><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{ aft_page }}"><i class="fa fa-angle-right pagination-next"></i></a></li>
                <li><a href="?{% if search_value %}search={{ search_value }}&{% endif %}page={{ after_page }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
      <!--/ paginantion -->
      <div class="blog-container">
          <div id="subscribe">
            <i class="fa fa-envelope-o subscribe_i"></i>
            <h3>Subscribe To our <span>news letter</span></h3>
            <div class="text">
              <div>Subscribe to our news letter to receive latest blog posts into your inbox. Please fill your email address in the below form.</div>
              <div><sub style="font-size: 21px;">*</sub>We don't provide your email contact details to any third parties</div>
            </div>
            <form id="subscribeform" name="subscribeform" method="post">
              <div class="form_fiv">
                <div class="input-group">
                  <input type="email" class="form-control" name="email"placeholder="Email Id" aria-describedby="basic-addon2">
                  <input type="hidden" name="is_blog" id="is_blog" value="True"/>
                  <input type="hidden" name="is_category" id="is_category" value="{% if category %}{{category.id}}{% elif post.category %}{{post.category.id}}{%endif%}"/>
                  <span class="input-group-addon" id="basic-addon2"><button type="submit">Subscribe !</button></span>
                </div>
                <span id="subscribe-email"></span>
              </div>
            </form>
          </div>
        </div>
    </div>
    <!-- blog row ends here -->
  </div>
  <!--/ container wrapper -->
  <!-- footer links starts here -->
{% endblock %}