{% extends 'admin/base.html' %} {% block stage %}
<div class="row marl main-content">
<h4>Change Password</h4>
<div class="row marl blog-form blog-new">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="" method="post" id="changepasswordform">
        {% csrf_token %}
        <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="form-group ">
            <label for="exampleInputEmail1">Old password</label>
            <input type="password" class="form-control" name="oldpassword" id="oldpassword">
          </div>
          <div class="form-group ">
            <label for="exampleInputEmail1">New password</label>
            <input type="password" class="form-control" name="newpassword" id="newpassword">
          </div>
          <div class="form-group ">
            <label for="exampleInputEmail1">Confirm password</label>
            <input type="password" class="form-control" name="retypepassword" id="retypepassword">
          </div>
          <div class="save-btn">
            <i class="fa fa-check-square-o"></i>
            <input type="submit" value="Submit" class="save" id="search_lessons">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
  $ = jQuery;
  $("form#changepasswordform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#changepasswordform").serialize(), function(msg) {
      if (msg.error) {
        $('p.failure').remove();
        for (var key in msg.response) {
          $('#' + key).after('<p class="failure">' + msg.response[key] + '</p>');
        }
      } else {
        alert(msg.response);
      }
    }, 'json');
  });
</script>
{% endblock %}