{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default columns2-form">
  <div class="panel-heading">
    <h3 class="panel-title">User Creation</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'micro_admin:new_user' %}" method="POST" id="userform">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="Text" class="form-control" id="first_name" name="first_name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="Text" class="form-control" id="last_name" name="last_name">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="Text" class="form-control" id="email" name="email">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">Date Of Birth</label>
        <input type="Text" class="form-control" id="date_of_birth" name="date_of_birth">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Role</label>
        <select class="form-control" id="user_roles" name="user_roles">
          {% for role in user_roles %}
          <option value="{{role.0}}">{{role.1}}</option>
          {% endfor %}
        </select>
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">Address</label>
        <textarea class="input-xlarge form-control" id="address" name="address" rows="10" placeholder="User Address"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">About</label>
        <textarea class="input-xlarge form-control" id="about" name="about" rows="10" placeholder="About the user"></textarea>
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">city</label>
        <input type="Text" class="form-control" id="city" name="city">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">state</label>
        <input type="Text" class="form-control" id="state" name="state">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">phones</label>
        <input type="Text" class="form-control" id="phones" name="phones">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">mobile</label>
        <input type="Text" class="form-control" id="mobile" name="mobile">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">pincode</label>
        <input type="Text" class="form-control" id="pincode" name="pincode">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Google Plus URL</label>
        <input type="Text" class="form-control" id="google_plus_url" name="google_plus_url">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">FB Profile</label>
        <input type="Text" class="form-control" id="fb_profile" name="fb_profile">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Twitter Profile</label>
        <input type="Text" class="form-control" id="tw_profile" name="tw_profile">
      </div>
      <br clear="all">
      <div class="form-group">
        <label for="exampleInputEmail1">Linkedin Profile</label>
        <input type="Text" class="form-control" id="ln_profile" name="ln_profile">
      </div>
      <div class="draft-box">
        <input type="checkbox" name="is_special" value="true">
        <label>Special Permission</label>
      </div>   
      <div class="draft-box">
        <input type="checkbox" name="is_active" value="true">
        <label>Active</label>
      </div>
      <div class="save-btn">
        <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
      </div>
    </form>
  </div>
</div>
<!-- main content ends here-->
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $(document).ready(function(){
  $("form#userform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#userform").serialize(), function(data) {
      console.log(data);
      if (data.error) {
        $('span.failure').remove();
        for (var key in data.response) {
          $('#' + key).after('<span class="failure">' + data.response[key] + '</span>');
        }
      } else {
        window.location = '/portal/users/';
      }
    }, 'json');
  });
  });
</script>
{% endcompress %}
<script>
  $(function() {
    $( "#date_of_birth" ).datepicker({
      showButtonPanel: true
    });
  });
  </script>
{% endblock %}
