{% extends 'admin/base.html' %} {% block stage %}
<!-- menu strats here-->
<!-- menu ends here-->
<!-- main content starts here-->
<div class="row marl main-content">
<h4>User Creation</h4>
<div class="row marl blog-form blog-new">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{% url 'micro_admin:new_user' %}" method="POST" id="userform">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="Text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="Text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="Text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Role</label>
          <select class="form-control" id="user_roles" name="user_roles">
            {% for role in user_roles %}
            <option value="{{role.0}}">{{role.1}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Google Plus URL</label>
          <input type="Text" class="form-control" id="google_plus_url" name="google_plus_url">
        </div>
        <div class="draft-box">
          <input type="checkbox" name="is_active" value="true">
          <label>Active</label>
        </div>
        <div class="save-btn">
          <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
  $(document).ready(function(){
  $("form#userform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#userform").serialize(), function(data) {
      if (data.error) {
        $('p.failure').remove();
        for (var key in data.response) {
          $('#' + key).after('<p class="failure">' + data.response[key] + '</p>');
        }
      } else {
        window.location = '/portal/users/';
      }
    }, 'json');
  });
  });
</script>
{% endblock %}