{% extends 'admin/base.html' %} {% block stage %}
{% load blog_tags %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reports Viewer</h3>
    <span>
      <a href="{% url 'employee:new_report' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Report </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="reports_list" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="8%">Employee</th>
            <th width="8%">Name</th>
            <th width="8%">Role</th>
            <th width="5%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <td><a href="{% url 'employee:view_report' pk=report.id %}">{{report.employee.email}}</a></td>
            <input type="hidden" id="user_id" name="user_id" value="{{ new_report.employee.id }}">
            <td class="txt_center">{{report.employee.first_name}}</td>
            <td class="txt_center">{{report.employee.user_roles}}</td>
            <td class="txt_center"><a href="{% url 'employee:edit_report' pk=report.id %}" class=" edit_anchor"><i class="fa fa-pencil-square-o"></i>Edit</a>
              <a href="{% url 'employee:delete_report' pk=report.id %}" class="delete_report delete_anchor" value="{{report.id}}"><i class="fa fa-trash-o"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_report').click(function(e){
      var value =$('#user_id').val();
      e.preventDefault();
      if (!confirm('Do you want to delete report?'))
        return;
      $.post('/portal/employee/reports/delete/'+$(this).attr('value')+'/',function(data){
        if(data.error)
        {
          alert(data.message);
        }
        else{
          window.location ='.';
        }

      },'json');
    });

    $('#reports_list').DataTable({
      "sPaginationType": "full_numbers" 
    });

  });
</script>
{% endblock %}