{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<!--CONTENT-->
<div class="row mt">
  <div class="widget widget-nopad">
    <div class="widget-header">
      <i class="fa fa-list-alt"></i>
      <h3> {{user.get_full_name|default:user.email}}'s Account Over view</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
      <div class="widget big-stats-container">
        <div class="widget-content">
          <div class="bigstats">
            <table class="table">
              <tr>
                <th><i class='fa fa-user'></i>First Name</th>
                <td>{{user.first_name}}</td>
              </tr>
              <tr>
                <th><i class='fa fa-user'></i>Second Name</th>
                <td>{{user.last_name}}</td>
              </tr>
              <th><i class='fa fa-envelope'></i>Email Id</th>
              <td class="mail_id">{{user.email}}</td>
              </tr>
              <tr>
                <th><i class='fa fa-phone'></i>Phone number</th>
                <td>{{user.mobile}}</td>
              </tr>
              <tr>
                <th><i class="fa fa-map-marker"></i>Address</th>
                <td>{{user.address}}</td>
              </tr>
            </table>
          </div>
          <div id="big_stats" class="cf">
            <div class="stat">
              <a href="{% url 'micro_admin:reports' user.id %}">
                <span class="posts_leaves">Reports</span>
                <i class="fa fa-file-text-o"></i>
                <span class="value">{{daily_reports.count|default:'0'}}</span>
              </a>
            </div>
            <div class="stat">
              <a href="{% url 'micro_admin:blogposts' user.id %}">
                <span class="posts_leaves">Blog Posts</span>
                <i class="fa fa-pencil-square-o"></i>
                <span class="value">{{blog_posts.count|default:'0'}}</span>
              </a>
            </div>
          </div>
        </div>
        <!-- /widget-content --> 
      </div>
    </div>
  </div>
</div>
<!--/CONTENT-->
{% endblock %}
<!-- main content ends here-->