@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	background:#2b95d1;
	}
.body-gradient{
	background: #3d464b; /* Old browsers */
	background: -moz-linear-gradient(left, #3d464b 50%, #2b95d1 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#3d464b), color-stop(50%,#2b95d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* IE10+ */
	background: linear-gradient(to right, #3d464b 50%,#2b95d1 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d464b', endColorstr='#2b95d1',GradientType=1 ); /* IE6-9 */	
}
.fn12{
	font-size:12px;
	font-weight:normal;
	}
.fn13{
	font-size:13px;
	font-weight:normal;
	}
.fn14{
	font-size:14px;
	font-weight:normal;
	}
.fb12{
	font-size:12px;
	font-weight:bold;
	}
.fb13{
	font-size:13px;
	font-weight:bold;
	}
.fb14{
	font-size:14px;
	font-weight:bold;
	}
.fb15{
	font-size:15px;
	font-weight:bold;
	}
.tup{
	text-transform:uppercase;
	}
.pull-right{
	float:right;
	}
.pull-left{
	float:left;
	}
img, img.scale-with-grid {
	outline: 0;
	max-width: 100%;
	height: auto;
	}
#wrapper{}
.row{width:100%;}
.marl{margin-left:0px;
margin-right:0px;
}
.login-row{
	
	}
.login-row .login-left{
	/*background:#3c464c;*/
	height:100%;
	padding:0% 10%;
	}
.login-row .login-right{
/*	background:#2b95d2;*/
	height:100%;
	padding:0% 2.5%;
	}
.login-left .logo{
	text-align:center;
	font-weight:bold;
	color:White;
	font-size:30px;
	text-shadow:1px 3px 6px #222;
	margin-top:90px;
	}
.login-left .logo span{
	display:inline-block;
	color:#2b95d2;
}
.login-left .form-heading{
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	font-size:14px;
	text-shadow:1px 3px 6px #222;	
}
.login-left .login-form{
	margin-top:40px;
	background:none;
	border-radius:3px;
	border:2px dashed #4b5960;
	padding:0px;
	color:#a0aeb7;	
}
.login-left .login-form .panel-body{
	padding:45px 15px;	
}
.login-left .login-form .form-control{
	background:#505f66;
	height:42px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid #29343a;
	color:#a0aeb7;
	outline:none;
}
.login-form ::-webkit-input-placeholder {
   color:#a0aeb7;
}

.login-form :-moz-placeholder { /* Firefox 18- */
   color:#a0aeb7;
}

.login-form ::-moz-placeholder {  /* Firefox 19+ */
   color:#a0aeb7;  
}

.login-form :-ms-input-placeholder {  
   color:#a0aeb7; 
}
.login-form .forgot-submit{
	
}
.login-form .forgot-submit .forgot{
	display:inline-block;	
}
.login-form .forgot-submit .forgot a{
 color:#a0aeb7; 	
}
.login-form .forgot-submit .submit{
	float:right;
	display:inline-block;
	background:#2b95d1;
	border-radius:2px;
}
.login-form .forgot-submit .submit a{
	color:#fff;
	display:inline-block;
	padding:6px 15px;
	text-shadow: 0px 2px 3px #005885;
}
.login-form .forgot-submit .submit a:hover{
	background: #005885;
	text-decoration:none;
}

.login-right #login-r8-blocks{
	margin-top:75px;	
}

#login-r8-blocks .login-r8-block{
	margin-bottom:10px;
	background:none;
	border:none;
	box-shadow:none;
	clear: both;
	position: relative;	
}
.login-r8-block .login-r8-icon{
	float:left;
	margin: 0px 25px 0px 0px;
	font-size:100px;
	display:inline-block;	
	width:20%;
}
.login-r8-block .login-r8-head-desc{
	float:left;
	width:74%;
	diusplay:inline-block;
}
.login-r8-head-desc h4{
	font-size:14px;
	font-weight:bold;
	margin-bottom:3px;
	}
.login-r8-head-desc p{
	font-weight:300;
	line-height:21px;
	font-size:13px;	
	text-align:justify;
}
header.top-header{
	background:#3d464b;
}
.logo-sign-row {
    background: none;
    border-bottom: 1px solid #d4d4d4;
}
.navbar { margin-bottom: 0px }
.navbar-default {
    background: none;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #fdb53f !important;
    font-weight: bold;
    padding-left: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 10px;
}
.navbar-default .navbar-nav>li>a:hover {
    border-radius: 2px;
    color: #fff;
    background: #fdb53f;
}
.navbar-nav { margin-top: 12px }
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    border-radius: 2px;
    color: #fff;
    background: #fbc71b;
}
.navbar-nav>li>.dropdown-menu {
    border-radius: 0px;
    padding: 0px;
    border: 1px solid #d1d1d1;
}
.dropdown-menu>li>a {
    color: #fff;
    background: #015786;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 9px 10px;
    border-bottom: 1px solid #0393cd;
}
.dropdown-menu>li>a:hover {
    background: #fff;
    color: #009ddc;
}.main-content{
	margin-bottom:40px;	
}
.main-content h4{
	font-weight:bold;	
	margin-top:15px;
}
.blog-form{
	margin-top:15px;	
}
.blog-form fieldset{
	border:1px dashed #fff;	
	padding:10px 15px;
}
.blog-form legend{
	background:#fbc71b;
	border-radius:3px;
	color:#393e42;
	font-weight:bold;
	font-size:13px;
	display:inline-block;
	padding:6px 10px;
	width:auto;
	border-bottom:none;
	margin-left:20px;	
}
.blog-form label{
	color:#ccedfb;
	font-size:13px;	
}
.blog-form .form-control{
	background:#015786;
	border-radius:1px;
	border:1px solid #fbc71b;
	color:#fff;
	font-size:13px;	
}
.blog-form .slug-text{
	display:block;
	border-radius:3px;
	border:none;
	background:#dfebf7;
	color:#015786;
	font-weight:bold;
	font-size:13px;
	padding:6px 6px;
	margin-top:4px;
}
.blog-form .text-editor{
}
.blog-form .tags-block{
	margin-top:20px;	
}
.blog-form div.tagsinput{
	background:#015786;
	border-radius:1px;
	border:1px solid #fbc71b;
	color:#fff;
	font-size:13px;
}
.blog-form .save-btn{
	display:inline-block;
	background:#134359;
	padding:0px;
	margin-top:20px;
}
.blog-form .save-btn i{
	background:#fbc71b;
	padding:7px;
	font-size:14px;	
}
.blog-form .save-btn .save{
	background:none;
	border:none;
	font-size:13px;
	padding-left:12px;
	padding-right:12px;
	font-weight:bold;
	box-shadow:none;	
}
/*.blog-form .save-btn .save:hover{
	background:#fbc71b;
	padding-top:5px;
	padding-bottom:5px;
	color:#393e42;			
}*/
.table-bordered table th{
	background:#f8f8f8;
	color:#959a9d;	
}
.table-bordered table td{
	background:#fff;
	color:#a2a6a9;
}

.table-bordered table .sec-col{
	color:#3794d9;
}
.blog-form .save-btn .enable-btn{
	background:none;
	border:#fbc71b;
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	box-shadow:none;
	padding-top:5px;
	padding-bottom:5px;
	
}
.table
{
	margin-bottom:0px;
}
.table-bordered table td>a>i.status-color{
	color:#F00;
	padding:5px;
}
.table-bordered table td>a>i.status-color-g{
	color:#1cac0f;
	padding:5px;
}
.table-bordered table td>a>i.edit-color{
	background:#fbc71b;
	color:#fff;
	padding:5px;
}
.table-bordered table td>a{
		padding-left:25px;
}
.table-bordered table td>a>i.trash-color{
	background:#f15c46;
	padding:5px;
	color:#fff;
}
.btn-default {
color: #fff;
background-color: #13425e;
border:none;
border-radius:0px;
margin:0px;
padding:-1px 0px;
}


@charset "utf-8";
/* CSS Document */

@media (min-width: 240px) and (max-width: 480px){ 
body{
	background:#2b95d1;	
}
.login-row .login-left{
	background:#3c464c;
	height:100%;
	padding:0% 10%;
	padding-bottom:50px;
	}
.login-row .login-right{
	background:#2b95d2;
	height:100%;
	padding:0% 2.5%;
	}

.login-r8-block .login-r8-icon{
	margin: 0px 25px 0px 0px;
	font-size:60px;
	width:20%;
}
.login-r8-block .login-r8-head-desc{
	float:left;
	width:70%;
	diusplay:inline-block;
}
header.top-header .inner-logo{
	text-align:center;
}
header.top-header .dates{
	text-align:center;
	padding-top:0px;	
}

.logo-sign-row {
        padding: 10px 0px;
        border: none;
        border-bottom: 3px solid #edf0f2;
    }
    .navbar-default .navbar-nav>li>a:hover { border-radius: 0px }
    .navbar-nav>li>.dropdown-menu {
        border-radius: 0px;
        padding: 0px;
        border: 1px solid #d1d1d1;
    }
    .dropdown-menu>li>a {
        color: #fff !important;
        background: #009ddc;
    }
    .dropdown-menu>li>a:hover {
        background: #fff;
        color: #009ddc !important;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        border-radius: 0px;
        color: #fff;
        background: #fdb53f;
    }
    .navbar-default .navbar-toggle { border: none }
    .navbar-default .navbar-toggle:hover {
        border: 1px solid  #99cc00;
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar { background: #99cc00 !important }
}
	
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)  {


 }
@media (min-width: 992px)  and (max-width :1199px) { 
.login-r8-block .login-r8-icon{
	margin: 0px 25px 0px 0px;
	font-size:75px;
	width:20%;
}
}
	
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width :991px) { 
.login-r8-block .login-r8-icon{
	margin: 0px 25px 0px 0px;
	font-size:60px;
	width:20%;
}
.login-r8-block .login-r8-head-desc{
	float:left;
	width:70%;
	diusplay:inline-block;
}
.login-r8-head-desc h4{
	font-size:14px;
	font-weight:bold;
	margin-bottom:3px;
	}
.login-r8-head-desc p{
	font-weight:300;
	line-height:21px;
	font-size:13px;	
	text-align:justify;
}

}

@media (min-width: 481px) and (max-width: 767px){ 
body{
	background:#2b95d1;	
}
.login-row .login-left{
	background:#3c464c;
	height:100%;
	padding:0% 10%;
	padding-bottom:50px;
	}
.login-row .login-right{
	background:#2b95d2;
	height:100%;
	padding:0% 2.5%;
	}
header.top-header .inner-logo{
	text-align:center;
}
header.top-header .dates{
	text-align:center;
	padding-top:0px;	
}
 .logo-sign-row {
        padding: 10px 0px;
        border: none;
        border-bottom: 3px solid #edf0f2;
    }
    .navbar-default .navbar-nav>li>a:hover { border-radius: 0px }
    .navbar-nav>li>.dropdown-menu {
        border-radius: 0px;
        padding: 0px;
        border: 1px solid #d1d1d1;
    }
    .dropdown-menu>li>a {
        color: #fff !important;
        background: #009ddc;
    }
    .dropdown-menu>li>a:hover {
        background: #fff;
        color: #009ddc !important;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        border-radius: 0px;
        color: #fff;
        background: #fdb53f;
    }
    .navbar-default .navbar-toggle { border: none }
    .navbar-default .navbar-toggle:hover {
        border: 1px solid  #99cc00;
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar { background: #99cc00 !important }
    .table-responsive {
        margin-top: 20px;
        border: none;
    }
	/*.blog-form .table-bordered{
			border:1px solid #ddd;
	}*/
}