{% load recurse %}
{% load menu %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}
      MicroPyramid | Django Web Application Development | Mobile App Development
      {% endblock %}
    </title>
    {% block meta-description %}
    <meta name="description" content="MicroPyramid python development company. Our ambit of service encompasses and is as vivid as e-commerce, web applications, news portals, community and job portals design &amp; development. We work on Python, Django, Mongodb, Responsive web design, CSS3, JavaScript, Jquery, Angularjs, Amazon web services" />
    {% endblock %}
    <meta name="keywords" content="Python, Django, Mongodb, Responsive web design, CSS3, JavaScript, Jquery, Angularjs, Amazon web services" />
    <meta name="author" content="micropyramid" />
    <meta name="robots" content="index, follow">
    <link rel="alternate" type="application/rss+xml" title="Python, Django, Mongodb, Responsive web design, CSS3, JavaScript, Jquery, Angularjs, Amazon web services Development Company - Hyderabad, India &raquo; Feed" href="https://www.micropyramid.com/rss.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra-head %}
    {% endblock %}
    {% load compress %}
    <link rel="shortcut icon" href="/static/favicon.png">
    <!-- google fonts starts here-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800' rel='stylesheet' type='text/css'>
    <!-- google fonts ends here-->
    <!-- css starts here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% compress css %}
    <link rel="stylesheet" href="/static/site/less/pace/pace-theme-flash.less" type="text/less">
    <link href="/static/site/less/style.less" rel="stylesheet" type="text/less">
    <link href="/static/site/less/tag.less" rel="stylesheet" type="text/less">
    <link rel="stylesheet" type="text/css" href="/static/site/css/menu.css">
    <link rel="stylesheet" type="text/x-scss" href="/static/site/scss/main_dt.scss">
    {% endcompress %}
    {% block extra-styles %}
    {% endblock %}
    <!-- css ends here -->
    <!-- scripts starts here -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"></script>
    <!-- scripts ends here -->
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{request.session.google_analytics_code}}', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- push menu -->
    <div class="mp-pusher" id="mp-pusher">
      <!-- mp-menu -->
      <nav id="mp-menu" class="mp-menu">
        {% include 'site/side-bar-menu.html' %}
      </nav>
      <!-- /mp-menu -->
      <div class="scroller">
        <!-- this is for emulating position fixed of the nav -->
        <div class="scroller-inner">
          <!-- Top Navigation -->
          <div class="codrops-top clearfix">
          </div>
          <div class="content clearfix">
            <!-- mobile_menu wrap -->
            <div id='mob_menu'>
              <!-- row -->
              <div class="row">
                <span class='menu_navigator' id='trigger'>
                <i class='fa fa-reorder'></i>
                </span>
                <!-- logo -->
                <div class="logo">
                  <div class='image_wrap'><img src='/static/site/images/new/company_logo.gif'></div>
                </div>
                <!--/ logo -->
              </div>
              <!-- row -->
            </div>
            <!--/ mobile_menu wrap -->
            <!-- menu -->
            <div id='base_menu' class='fixed_menu'>
              <span class="logo">
                <img src='/static/site/images/new/company_logo.gif'>
              </span>
              <ul>
                <li><a href="/">Home</a></li>
                <li>
                  <a>Portfolio</a>
                  <ul>
                    <li><a>Web Design</a></li>
                    <li><a>Development</a></li>
                    <li><a>About MP</a></li>
                  </ul>
                </li>
              </ul>
              {% get_menus as menu_list %}
              {% recurse menu.menu_set.all|dictsort:"lvl" with menu_list as menu %}
              <ul>
                {% loop %}
                  <li><a href="{{menu.url}}">{{menu.title}}</a>
                  {% child %}
                  </li>
                {% endloop %}
              </ul>
              {% endrecurse %}
            </div>
            <!--/ menu -->

            {% block stage %}
            {% endblock %}

            {% block footer %}
            <!-- footer links starts here -->
            <div class="row marl" id="footer-links-mp">
              <div class="container">
                <div class="col-md-6 col-sm-12 footer-links">
                  {% recurse menu_item.headerlinks_set.all with menu_list as menu_item %}
                  <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    {% loop %}
                      <li><a href="{{menu_item.url}}">{{menu_item.title|capfirst}}</a></li>
                    {% child %} {% endloop %}
                    <li><a href="/sitemap/">Sitemap</a></li>
                  </ul>
                  {% endrecurse %}
                </div>
                <div class="col-md-6 col-sm-12 footer-mp">
                  Developed by Micropyramid.com using Django, Bootstrap and PostgreSQL
                </div>
              </div>
            </div>
            <!-- footer links ends here -->
            {% endblock %}
          </div>
        </div>
        <!-- /scroller-inner -->
      </div>
      <!-- /scroller -->
    </div>
    <!-- /pusher -->
    <!--/ push menu -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% compress js %}
    <script src="/static/site/js/jquery.form.js" defer></script>
    <script src="/static/site/js/functions.js" defer></script>

    <script type="text/javascript" src="/static/site/js/pace/pace.min.js"></script>
    <script type="text/javascript" src="/static/site/js/bootstrap.js"></script>
    <script type="text/javascript" src='/static/site/js/main_dt.js'></script>
    <script type="text/javascript" src='/static/site/js/modernizr.custom.js'></script>
    <script type="text/javascript" src='/static/site/js/classie.js'></script>
    <script type="text/javascript" src='/static/site/js/mlpushmenu.js'></script>
    <script type="text/javascript">
      new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
    </script>
    <script type="text/javascript">
      $('.daimond_work').click(function(e){
        $(this).hover();
      });
    </script>
    <script type="text/javascript">
      $("form#contactform").submit(function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          dataType: 'json',
          url: "/contact/",
          data: $('#contactform').serialize(), // from form
          success: function(data) {
            if (data.error) {
              console.log(data)
              console.log("post contact page")
              $('p.failure').remove();
              for (var key in data.errinfo) {
                $('#' + key).after('<p class="failure" style="color:red;">' + data.errinfo[key] + '</p>');
              }
            } else {
              alert("Your message has been successfully sent. We will contact you very soon!");
              window.location = ".";
            }
          }
        });
        return false;
      });
    </script>
    {% endcompress %}
  </body>
</html>
