{% extends 'site/base.html' %}
{% load compress %}
{% load user_tags %}

{% block title %} Books | MicroPyramid {% endblock %}
{% block meta-description %}
  <meta name="description" content="Books - MicroPyramid." />
{% endblock %}

{% block extra-styles %}
  {% compress css %}
    <link href="/static/site/less/books.less" rel="stylesheet" type="text/less">
  {% endcompress %}
{% endblock %}

{% block stage %}
<div class="scroller" id='container_wrapper'>
    <!-- Books starts here -->
    <div class="row marl books-row">
      <div class="container">
        <div class="row marl">
          <div class="portfolioContainer">
            {% if books %}
              {% for book in books %}
                <!-- book item starts here -->
                <div class="col-md-3 col-sm-4 col-xs-12 book-block">
                  <div class="book-item">
                    <div class="book-title pink-red">
                      {% ifequal book.visibilty 'private'%}
                        <div class="book-privacy-flap"> Private </div>
                      {% endifequal %}
                      <a href="{{ book.folder_name }}/index.html">{{ book.name }}</a>
                    </div>
                    <div class="book-description">
                      {{book.description}}
                    </div>
                    <div class="date-time">
                      <i class="fa fa-clock-o"></i> Last Updated on {{ book.updated_date|date:"b d, Y" }}
                    </div>
                  </div>
                </div>
                <!-- book item ends here -->
              {% endfor %}
            {% else %}
              <span>No books available</span>
            {% endif %}
          </div>
      </div>
    </div>
    <!-- Books ends here -->
</div>
{% endblock %}
{% block footer %}
{% endblock %}
