{% extends 'site/base.html' %}
{% block stage %}
<!-- container wrapper -->
<div>
  <!-- career -->
  <div id='careers'>
    <!-- banner -->
    <div class='banner'>
      <div class="logo"><img src='/static/site/images/mp_logo_white.png'></div>
      <div class="content_wrap">
        <!-- text_div -->
        <div class="text_part text-center col-md-offset-1 col-md-10 col-md-offset-1">
          <span>Careers</span>
          <span class="hint">If the first step of your career goes right, then rest of your career will be bright.</span>
          <br clear="all">
        </div>
        <!--/ text div -->
        <div class="text-center col-md-offset-1 col-md-10 col-md-offset-1">
          <div class="job-techs">
            <ul class="technologies list-inline">
              <li><span class="logo_pic"><img src="/static/site/images/jquery.png"></span>Jquery</li>
              <li><span class="logo_pic"><img src="/static/site/images/js.png"></span>Javascript</li>
              <li><span class="logo_pic"><img src="/static/site/images/angular-js-tech.png"></span>Angularjs</li>
              <li><span class="logo_pic"><img src="/static/site/images/json.png"></span>JSON</li>
              <li><span class="logo_pic"><img src="/static/site/images/Rest-Framework.png"></span>REST</li>
              <li><span class="logo_pic"><img src="/static/site/images/htmlcss.png"></span>Html5 & CSS3</li>
              <li ><span class="logo_pic"><img src="/static/site/images/gimp-logo.png"></span> GIMP</li>
              <li ><span class="logo_pic"><img src="/static/site/images/mongodb-logo.png"></span>MongoDB</li>
              <li ><span class="logo_pic"><img src="/static/site/images/django-logo-positive.png"></span>Django</li>
              <li><span class="logo_pic"><img src="/static/site/images/aws-tech.png"></span>Amazon web services</li>
              <li ><span class="logo_pic"><img src="/static/site/images/MySQL.svg.png"></span>Mysql</li>
              <li><span class="logo_pic"><img src="/static/site/images/android.png"></span>Android</li>
              <li ><span class="logo_pic"><img src="/static/site/images/ios-logo.png"></span>IOS</li>
              <li ><span class="logo_pic"><img src="/static/site/images/celery.jpg"></span>Celery</li>
              <li ><span class="logo_pic"><img src="/static/site/images/haystack.png"></span>Haystack</li>
              <li ><span class="logo_pic"><img src="/static/site/images/elastic-tech.png"> </span>Elastic Search</li>
              <li ><span class="logo_pic"><img src="/static/site/images/bootstrap-tech.png"></span>bootstrap</li>
              <li ><span class="logo_pic"><img src="/static/site/images/less.png"></span>less</li>
              <li><span class="logo_pic"><img src="/static/site/images/sass.png"></span>scss</li>
              <li ><span class="logo_pic"><img src="/static/site/images/git.png"></span>GIT</li>
              <li ><span class="logo_pic"><img src="/static/site/images/Heroku_logo.png"></span>Heroku</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--/ banner -->
    <!-- about us -->
    <div class="about_us">
      <div class="daimond"><i class='fa fa-question'></i></div>
      <!-- title -->
      <div class="title">
        <span>Who are</span> <span class='green'>We</span><span> ?</span>
      </div>
      <!--/ title -->
      <div class="content">
        MicroPyramid is one of the foremost providers of software, education, streaming, banking and recruiting services. From the beginning,  the company was founded on the principle of building and implementing great ideas that drive progress for clients and enhance lives through enterprise solutions. We have been a company focused on bringing to life great ideas and enterprise solutions that drive progress for our clients. With a team of innovatory web designers and competent web developers in various web technologies. We render a wide range of solutions to simplify your complex applications. As of now we delivered software in banking, accounting, music, education, travel, recruiting sectors and working on few SAAS apps now.
        We follow perfect mix of development process agile + scrum. This will give us boost in delivering software in time with high quality. We attain quality by implementing our own coding practices tailored with ever learning and experience. Our quality gets better every day.
      </div>
    </div>
    <!--/ about us -->
    <!-- culture -->
    <div class="our_culture">
      <!-- title -->
      <div class="title">
        <span>MicroPyramid</span> <span class="green">Benifits</span>
        <div class="jobs_wrap">
          <!-- job_each -->
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="job_each">
              <!-- icon div -->
              <div class="icon_div">
                <span class="icon_wrap">
                <i class="fa fa-share-alt"></i>
                </span>
              </div>
              <!--/ icon div -->
              <!-- description -->
              <div class="description">
                <div class="designation">Social</div>
                <div class="job_desc">
                  Objectively brand end-to-end vortals before multifunctional processes. Objectively synergize seamless methods of empowerment after state of the art outsourcing. Collaboratively deliver viral markets for interdependent internal or "organic" sources. Progressively seize standards compliant data without alternative leadership. Compellingly disseminate stand-alone methodologies for orthogonal schemas. Competently formulate fully tested methods.
                </div>
              </div>
              <!--/ description -->
            </div>
          </div>
          <!--/ job each -->
          <!-- job_each -->
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="job_each">
              <!-- icon div -->
              <div class="icon_div">
                <span class="icon_wrap">
                <i class="fa fa-suitcase"></i>
                </span>
              </div>
              <!--/ icon div -->
              <!-- description -->
              <div class="description">
                <div class="designation">Professional</div>
                <div class="job_desc">
                  Objectively brand end-to-end vortals before multifunctional processes. Objectively synergize seamless methods of empowerment after state of the art outsourcing. Collaboratively deliver viral markets for interdependent internal or "organic" sources. Progressively seize standards compliant data without alternative leadership. Compellingly disseminate stand-alone methodologies for orthogonal schemas. Competently formulate fully tested methods.
                </div>
              </div>
              <!--/ description -->
            </div>
          </div>
          <!--/ job each -->
          <!-- job_each -->
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="job_each">
              <!-- icon div -->
              <div class="icon_div">
                <span class="icon_wrap">
                <i class="fa fa-male"></i>
                </span>
              </div>
              <!--/ icon div -->
              <!-- description -->
              <div class="description">
                <div class="designation">Personal</div>
                <div class="job_desc">
                  Objectively brand end-to-end vortals before multifunctional processes. Objectively synergize seamless methods of empowerment after state of the art outsourcing. Collaboratively deliver viral markets for interdependent internal or "organic" sources. Progressively seize standards compliant data without alternative leadership. Compellingly disseminate stand-alone methodologies for orthogonal schemas. Competently formulate fully tested methods.
                </div>
              </div>
              <!--/ description -->
            </div>
          </div>
          <!--/ job each -->
          <br clear="all">
        </div>
      </div>
      <!--/ title -->
    </div>
    <!--/ culture -->
    <!-- openings -->
    <div class="openings">
      <!-- title -->
      <div class="title">
        <span>Current</span> <span class="green">Openings</span>
      </div>
      <!--/ title -->
      <!-- openings div -->
      <div class="openings_wrap">
        <!-- job_each -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="job_item text-left">
            <span class="job_title">Python Developer</span>
            <span class="job_exp"><strong>Job Role:</strong> Software Developer </span>
            <span class="job_package"><strong>Job Experience:</strong> Fresher </span>
            <span class="job_desc"><strong>Job description:</strong> 
            Candidate should have strong knowledge of C. Should have good communication Skills. Knowledge of python/django will be an added advantage. Willing to learn open source technologies. Strong analytical and creative problem-solving skills. Preferably immediate joiners.
            </span>
            <span class="apply_btn"><a href="https://peeljobs.com/job-openings-Python-Developer-0-to-0-years-1046/" target="_blank">Apply Job</a></span>
          </div>
        </div>
        <!--/ job each -->
        <!-- job_each -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="job_item text-left">
            <span class="job_title">Immediate Opening for SEO Analyst</span>
            <span class="job_exp"><strong>Job Role:</strong> Search Engine Optimisation </span>
            <span class="job_package"><strong>Job Experience:</strong> 2 - 2.5 Years </span>
            <span class="job_desc"><strong>Job description:</strong> 
            Review & analyze client sites for areas that need to be improved. Provide SEO analysis & recommendations in coordination with elements and structure of websites and web pages. Knowledge of various SEO Sites, Blogs & Forums that play a key role in Updating the Knowledge base and Techniques used in Current Scenario.
            </span>
            <span class="apply_btn"><a href="https://peeljobs.com/job-openings-Immediate-Opening-For-Seo-Analyst-2-to-2-years-20/" target="_blank">Apply Job</a></span>
          </div>
        </div>
        <!--/ job each -->
        <!-- job_each -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="job_item text-left">
            <span class="job_title">Junior Web Developer</span>
            <span class="job_exp"><strong>Job Role:</strong> Designing </span>
            <span class="job_package"><strong>Job Experience:</strong> 0 - 1 Years </span>
            <span class="job_desc"><strong>Job description:</strong> 
            Create a user-friendly interface using HTML5, CSS3 and JavaScript. Experience with browser-side performance tuning and strong understanding and working in Cross-Browser compatibility including mobile browsers. Develop conceptual diagrams, wireframes, visual mockups and prototypes.            
            </span>
            <span class="apply_btn"><a href="https://peeljobs.com/job-openings-Junior-Web-Developer-0-to-1-years-1045/" target="_blank">Apply Job</a></span>
          </div>
        </div>
        <!--/ job each -->
        <div class="clearfix"></div>
      </div>
      <!--/ openings div -->
    </div>
    <!--/ openings -->
  </div>
  <!--/ career -->
</div>
<!--/ container wrapper -->
{% endblock %}