    <!--contact us -->
    <span class="conatact_us_icon">
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>T</span>
    <span>A</span>
    <span>C</span>
    <span>T</span>

    </span>
    <div class="overlay_contact"></div>
    <div class="contact_div_wrap">
      <!-- close_contact -->
      <div class="close_contact">x</div>
      <!--/ close_contact -->
      <!-- title -->
      <div class="title_div">
        <div class="daimond"></div>
        <div class="daimond"></div>
        <div class="daimond"></div>
        <h3>Need to talk to <span>Us?</span></h3>
      </div>
      <!--/ title -->
      <!-- address -->

      <div class="col-md-12">
      <!--<p class="form-hint">For any enquiries, please leave us a message and we’ll reply to you quickly.</p>-->
           <!-- form -->
      <form id="contactform" name="contactform" method="post" action="/contact-india/">
        <div class="form_div">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Name">
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" name="enquery_type">
                <option value="general">Request For Services</option>
                <option value="partnership">Partnership Queries</option>
                <option value="media">Media Queries</option>
                <option value="general queries">General Queries</option>
                <option value="feedback">Website Feedback</option>
                <option value="others">Others</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" id="country" name="country" placeholder="Country">
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" rows="10" id="message" name="message" placeholder="Your Message"></textarea>
            </div>
            <div  class="form-group col-xs-12 form-field wow fadeInUp animated captcha" style="margin-bottom: 26px;">
              <label>&nbsp;</label>
              <div class="button_div">
                <div class="g-recaptcha" data-sitekey="{{request.session.google_captcha_key}}"></div>
              </div>
            </div>

          <div class="button_row">
          <button class='submit_contact' type="submit"><i class='fa fa-paper-plane-o'></i> Send
          </button></div>
        </div>
      </form>
      <!--/ form -->
      </div>

      <div class="clearfix"></div>
    </div>
    <!--/ contact us -->
  <script src='https://www.google.com/recaptcha/api.js'%}></script>
