{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}

<!-- container wrapper -->
<div id='container_wrapper'>
<div class="container">	
 <!-- inner_content_row starts here -->
 <div class="row inner_content_row">
		<div class="col-md-9 col-sm-8 col-xs-12 left_detailer">
			<div class="left_heading">What We Do</div>
			<div class="description">
				<p>With versatile opensource software development experience, we have engineered web applications in banking, education, SEO, employment, music, CRM, Shopping, Gifting, Hotel reservations and Tourism sectors with high performance, secure and feature rich web development as our core competency.</p>
				<p>We choose django web development is the way to develop and deliver to meet client needs in challenging time frame with performance and security.</p>
				<p>SalesForce CRM solutions are being developed by our experts to empower ever changing demands of our client business needs.</p>
				<p>Our ever learning curve shaping better services every day for our clients under constant maintenance. With dedicated research, we ensure quality and industry's bleeding edge technologies to solve your problems. Performance tuning, security hardening and monitoring web applications are vital in managing heavy traffic and feature rich web sites.</p>
				<p>By leveraging cloud technologies from Amazon Web Services we are able to design failsafe infrastructures for our clients with 24x7 monitoring and auto scaling of server capacity.</p>
	

					<ul>
             <li>Low cost as there is no capital <a href="#">Link comes here </a> investment </li>
             <li>Infrastructure set-up within minutes with its high speed </li>
             <li>Application deployment time reduced from two months to three days</li>
             <li>Users can add or remove a service at anytime with the flexibility provided by AWS.</li>
             <li>Since the users can use various services at any point of time to their leverage hence they can experiment with many products and services and benefit out of them.</li>
             <li>Users can reach global network within minutes and deploy their App globally.</li>
             <li>Build up a complex IT network easily.</li>
          </ul>

			</div>

			<div class="left_heading inner_links_heading">Child Links, You can visit</div>
				<ul class="child_links">
           <li><a href="#">Web Design</a></li>
           <li><a href="#">Web Development</a></li>
           <li><a href="#">Testing Services</a></li>
           <li><a href="#">Sales Force</a></li>
           <li><a href="#">Amazon Web Services</a></li>
           <li><a href="#">Database Testing Services</a></li>
           <li><a href="#">Dev Ops</a></li>
           <li><a href="#">QA Testing</a></li>
           <li><a href="#">Database Administration</a></li>
        </ul>

		</div>

		<div class="col-md-3 col-sm-4 col-xs-12 right_detailer">
			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="contact_block">
					<div class="heading">Let's Talk</div>
					<form>
						<div class="form-group">
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Id">
					  </div>
					  <div class="form-group">
					    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
					  </div>
					  <div class="form-group">
					    <textarea class="form-control textarea" rows="3" placeholder="Message Here"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Get Contact Us</button>
					</form>
				</div>
			</div>
			<!-- right_portion ends here -->

			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="open_source_container">
					<div class="heading">Open Source Contributors</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
						<p>Looking good, but maybe the video should be slower? otherwise it may :)</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
						<p>However, XSS attacks can originate from any untrusted source of data, such as ...</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
						<p> with Wagtail - an open source content management system written in Python. ... It </p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
						<p>Loading Templates Based on Request Headers in Django class= ... I started </p>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="related_articles open_source_container">
					<div class="heading">Related Articles</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
						<small>March 24th, 2017</small>
						<p>Looking good, but maybe the video should iness :)</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
						<small>Feb 24th, 2017</small>
						<p>However, XSS attacks can originatource of data, such as ...</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
						<small>Aug 24th, 2017</small>
						<p> with Wagtail - an open sourctem written in Python. ... It </p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
						<small>Nov 24th, 2017</small>
						<p>Loading Templates BasI started </p>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

				<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="related_services open_source_container">
					<div class="heading">Related Services</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

		</div>
 </div>
 <!-- inner_content_row ends here -->
</div>
</div>
<!--/ container wrapper -->
{% endblock %}
