{% extends 'site/base.html' %}
{% load i18n %}

{% block title %}
  {% trans '404' %} | {% trans 'Page not found' %} | {{ block.super }}
{% endblock %}

{% block stage %}

<!-- container wrapper -->
<div id='container_wrapper' class="service_page_container">
<div class="container">	
 <!-- inner_content_row starts here -->
 <div class="row inner_content_row">
		<div class="col-md-9 col-sm-8 col-xs-12 left_detailer">
			<div class="left_heading text-center">What We Do</div>
			<div class="heading_hint text-center">One type of sweet orange is called the "blood orange" or "sanguine orange" (sanguine means blood red). These oranges often have red marks on the skin, and some parts of the inside. </div>
			<div class="description">

				<div class="row grid_row">
					<div class="col-md-6 col-sm-6 grid_item">
						<div class="grid_block">
							<div class="i_fa"><i class="fa fa-cogs"></i></div>
							<div class="title">Design Proof Planning</div>
							<div class="desc">Fruitful Fruit hath, fruitful said him created bring set, behold darkness fish seasons itself given likeness upon bring to fill their their.</div>
						</div>
					</div>

						<div class="col-md-6 col-sm-6 grid_item">
						<div class="grid_block">
							<div class="i_fa"><i class="fa fa-cogs"></i></div>
							<div class="title">Design Proof Planning</div>
							<div class="desc">Fruitful Fruit hath, fruitful said him created bring set, behold darkness fish seasons itself given likeness upon bring to fill their their.</div>
						</div>
					</div>

						<div class="col-md-6 col-sm-6 grid_item">
						<div class="grid_block">
							<div class="i_fa"><i class="fa fa-cogs"></i></div>
							<div class="title">Design Proof Planning</div>
							<div class="desc">Fruitful Fruit hath, fruitful said him created bring set, behold darkness fish seasons itself given likeness upon bring to fill their their.</div>
						</div>
					</div>

						<div class="col-md-6 col-sm-6 grid_item">
						<div class="grid_block">
							<div class="i_fa"><i class="fa fa-cogs"></i></div>
							<div class="title">Design Proof Planning</div>
							<div class="desc">Fruitful Fruit hath, fruitful said him created bring set, behold darkness fish seasons itself given likeness upon bring to fill their their.</div>
						</div>
					</div>
				</div>

				<div class="image_content_grid row text-right">
					<div class="content col-md-6">
					<div class="pad_right">
							<span class="sml_head">dribbblers</span>
							<span class="head">Cool animation !</span>
							<div class="content">What makes you inspired? If it's visual arts, then perhaps we will share some inspiration with you via our fresh shot. It adds another view on the design concept for Night in Berlin, the simple app which enables active and sociable people to see the list of all the ee we present its animated version showing the interactions. </div>
						</div>
					</div>

					<div class="image col-md-6">
						<img src="https://d13yacurqjgara.cloudfront.net/users/418188/screenshots/3304909/night_in_berlin_animation_tubik.gif" class="img-responsive" />
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="image_content_grid row text-left">
						<div class="image col-md-6">
							<img src="https://d13yacurqjgara.cloudfront.net/users/418188/screenshots/3311113/night_in_berlin_interactions_tubik_animation.gif" class="img-responsive" />
						</div>
					 <div class="content col-md-6">
					 	<div class="pad_left">
							<span class="sml_head">dribbblers</span>
							<span class="head">Cool animation !</span>
							<div class="content">What makes you inspired? If it's visual arts, then perhaps we will share some inspiration with you via our fresh shot. It adds another view on the design concept for Night in Berlin, the simple app which enables active and sociable people to see the list of all the ee we present its animated version showing the interactions. </div>
						</div>
					</div>

					
				</div>


			</div>

			<div class="left_heading inner_links_heading">Child Links, You can visit</div>
				<ul class="child_links">
           <li><a href="#">Web Design</a></li>
           <li><a href="#">Web Development</a></li>
           <li><a href="#">Testing Services</a></li>
           <li><a href="#">Sales Force</a></li>
           <li><a href="#">Amazon Web Services</a></li>
           <li><a href="#">Database Testing Services</a></li>
           <li><a href="#">Dev Ops</a></li>
           <li><a href="#">QA Testing</a></li>
           <li><a href="#">Database Administration</a></li>
           <br clear="all">
        </ul>

		</div>

		<div class="col-md-3 col-sm-4 col-xs-12 right_detailer">
			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="contact_block">
					<div class="heading">Let's Talk</div>
					<form>
						<div class="form-group">
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Id">
					  </div>
					  <div class="form-group">
					    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
					  </div>
					  <div class="form-group">
					    <textarea class="form-control textarea" rows="3" placeholder="Message Here"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Get Contact Us</button>
					</form>
				</div>
			</div>
			<!-- right_portion ends here -->

			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="open_source_container">
					<div class="heading">Open Source Contributors</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
						<p>Looking good, but maybe the video should be slower? otherwise it may :)</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
						<p>However, XSS attacks can originate from any untrusted source of data, such as ...</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
						<p> with Wagtail - an open source content management system written in Python. ... It </p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
						<p>Loading Templates Based on Request Headers in Django class= ... I started </p>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

			<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="related_articles open_source_container">
					<div class="heading">Related Articles</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
						<small>March 24th, 2017</small>
						<p>Looking good, but maybe the video should iness :)</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
						<small>Feb 24th, 2017</small>
						<p>However, XSS attacks can originatource of data, such as ...</p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
						<small>Aug 24th, 2017</small>
						<p> with Wagtail - an open sourctem written in Python. ... It </p>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
						<small>Nov 24th, 2017</small>
						<p>Loading Templates BasI started </p>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

				<!-- right_portion starts here -->
			<div class="right_portion">
				<div class="related_services open_source_container">
					<div class="heading">Related Services</div>
					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Security In Django</a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django Web Styleguide </a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Django CORS</a></b>
					</div>

					<div class="item_block">
						<b><a href="#"><i class="fa fa-check"></i> Loading Templates Based on Request</a></b>
					</div>


				</div>
			</div>
			<!-- right_portion ends here -->

		</div>
 </div>
 <!-- inner_content_row ends here -->
</div>
</div>
<!--/ container wrapper -->
{% endblock %}
