{% extends 'site/base.html' %}
{% block stage %}
<!-- banner starts here-->

<link rel="stylesheet" type="text/css" href="/static/site/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/site/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/site/css/component.css" />
<div class="row marl banner-row">
  <div class="slideshow" id="slideshow">
    <ol class="slides">
      <li class="current" data-effect-out="moveDownOut">
        <div class="description">
          <h2>Website Designing</h2>
          <p>Our web designing team develop all designs with own care and commitment to the brand's nature and target users. By usig photoshop, GIMP, bootstrap, jquery, angularjs, fontawesome, We have developed amazing designs, layouts and interfaces.</p>
        </div>
        <div class="tiltview col">
          <a href="#">
            <img src="/static/site/images/responsive.png">
          </a>
        </div>
      </li>
      <li data-effect-in="slideDownIn" >
        <div class="description">
          <h2>Cloud Computing</h2>
          <p>With 5 Years of experience on Amazon web services we have proven expertise on developing and managing applications on cloud services. Amazon Web Services : EC2, SES, SNS, RDS, Route53, S3, CloudFront, Beanstalk
          </p>
        </div>
        <div class="tiltview row">
          <a href="#">
            <img src="/static/site/images/1-c-n.png">
          </a>
        </div>
      </li>
      <li>
        <div class="description">
          <h2>Social apps development and integration</h2>
          <p>We can offer facebook, twitter, google+, github, linkedin, stackoverflow integrations as of now and our learning never stops to enhance your products or services.</p>
        </div>
        <div class="tiltview col">
          <a href="#">
            <img src="/static/site/images/social.png">
          </a>
        </div>
      </li>
      <li>
        <div class="description">
          <h2>Server Management</h2>
          <p>MicroPyramid can manage your server to harden security to withstand DDoS attacks and other attacks based on exploits in your applications.</p>
        </div>
        <div class="tiltview row">
          <a href="#">
            <img src="/static/site/images/server.png">
          </a>
        </div>
      </li>
    </ol>
  </div>
</div>
<script type="text/javascript" src="/static/site/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/static/site/js/classie.js"></script>
<script type="text/javascript" src="/static/site/js/tiltSlider.js"></script>
<script>
  new TiltSlider( document.getElementById( 'slideshow' ) );
</script>
<!-- banner ends here-->
<!-- sec-about starts -->
<section id="about-holder">
  <div class="row marl">
    <div class="container">
      <div class="col-lg-6 col-sm-6 col-xs-12 about-left-col">
        <div class="about-head ">
          <h3 class=" wow  flipInY animated" data-wow-duration="0.5s" data-wow-delay="2s" >About Us</h3>
          <p class=" wow  flipInY animated" data-wow-duration="1s" data-wow-delay="2s" >MicroPyramid Services which includes Cloud, Consulting, Education and Support Services. MicroPyramid supports every phase of the business lifecycle to ensure that technology, business processes, training and support work together and in alignment with each customer’s strategic goals.</p>
        </div>
        <div class="about-img  wow  flipInY animated" data-wow-duration="1.5s" data-wow-delay="2s" ><img src="/static/site/images/responsive.png" /></div>
        <div class="about-desc  wow  flipInY animated" data-wow-duration="2s" data-wow-delay="2s" >
          <p>Focusing on “power of open source” as its corporate philosophy and brand commitment, micropyramid, a software technology company, has been engaged in building its core competence to create value for customers and society.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-12 about-right-col">
        <div class="row">
          <!-- about_single starts -->
          <div class="col-sm-12 about_single  wow  flipInX animated animated_visible animated" data-wow-duration="0.5s" data-wow-delay="1s" >
            <div class="icon_holder">
              <i class="fa fa-coffee"></i>
            </div>
            <div class="about_right">
              <h4>Process</h4>
              <p>We follow perfect mix of development process agile + scrum. This will give us boost in delivering software in time with high quality.</p>
            </div>
          </div>
          <!-- about_single ends -->
          <!-- about_single starts -->
          <div class="col-sm-12 about_single wow  flipInX animated animated_visible animated" data-wow-duration="1s" data-wow-delay="1s" >
            <div class="icon_holder">
              <i class="fa fa-trophy"></i>
            </div>
            <div class="about_right">
              <h4>Methods</h4>
              <p>We attain quality by implementating our own coding practices tailored with ever learning and experience. Our quality gets better every day.</p>
            </div>
          </div>
          <!-- about_single ends -->
          <!-- about_single starts -->
          <div class="col-sm-12 about_single wow  flipInX animated animated_visible animated" data-wow-duration="1.5s" data-wow-delay="1s">
            <div class="icon_holder">
              <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="about_right">
              <h4>Commitment</h4>
              <p>We are commited to dleiver high quality code in terms of best coding practices, performance, security, user interface and stability. We are commited to give 24/7 support.</p>
            </div>
          </div>
          <!-- about_single ends -->
          <!-- about_single starts -->
          <div class="col-sm-12 about_single wow  flipInX animated" data-wow-duration="2s" data-wow-delay="1s">
            <div class="icon_holder">
              <i class="fa fa-umbrella"></i>
            </div>
            <div class="about_right">
              <h4>Environment</h4>
              <p>Our developoment environment and client relations are flexible and friction less. We are developing CI server to seemless integrations.</p>
            </div>
          </div>
          <!-- about_single ends -->
          <!-- learn_more_about us link starts -->
          <div class="col-sm-12 learn_more_about  wow  flipInX animated" data-wow-duration="5s" data-wow-delay="1s" >
            <a href="javascript:void(0);" class="folio-link-url">Learn More About Us <i class="fa fa-long-arrow-right"></i></a>
          </div>
          <!-- learn_more_about us link ends -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- sec-about ends -->
<!--features starts here !-->
<section id="features">
  <div class="container">
    <!--======= FEATURES =========-->
    <div class="features">
      <div class="row">
        <div class="col-md-12">
          <!--======= TITTLE =========-->
          <div class="tittle wow flipInY animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation: flipInY 1s 0.5s;">
            <h3>Services</h3>
            <hr>
          </div>
          <!--======= TAB CONTENT =========-->
          <section class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation: bounceIn 1s 0.5s;">
            <div class="tabs tabs-style">
              <div class="content-wrap" id="feature-tabs">
                <!--======= TAB 1 =========-->
                <section id="tab-1" class="content-current wow animated  bounceIn">
                  <h3>Cloud Development and management</h3>
                  <p>With 5 Years of experience on Amazon web services we have proven expertise on developing and managing applications on cloud services.
                  <ul>
                    <li>Amazon Web Services : EC2, SES, SNS, RDS, Route53, S3, CloudFront, Beanstalk</li>
                    <li>Heroku</li>
                    <li>Rackspace : cloud servers, load balacing, auto scaling</li>
                    <li>Servers : apache, nginx, cpanel, uwsgi, cacti, munin</li>
                  </ul>
                  </p>
                </section>
                <!--======= TAB 2 =========-->
                <section id="tab-2">
                  <h3>Designing</h3>
                  <p>Our web designing team develop all designs with own care and commitment to the brand's nature and target users. By usig photoshop, GIMP, bootstrap, jquery, angularjs, fontawesome, We have developed amazing designs, layouts and interfaces
                    <ul>
                      <li>responsive web designs</li>
                      <li>responsive email templates</li>
                      <li>wordpress themes</li>
                      <li>mobile UI</li>
                    </ul>
                  </p>
                </section>
                <!--======= TAB 3 =========-->
                <section id="tab-3">
                  <h3>Web application development and maintenance</h3>
                  <p>We develop apps with passion and our web applications will show extreme performance and security. Our development and production flow makes sure that every line of code is precise. Our development stack include python, django, django-rest-framework, mongodb, mysql, postgresql, sentry, pillow, celery, redis, haystack, bootstrap, jquery, angularjs, php, symfony, codeigniter, cakephp, wordpress.
                  </p>
                </section>
                <!--======= TAB 4 =========-->
                <section id="tab-4">
                  <h3>Server Management</h3>
                  <p>MicroPyramid can manage your server to harden security to withstand DDoS attacks and other attacks based on exploits in your applications. We do have 24 x 7 monitoring solutions to narrow cause of the situation and not to mention that we have a fault tolerant system available as always. We optimize your server to its fullest because we value milliseconds.
                  </p>
                </section>
                <!--======= TAB 5 =========-->
                <section id="tab-5">
                  <h3>Social apps development and integration</h3>
                  <p>We do have invested much time and effort to learn most of the social APIs to boost our clients social media promotions and expand their social foot print. We can offer facebook, twitter, google+, github, linkedin, stackoverflow integrations as of now and our learning never stops to enhance your products or services.
                  </p>
                </section>
                <!--======= TAB 6 =========-->
                <section id="tab-6">
                  <h3>Customer Support</h3>
                  <p>With 24 x 7 customer support we make sure your managed services run smooth. Our experts have excelent turn around time in communicating and resolving any issues you have with your apps.
                  </p>
                </section>
              </div>
              <!--======= TAB NAV =========-->
              <nav>
                <ul>
                  <li class="feature-tab-li tab-current"><a href="#tab-1" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Cloud Computing"><span><i class="fa fa-cloud"></i></span></a></li>
                  <li class="feature-tab-li"><a href="#tab-2" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Web Designing"><span><i class="fa fa-paint-brush"></i></span></a></li>
                  <li class="feature-tab-li"><a href="#tab-3" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Web Development and Maintenance"><span><i class="fa fa-cubes"></i></span></a></li>
                  <li class="feature-tab-li"><a href="#tab-4" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Server Management"><span><i class="fa fa-tasks"></i></span></a></li>
                  <li class="feature-tab-li"><a href="#tab-5" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Social Apps Integration and Development"><span><i class="fa fa-share-alt-square"></i></span></a></li>
                  <li class="feature-tab-li"><a href="#tab-6" class="tab-scroll" data-placement="bottom" data-toggle="tooltip" title="Customer Support"><span><i class="fa fa-life-bouy"></i></span></a></li>
                </ul>
              </nav>
              <!--======= TAB NAV =========-->
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $('a.tab-scroll').click(function(e){
     e.preventDefault();
     $('#feature-tabs section').hide();
     $('.feature-tab-li').removeClass('tab-current');
  
     $('section' + $(this).attr('href')).show().addClass('wow').addClass('animated').addClass('bounceIn');
     $(this).parent().addClass('tab-current')
  
  });
    
</script>
<!-- features ends here !-->
<!-- mp_para_container micro_stats starts -->
<section class="parallex_wrapper mp_para_container bottom_grey">
  <div class="parallex_micro mp_d_curve_bg3">
    <div class="container">
      <!-- .micro_stats starts -->
      <div class="micro_stats">
        <div class="row">
          <div class="col-sm-12 curve_heading">
            <h4>Interesting Facts And Figures</h4>
          </div>
          <div class="col-sm-3">
            <!-- stats_single starts -->
            <div class="stats_single">
              <div class="icon_holder">
                <div class="stats_icon">
                  <i class="fa fa-trophy"></i>
                </div>
              </div>
              <div class="stats_hgroup">
                <h3 class="countPercentage animated" data-percentageto="25" data-animdelay="100"><span>0</span></h3>
                <h4>Technologies Mastered</h4>
              </div>
            </div>
            <!-- stats_single ends -->
          </div>
          <div class="col-sm-3">
            <!-- stats_single starts -->
            <div class="stats_single">
              <div class="icon_holder">
                <div class="stats_icon">
                  <i class="fa fa-thumbs-up"></i>
                </div>
              </div>
              <div class="stats_hgroup">
                <h3 class="countPercentage animated" data-percentageto="31" data-animdelay="100"><span>0</span></h3>
                <h4>Projects Completed</h4>
              </div>
            </div>
            <!-- stats_single ends -->
          </div>
          <div class="col-sm-3">
            <!-- stats_single starts -->
            <div class="stats_single">
              <div class="icon_holder">
                <div class="stats_icon">
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <div class="stats_hgroup">
                <h3 class="countPercentage animated" data-percentageto="23" data-animdelay="100"><span>0</span></h3>
                <h4>Happy Clients</h4>
              </div>
            </div>
            <!-- stats_single ends -->
          </div>
          <div class="col-sm-3">
            <!-- stats_single starts -->
            <div class="stats_single">
              <div class="icon_holder">
                <div class="stats_icon">
                  <i class="fa fa-leaf"></i>
                </div>
              </div>
              <div class="stats_hgroup">
                <h3 class="countPercentage animated" data-percentageto="7" data-animdelay="100"><span>0</span></h3>
                <h4>Countries Served</h4>
              </div>
            </div>
            <!-- stats_single ends -->
          </div>
        </div>
      </div>
      <!-- .micro_stats ends -->
    </div>
  </div>
</section>
<!-- mp_para_container micro_stats ends -->
<!-- sec-contact starts -->
<section id="sec-contact" class="section_holder">
  <div class="container section_container">
    <div class="row">
      <article>
        <div class="hgroup">
          <div class="col-xs-12 ">
           <h3>Contact Us</h3>
              <p>We are always ready to help you with our innovative solutions. Get in touch via the form below or you can email or call us.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="row">
      <!-- contact_info starts -->
      <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="1s" data-wow-delay="1s" style="text-align:center;">
        <div class="contact_info align_center">
          <i class="fa fa-phone"></i>
          <h4 class="contact_title">Call Us</h4>
          <p class="contact_description">040 6599 6999</p>
        </div>
      </div>
      <!-- contact_info ends -->
      <!-- contact_info starts -->
      <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="2s" data-wow-delay="1s" style="text-align:center;">
        <div class="contact_info align_center">
          <i class="fa fa-map-marker"></i>
          <h4 class="contact_title">Office Location</h4>
          <p class="contact_description">HIG499, Viswa sai dham appartment,<br>
            behind anupama hospital, <br>
            6th phase KPHB, Hyderabad - 72
          </p>
        </div>
      </div>
      <!-- contact_info ends -->
      <!-- contact_info starts -->
      <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="3s" data-wow-delay="1s" style="text-align:center;">
        <div class="contact_info align_center">
          <i class="fa fa-envelope-o"></i>
          <h4 class="contact_title">Email</h4>
          <p class="contact_description"><a href="mailto:hello@micromp.com">hello@micropyramid.com</a></p>
        </div>
      </div>
      <!-- contact_info ends -->
      <div class="contact_form animated" data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeInRight">
        <form id="contactform" method="post">
        {% csrf_token %}
          <div class="col-sm-6">
            <span class="field_single">
            <input type="text" placeholder="Full Name" value="" name="full_name">
            </span>
            <span class="field_single">
            <input type="email" placeholder="Email" value="" name="email">
            </span>
            <span class="field_single">
            <input type="tel" placeholder="Phone" value="" name="phone">
            </span>
          </div>
          <div class="col-sm-6">
            <span class="field_single">
            <textarea placeholder="Comments" name="message"></textarea>
            </span>
            <!--<a href="javascript:void(0);" class="button button-arrow">Submit <i class="fa fa-long-arrow-right"></i></a>-->
            <input class="button button-arrow" type="submit" value="Submit Now">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- sec-contact ends -->

<script>
     $('#contactform').ajaxForm({

       dataType: 'json',
       data : $('#contactform').serialize(),
       type: "POST",
       success: function(data){
         if (data.error == false)
         {
           alert(data.data);
           window.location ='/';
         }
         else
         {
         $('.error').text('');
            $('.error').show();
           $.each( data, function( key, value ) {
          $('#'+key).text(value);
          });
           }
         }

       });
  
   $('#senddetails').click(function(e){
    e.preventDefault();
   $('#contactform').submit();
   });
   
         
         
       

</script>
{% endblock %}