{% extends 'site/base.html' %}
{% block stage %}
         <!-- banner starts here-->
         <div class="row marl banner-row">
            
         </div>
         <!-- banner ends here-->
         <!-- sec-about starts -->
         <section id="sec-about" class="section_holder">
            <div class="container section_container">
               <div class="row">
                  <article>
                     <div class="hgroup">
                        <div class="col-xs-3 heading_cover">
                           <h2 class="wow bounceInRight animated">About Us</h2>
                        </div>
                        <div class="col-xs-1 skew_holder">
                           <!--  <div class="skew_shape"></div>-->
                        </div>
                        <div class="col-xs-8 heading_cover">
                           <h3 class="wow swap animated">MicroPyramid Services delivers software by maintaining balance among quality, performance, security and standards. MicroPyramid implement agile and scrum development methods to stay focused on time and accuracy. In the end we help to build amazing apps.</h3>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="row">
                  <!-- about_image starts -->
                  <div class="col-sm-4 about_image">
                     <img src="/static/site/images/about_image.png" alt="About Us">
                  </div>
                  <!-- about_image ends -->
                  <div class="col-sm-8 about_content_holder">
                     <h3 class="wow fadeInUp animated">Focusing on “Power of open source” as its corporate philosophy and brand commitment, MicroPyramid, a software technology company, has been engaged in building its core competence to create value for customers and society.</h3>
                     <!-- About Details starts -->
                     <div class="row">
                        <!-- about_single starts -->
                        <div class="col-sm-6 about_single  wow  fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s">
                           <div class="icon_holder">
                              <i class="fa fa-coffee"></i>
                           </div>
                           <div class="about_right">
                              <h4>Process</h4>
                              <p>We follow perfect mix of development process agile + scrum. This will give us boost in delivering software in time with high quality.</p>
                           </div>
                        </div>
                        <!-- about_single ends -->
                        <!-- about_single starts -->
                        <div class="col-sm-6 about_single wow  fadeInLeft animated" data-wow-duration="2s" data-wow-delay="1s">
                           <div class="icon_holder">
                              <i class="fa fa-trophy"></i>
                           </div>
                           <div class="about_right">
                              <h4>Methods</h4>
                              <p>We attain quality by implementating our own coding practices tailored with ever learning and experience. Our QA is gets better every day.</p>
                           </div>
                        </div>
                        <!-- about_single ends -->
                        <!-- about_single starts -->
                        <div class="col-sm-6 about_single wow  fadeInRight animated" data-wow-duration="3s" data-wow-delay="1s">
                           <div class="icon_holder">
                              <i class="fa fa-lightbulb-o"></i>
                           </div>
                           <div class="about_right">
                              <h4>Commitment</h4>
                              <p>We are commited to dleiver high quality code in terms of best coding practices, performance, security, user interface and stability. We are commited to give 24/7 support.</p>
                           </div>
                        </div>
                        <!-- about_single ends -->
                        <!-- about_single starts -->
                        <div class="col-sm-6 about_single wow  fadeInDown" data-wow-duration="4s" data-wow-delay="1s">
                           <div class="icon_holder">
                              <i class="fa fa-umbrella"></i>
                           </div>
                           <div class="about_right">
                              <h4>Environment</h4>
                              <p>Our developoment environment and client relations are flexible and friction less. We are developing CI server to seemless integrations.</p>
                           </div>
                        </div>
                        <!-- about_single ends -->
                     </div>
                     <!-- About Details ends -->
                  </div>
               </div>
            </div>
         </section>
         <!-- sec-about ends -->
         <!--features starts here !-->
         <section id="features">
    <div class="container">
      <!--======= FEATURES =========-->
      <div class="features">
        <div class="row">
          <div class="col-md-12">
            <!--======= TITTLE =========-->
            <div class="tittle wow flipInY animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation: flipInY 1s 0.5s;">
              <h2>Services</h2>
              <hr>
              <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>
            <!--======= TAB CONTENT =========-->
            <section class="wow bounceIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation: bounceIn 1s 0.5s;">
              <div class="tabs tabs-style">
                <div class="content-wrap" id="feature-tabs">
                  <!--======= TAB 1 =========-->
                  <section id="tab-1" class="content-current wow animated  bounceIn">
                    <h3>Document File</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                  <!--======= TAB 2 =========-->
                  <section id="tab-2">
                    <h3>Ping App Ganimg</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                  <!--======= TAB 3 =========-->
                  <section id="tab-3">
                    <h3>Awesome Apps</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                  <!--======= TAB 4 =========-->
                  <section id="tab-4">
                    <h3>Easy Life</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                  <!--======= TAB 5 =========-->
                  <section id="tab-5">
                    <h3>Fully Option</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                  <!--======= TAB 6 =========-->
                  <section id="tab-6">
                    <h3>Excellent Feedback</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of. <br>
                      <br>
                      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </section>
                </div>
                <!--======= TAB NAV =========-->
                <nav>
                  <ul>
                    <li class="feature-tab-li tab-current"><a href="#tab-1" class="tab-scroll"><span><i class="fa fa-cloud"></i></span></a></li>
                    <li class="feature-tab-li"><a href="#tab-2" class="tab-scroll"><span><i class="fa fa-suitcase"></i></span></a></li>
                    <li class="feature-tab-li"><a href="#tab-3" class="tab-scroll"><span><i class="fa fa-tags"></i></span></a></li>
                    <li class="feature-tab-li"><a href="#tab-4" class="tab-scroll"><span><i class="fa fa-tasks"></i></span></a></li>
                    <li class="feature-tab-li"><a href="#tab-5" class="tab-scroll"><span><i class="fa fa-share-alt-square"></i></span></a></li>
                    <li class="feature-tab-li"><a href="#tab-6" class="tab-scroll"><span><i class="fa fa-rocket"></i></span></a></li>
                  </ul>
                </nav>
                <!--======= TAB NAV =========-->
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
$('a.tab-scroll').click(function(e){
   e.preventDefault();
   $('#feature-tabs section').hide();
   $('.feature-tab-li').removeClass('tab-current');

   $('section' + $(this).attr('href')).show().addClass('wow').addClass('animated').addClass('bounceIn');
   $(this).parent().addClass('tab-current')

});
  </script>
         <!-- features ends here !-->
         <!-- mp_para_container micro_stats starts -->
<section class="parallex_wrapper mp_para_container bottom_grey">
  <div class="parallex_micro mp_d_curve_bg3">
     <div class="container">
        <!-- .micro_stats starts -->
        <div class="micro_stats">
           <div class="row">
              <div class="col-sm-12 curve_heading">
                 <h4>Interesting Facts And Figures</h4>
              </div>
              <div class="col-sm-3">
                 <!-- stats_single starts -->
                 <div class="stats_single">
                    <div class="icon_holder">
                       <div class="stats_icon">
                          <i class="fa fa-trophy"></i>
                       </div>
                    </div>
                    <div class="stats_hgroup">
                       <h3 class="countPercentage animated" data-percentageto="25" data-animdelay="100"><span>0</span></h3>
                       <h4>Technologies Mastered</h4>
                    </div>
                 </div>
                 <!-- stats_single ends -->
              </div>
              <div class="col-sm-3">
                 <!-- stats_single starts -->
                 <div class="stats_single">
                    <div class="icon_holder">
                       <div class="stats_icon">
                          <i class="fa fa-thumbs-up"></i>
                       </div>
                    </div>
                    <div class="stats_hgroup">
                       <h3 class="countPercentage animated" data-percentageto="31" data-animdelay="100"><span>0</span></h3>
                       <h4>Projects Completed</h4>
                    </div>
                 </div>
                 <!-- stats_single ends -->
              </div>
              <div class="col-sm-3">
                 <!-- stats_single starts -->
                 <div class="stats_single">
                    <div class="icon_holder">
                       <div class="stats_icon">
                          <i class="fa fa-heart"></i>
                       </div>
                    </div>
                    <div class="stats_hgroup">
                       <h3 class="countPercentage animated" data-percentageto="23" data-animdelay="100"><span>0</span></h3>
                       <h4>Happy Clients</h4>
                    </div>
                 </div>
                 <!-- stats_single ends -->
              </div>
              <div class="col-sm-3">
                 <!-- stats_single starts -->
                 <div class="stats_single">
                    <div class="icon_holder">
                       <div class="stats_icon">
                          <i class="fa fa-leaf"></i>
                       </div>
                    </div>
                    <div class="stats_hgroup">
                       <h3 class="countPercentage animated" data-percentageto="7" data-animdelay="100"><span>0</span></h3>
                       <h4>Countries Served</h4>
                    </div>
                 </div>
                 <!-- stats_single ends -->
              </div>
           </div>
        </div>
        <!-- .micro_stats ends -->
     </div>
  </div>
</section>
<!-- mp_para_container micro_stats ends -->
         <!-- sec-contact starts -->
         <section id="sec-contact" class="section_holder">
            <div class="container section_container">
               <div class="row">
                  <article>
                     <div class="hgroup">
                        <div class="col-xs-3 heading_cover">
                           <h2 class="wow bounceInRight animated">Contact Us</h2>
                        </div>
                        <!--<div class="col-xs-1 skew_holder">
                           <div class="skew_shape"></div>
                        </div>-->
                        <div class="col-xs-8 heading_cover">
                           <h3 class="wow swap animated animated animated">We are always ready to help you with our innovative solutions. Get in touch via the form below or you can email or call us.</h3>
                        </div>
                     </div>
                  </article>
               </div>
               <div class="row">
                  <!-- contact_info starts -->
                  <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="1s" data-wow-delay="1s" style="text-align:center;">
                     <div class="contact_info align_center">
                        <i class="fa fa-phone"></i>
                        <h4 class="contact_title">Call Us</h4>
                        <p class="contact_description">040 6599 6999</p>
                     </div>
                  </div>
                  <!-- contact_info ends -->
                  <!-- contact_info starts -->
                  <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="2s" data-wow-delay="1s" style="text-align:center;">
                     <div class="contact_info align_center">
                        <i class="fa fa-map-marker"></i>
                        <h4 class="contact_title">Office Location</h4>
                        <p class="contact_description">HIG499, Viswa sai dham appartment,<br>
                           behind anupama hospital, <br>
                           6th phase KPHB, Hyderabad - 72
                        </p>
                     </div>
                  </div>
                  <!-- contact_info ends -->
                  <!-- contact_info starts -->
                  <div class="col-sm-4 fadeInDown wow animated" data-wow-duration="3s" data-wow-delay="1s" style="text-align:center;">
                     <div class="contact_info align_center">
                        <i class="fa fa-envelope-o"></i>
                        <h4 class="contact_title">Email</h4>
                        <p class="contact_description"><a href="mailto:hello@micromp.com">hello@micropyramid.com</a></p>
                     </div>
                  </div>
                  <!-- contact_info ends -->
                  <div class="contact_form animated" data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeInRight">
                     <form novalidate  method="post" action="http://micromp.kraftives.com/demo/html_straight/index.html">
                        <div class="col-sm-6">
                           <span class="field_single">
                           <input type="text" placeholder="Full Name" value="" name="full_name">
                           </span>
                           <span class="field_single">
                           <input type="email" placeholder="Email" value="" name="email">
                           </span>
                           <span class="field_single">
                           <input type="tel" placeholder="Phone" value="" name="phone">
                           </span>
                        </div>
                        <div class="col-sm-6">
                           <span class="field_single">
                           <textarea placeholder="Comments" name="message"></textarea>
                           </span>
                           <!--<a href="javascript:void(0);" class="button button-arrow">Submit <i class="fa fa-long-arrow-right"></i></a>-->
                           <input class="button button-arrow" type="submit" value="Submit Now">
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!-- sec-contact ends -->
         <section>
  <!-- section map -->
  <div class="row" style="margin: 0px 0px;">
     <style>.embed-container { position: relative; padding-bottom: 30%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://maps.google.com/maps/ms?msa=0&amp;msid=210829915793356214359.0004e1064128922a332ae&amp;hl=en&amp;ie=UTF8&amp;ll=17.438873,78.398279&amp;spn=0,0&amp;t=m&amp;iwloc=0004e106412a8edf7b4a2&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
  </div>
</section>
<!-- end of section map -->
{% endblock %}