{% extends 'site/base.html' %}
{% load recurse %}
{% load menu %}

{% block title %}
{% if page.slug == 'salesforce-development-services' %}
    Salesforce CRM Development/Integration | Consulting Services india - MicroPyramid
{% else %}
    {{ page.title|capfirst }} | {{ block.super }}{% endif %}
{% endblock %}

  {% block extra-js %}
    {% if page.title|slugify  == 'web-design'|slugify %}
      <script type="text/javascript" src='/static/site/js/design.js'></script>
    {% else %}
    {% endif %}
  {% endblock %}


{% block meta-description %}

{% if page.title == 'salesforce-development-services' %}
  <meta property="og:title"  content="Salesforce CRM Development/Integration | Consulting Services india - MicroPyramid" />
{% else %}
  <meta property="og:title"  content="{{ page.title|capfirst }} | MicroPyramid | Django Web Application Development | Mobile App Development" />
{% endif %}
  <meta property="og:description" content="{{ page.meta_description }} - MicroPyramid." />

  <meta name="description" content="{{ page.meta_description }} - MicroPyramid." />

  <meta name="keywords" content="{{ page.keywords }}" />

{% endblock %}

{% block stage %}
<div class="scroller" id='container_wrapper'>
   <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
         </li>
         <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{request.path}}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>{{ page.title|capfirst }}</span></a>
         </li>
      </ul>
   </div>
{{ page.content | safe }}

{% if page.category.all %}
<!-- related blog -->
<div class='server_blog'>
  <!--title-->
  <div class="heading">
    <span>related</span> <span class="green">blog posts</span>
  </div>
  <!--/ title -->
  {% for post in posts|slice:":3" %}
  <div class="col-md-4 col-sm-4 col-xs-12 blog_ticket_wrap">
    <div class="blog_ticket">
      <div class="date_daimond">
        {% if post.published_on %}
        <div class="text_wrap">
          <div class="month">{{ post.published_on|date:"b"|title }}</div>
          <div class="day">{{ post.published_on|date:"d" }}, {{ post.published_on|date:"Y" }}</div>
        </div>
        {% else %}
        <div class="text_wrap">
          <div class="month">{{ post.updated_on|date:"b"|title }}</div>
          <div class="day">{{ post.updated_on|date:"d" }}, {{ post.updated_on|date:"Y" }}</div>
        </div>
        {% endif %}
      </div>
      <div class="blog_title">
        <a href="/blog/{{post.slug}}/">{{ post.title }}</a>
        <div class="author">{{ post.user.get_full_name }}</div>
      </div>
      <div class="blog_description">
        <p>
          {{ post.get_content|truncatewords:40 }}<a href="/blog/{{post.slug}}/"><span class="view_more">Read More. . .</span></a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
    <br clear="all">
  </div>
<!--/ related blog -->
{% endif %}
</div>
{% endblock %}

{% block map %}
  {% ifequal page.title "contact-us" %}
    <div class="map">
      <div class='embed-container'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4555949677!2d78.39003300000002!3d17.485752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9144f52b17db%3A0xa94f62d5a7e9c69a!2sMicroPyramid+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1431589311241" width="100%" height="350" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  {% endifequal %}
{% endblock %}
