<div class="service_banner row marl">
  <div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <p>Python?don&#39;t worry we tamed it to do awesome</p>
    <div class="content">
      <p>From scraping to developing web application we use Python at core level. Our Major python skill includes Django which we delivered 40+ projects. We are passionate to share our python knowledge to open source community from <a href="https://github.com/MicroPyramid" target="_blank" title="Github">GitHub</a> and <a href="https://www.meetup.com/hyderabad-python-and-django-meetup-group/" target="_blank" title="Meetups">Meetups</a>. We love to add our python skills to your idea.</p>
    </div>
  </div>
</div>
<div class="python_strength_automation row marl">
  <div class="container">
    <div class="p_s_a_table">
      <div class="col-md-4 col-sm-12 our_strength">
        <strong>Our Python Strengths</strong>
        <div class="count_block">
          <div class="count_item"><span class="icon"><i class="fa fa-tasks"></i></span><span class="count">40+</span> <span class="name">Live Projects</span></div>
          <div class="count_item"><span class="icon"><i aria-hidden="true" class="fa fa-meetup"></i></span><span class="count">15+</span> <span class="name">Python meetups</span></div>
          <div class="count_item"><span class="icon"><i class="fa fa-coffee"></i></span><span class="count">8</span> <span class="name">Pip packages</span></div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 automation_container">
        <div class="process_container text-center">
          <img class="img_rel" src="/static/site/images/python_s.png" alt="" />
          <div class="block first">
            <strong>Web Development</strong>
            <p>We build powerful web applications using Django for financial services, E-commerce, Travel, information &amp; education industries.</p>
          </div>
          <div class="block second">
            <strong>Data science</strong>
            <p>To make data-driven business decisions we help you to analyze your data using python tools scipy, numpy, pandas.</p>
          </div>
          <div class="block third">
            <strong>Raspberry PI</strong>
            <p>We use a&nbsp;raspberry pi as a streaming device, Raspberry pi with an external microphone can stream your voice with our App &quot;Radio String&quot; to all over the internet.</p>
          </div>
          <div class="block four">
            <strong>Testing</strong>
            <p>In every project, we write unit tests and functional tests using selenium. Most of our code is tested automatically on GitLab-Ci, Travis, Jenkins-CI making it bug-free for every tiny change.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service_qualities python_service_qualities row">
    <div class="container">
    <!-- service_quality starts here -->
    <div class="col-md-6 col-sm-6">
      <div class="service_quality python_service_quality text-center">
        <strong>Python Web Development</strong>
        <p>You don’t learn everything in life by reading a manual. So, if you have questions about Salesforce products, services, implementation, getting started 2008 using geometric shapes as a core foundation. It is designed </p>
      </div>
    </div>
    <!-- service_quality ends here -->
      <!-- service_quality starts here -->
    <div class="col-md-6 col-sm-6">
      <div class="service_quality python_service_quality text-center">
        <strong>Why to choose Micropyramid for Python Development?</strong>
        <p>Average of 3+ years of experience in python.</p>
        <p> Successfully Delivered 40 + projects and number of automated scripts with python.</p>
        <p>Active in python open source contribution.</p>
        <p>In our free time we share our knowledge in meetups. </p>
      </div>
    </div>
    <!-- service_quality ends here -->
    </div>
  </div>
  <!-- service_qualities ends here -->  

<div class="projects_container row marl">
<div class="container"><span class="heading"><span>We helped for their success:</span></span>

<div class="row text-center">
<ul>
  <li><img src="/static/site/images/bough_test.png"></li>
  <li><img src="/static/site/images/pmt_test.png"></li>
  <li><img src="/static/site/images/giftingnation_test.png"></li>
  <li><img src="/static/site/images/parent_orbit_test.png"></li>
  <li><img src="/static/site/images/hello_coupons_test.png"></li>
</ul>
</div>
</div>
</div>
<div class="open_source_projects row marl">
  <div class="heading"><span>Open Source Contributions</span></div>
  <!-- open_source_item starts here -->
  <div class="logo_grid">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1 open_source">
      <div class="row each_open_source">
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Forex-python</strong> <a aria-label="Star MicroPyramid/forex-python on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/forex-python#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/forex-python/stargazers" data-style="mega" href="https://github.com/MicroPyramid/forex-python" target="_blank">Star</a>
            <p>Free Foreign exchange rates, Bitcoin price index and currency conversion with python and currency symbols, names.</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Microurl</strong><a aria-label="Star MicroPyramid/microurl on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/microurl#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/microurl/stargazers" data-style="mega" href="https://github.com/MicroPyramid/microurl" target="_blank">Star</a>
            <p>Use MicroURL to shorten your original URL. So, you can share any kind of long urls in a short format. Which can be simple to share with anyone. See the installation process and usage in our GitHub repository.</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Django Simple pagination</strong> <a aria-label="Star MicroPyramid/django-simple-pagination on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-simple-pagination#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-simple-pagination/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-simple-pagination" target="_blank">Star</a>
            <p>A simple django application provides simple Digg-style pagination. It is devoted to implementing web pagination in very few steps..</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
        <!-- open_source_item ends here --><!-- open_source_item starts here -->
        <div class="col-md-3 col-sm-6 skill">
          <div class="open_source_item">
            <strong>Django PayU</strong> <a aria-label="Star MicroPyramid/django-payu on GitHub" class="github-button" data-count-api="/repos/MicroPyramid/django-payu#stargazers_count" data-count-aria-label="# stargazers on GitHub" data-count-href="/MicroPyramid/django-payu/stargazers" data-style="mega" href="https://github.com/MicroPyramid/django-payu" target="_blank">Star</a>
            <p>A simple payu payment gateway application in every few steps</p>
            <!-- Place this tag where you want the button to render. -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- open_source_item ends here -->
</div>
<div class="helping_block row marl">
  <span class="heading"><span>We are Helping Others to do same</span></span>
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="row helping_container">
      <div class="col-md-4">
        <div class="helping_item text-center"><a href="https://github.com/MicroPyramid/" target="_blank"><img src="/static/site/images/github.png" width="43" alt="Micropyramid Github"/> &nbsp; Github</a></div>
      </div>
      <div class="col-md-4">
        <div class="helping_item second text-center"><a href="https://www.meetup.com/hyderabad-python-and-django-meetup-group/" target="_blank"><img src="/static/site/images/meetup.png" alt="Meetup" /> Meetups</a></div>
      </div>
      <div class="col-md-4">
        <div class="helping_item third text-center"><a href="https://djangogirls.org/hyderabad/" target="_blank"><img src="/static/site/images/dj_g.png" alt="Django Girls"/> Hyderabad</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contact_container row marl">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1">
    <div class="contact_block row marl">
      <div class="col-md-7 col-xs-12">
        <div class="contact_details">
          <div class="detail">040 6599 6999</div>
          <div class="detail">hello@micropyramid.com</div>
          <div class="detail">HIG499, 6th phase KPHB, Hyderabad, India - 500072</div>
          <a href="/contact-india/">Contact Us</a>
        </div>
      </div>
      <div class="col-md-5 col-xs-12 col-sm-12">
        <div class="contact_content">
          <strong>Python Web Development</strong>
          <p>MicroPyramid offers python development services by the versatile developer team. We offer services ranging from simple scripts to complete enterprise web application and not to mention server/infrastructure orchestration using ansible. Our main goal is to provide high-class python development and maintenance services by ever learning and contributing to open source communities.</p>
        </div>
      </div>
    </div>
  </div>
</div>