{% extends 'site/base.html' %}
{% load recurse %}
{% load menu %}
{% load blog_tags %}
{% block page_title %}
{% endblock %}
{% block extra-js %}
{% if page.title|slugify  == 'web-design'|slugify %}
<script type="text/javascript" src='/static/site/js/design.js'></script>
{% else %}
{% endif %}
{% endblock %}
{% block meta-description %}
{{ page.meta_data|safe  }}
{% endblock %}
{% block stage %}
{% include 'site/contact.html' %}
<style type="text/css">
  .blog_title{
  color: black;
  }
</style>
<div id='container_wrapper'>
<!-- Services Row Starts here -->
<div class="row">
{% if 'pycon-2017' in request.path %}
.
{% else %}

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 breadcrumb_services services-left-container">
    <!-- breadcrumb starts here -->
    <div class="bread_crums" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{% if request.session.country %}{% if request.session.country|get_value == 'us' %}/{% else %} /{{request.session.country}}{% endif %}{% endif %}" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Home</span></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="" itemprop="item" rel="v:url" property="v:title"><span itemprop="name" class='name'>Services</span></a>
      </li>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a class="a"><span itemprop="name" class='name'>{{page.title|capfirst}}</span></a>
      </li>
      </ul>
    </div>
    <!-- breadcrumb ends here -->
  </div>
{% endif %}
<div class="clearfix"></div>
  <!--banner  start here-->
  <div class="row-banner">
    <div class="container">
      <div class="content">
        <h1>E-Learning Management System Services</h1>
        <P>Do you need a Hosted Learning Management System? <a href=”our contact us page>Contact Us</P>
      </div>
    </div>
  </div>
  <!--banner end here-->
  <!--bannertext start here-->
  <div class="row-bannertext">
    <div class="container">
      <div class="text">
          <p> We develop the platforms to support time-based online assessment, ranking system which allows the trainers to CREATE, MANAGE and SELL their online training courses. We develop custom training e-commerce platforms with capabilities including shopping carts, payment gateway / payment processor integrations.</p>
      </div>
    </div>
  </div>
<!--bannertext end here-->
 <div class="key-features-head">
  <h1>key features</h1>
 </div>
<!--features start here-->
 <div class="row-features">
   <div class="container">
 <!--keyfeatures start here-->
     <div class="keyfeatures">
       <div class="col-md-3 ">
         <div class="keys orange">
           <div class="col-md-2 icon">
           <i class="fa fa-user-secret" aria-hidden="true"></i>
           </div>
           <div class="col-md-10 icontext">
             <h1>Multiple device access </h1>
             <p>Delivery of course content over web-based interfaces such as desktops, phones or tablets.</p>
          </div>
    </div>
</div>
  <div class="col-md-3 ">
   <div class="keys ">
    <div class="col-md-2 icon">     
    <i class="fa fa-graduation-cap red" aria-hidden="true"></i>
    </div>
    <div class="col-md-10 icontext">
       <h1>Assemble Courses by Categories </h1>
        <p>Able to arrange the courses by topics, subjects, authors, or curriculum order to help learners
         </p>
   </div>
</div>
</div>
 <div class="col-md-3 ">
   <div class="keys blue">
     <div class="col-md-2 icon">
      <i class="fa fa-calendar pink" aria-hidden="true"></i>
     </div>
     <div class="col-md-10 icontext">
       <h1>Course calenders</h1>
       <p> Creation and publication of course schedules, deadlines and tests.</p>
    </div>
  </div>
</div>
   <div class="col-md-3 ">
     <div class="keys ">
       <div class="col-md-2 icon">
       <i class="fa fa-book blue" aria-hidden="true"></i>
       </div>
       <div class="col-md-10 icontext">
         <h1>Multilingual Training  </h1>
         <p>Provide multilingual training with the language switchable interface, with almost all international languages in-built.</p>
       </div>
      </div>
    </div>
  </div>
</div>
<!--keyfeatures end here-->
 </div>
</div>
<!--features end here-->
<!--features start here-->
<div class="row-features">
 <div class="container">

 <!--keyfeatures start here-->

 <div class="keyfeatures">
    <div class="col-md-4 ">
     <div class="keys red">
      <div class="col-md-2 icon">
       <i class="fa fa-dropbox" aria-hidden="true"></i>
      </div>
      <div class="col-md-10 device">
         <h1>Easy and Fast Course Creation  </h1> 
         <p> We provide options to the tutors to add their content more learner friendly by adding graphics, audio and corresponding content through our platform.</p>
      </div>
   </div>
</div>
 <div class="col-md-4 ">
   <div class="keys blue">
    <div class="col-md-2 icon ">
       <i class="fa fa-language green" aria-hidden="true"></i>
    </div>
      <div class="col-md-10 device">
         <h1>+Centralized learning</h1>
         <p> The training material, reports, audios or videos are available to individuals 24/7     andlearning management software allows multiple user access from any location.</p>
     </div>
  </div>
</div>
  <div class="col-md-4 ">
   <div class="keys green">
    <div class="col-md-2 icon">
      <i class="fa fa-joomla black" aria-hidden="true"></i>
     </div>
     <div class="col-md-10 device">
       <h1>Reduce administration </h1>
       <p>Use Enable to access all of your training and reporting from one centralised LMS dashboard available across multiple devices</p>
    </div>
  </div>
 </div>
</div>
<!--keyfeatures end here-->
</div>
 </div>
<!--features end here-->
  <div class="framework">
   <div class="container">
     <p>Apart from e-learning development we also provide m-learning development, so that your courses run  not only on PC’s, iPad and Android tablets but also on various smart-phones. Using our existing tools and technologies we can either create a mobile friendly version of your existing e-learning course or develop a new one for you, from scratch. These mobile friendly courses are built in HTML5  using responsive design framework. We also build app based courses using phonegap technology.</p>
</div>
</div>
<!--row-blogs start here-->
<div class="row-blogs">
  <div class="container">
  <div  class="row">
   <div class="col-md-4 ">
   <div class="assessments-and-quizzes">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
    <h1>Assessments and Quizzes</h1>
    <div class="services">
    <p>Assess learners performance or competency before, during, or after the course program
Review performance and gain insight into training impact with reports and dashboards, or create custom reports delivered via email.</p>
    </div>
    </div>
   </div>
  <div class="col-md-4 ">
   <div class="assessments-and-quizzes">
  <i class="fa fa-line-chart" aria-hidden="true"></i>
    <h1>Tracking & Reporting </h1>
    <div class="services">
    <p>Generate course-wise and learner-wise training reports. Get customized reports on demand. Create customisable reports that can be run, shared, and exported to a variety of formats including Excel, CSV and PDF.</p>
    </div>
   </div>
   </div>
    <div class="col-md-4 ">
   <div class="assessments-and-quizzes">
   <i class="fa fa-list-ul" aria-hidden="true"></i>
    <h1>Leaderboards</h1>
    <div class="services">
    <p>Engage and motivate learners with achievements, points, and percentage, all based on their performance(rank) in assessments.</p>
    </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!--row-blogs end here-->
<!--lmstext start here-->

    <div class="lmstext">
       <p>Another feature of our custom e-learning management and system development is that we develop and customize learning management systems (LMS) to administer, document, track, report and deliver e-learning courses and training programmes efficiently. Our learning management systems range from systems for managing training and educational records to software’s for distributing online courses over the Internet with features for online collaboration. We also cater to the corporate sector by designing corporate online training programmes with added features of employee registration etc. A wide array of industries ranging from Education, Healthcare, Pharma, to Marketing and Advertising make use of the services provided by us.</p>
     </div>
<!--lmstext end here-->

<!--lms-advantages start here-->
<div class="row-lms-advantages">
  <div class="container">
   <div class="listitem">
    <div class="col-md-6 col-sm-6">
      <div class="advantages">
      <div class="lmshead">
      <div class="container">
        <span>Advantages of LMS</span>>
        </div>
        </div>
         <ul>
           <li>Centralized learning</li>
           <li>Training and reporting</li>
           <li>Simplified learning</li>
           <li>Easy access</li>
           <li>Easy upgrades</li>
          </ul>
        </div>
     </div>
      <div class="col-md-6 col-sm-6">
        <div class="advantages pad">
         <ul>
           <li>Streamlined training process</li>
           <li>Scalability and wider reach</li>
           <li>Easy & secure exchange of data</li>
           <li>Multiple learning channels</li>
          <li>Multiple media formats</li>
         </ul>
        </div>
      </div>
    </div>
  </div>
 </div>
<!--megamanu end here-->
  </div>
</div>


{% endblock %}    