{% extends 'site/base.html' %}
{% block stage %}
<div id="mainheader" class="fixedheader">
  <div class="container">
    <div class="logo-area">
      <h1 class="logo">
        <a href="#"><img src="images/logo.png" alt="" width="186" height="20"></a>
      </h1>
      <span class="descriptions">Site Desc</span>
    </div>
    <div class="site-menu right-menu visible-lg visible-md ">
      <nav>
        <ul class="sf-menu bottom-0 list-unstyled clearfix">
          <li class="menu-normal current-menu-item">
            <a href="..\index.htm">Home</a>
            <ul>
              <li><a href="home-1.html">Home 1</a></li>
              <li><a href="home-2.html">Home 2</a></li>
              <li><a href="home-3.html">Home 3</a></li>
              <li><a href="home-4.html">Home 4</a></li>
            </ul>
          </li>
          <li class="menu-normal">
            <a href="page.html">Pages</a>
            <ul>
              <li class="menu-normal"><a href="page-work.html">Work With Us</a></li>
              <li class="menu-normal"><a href="page-faq.html">FAQ</a></li>
              <li class="menu-normal"><a href="page-typography.html">Typography</a></li>
              <li class="menu-normal"><a href="page-columns.html">Columns</a></li>
              <li class="menu-normal"><a href="page-icons.html">Icons</a></li>
              <li>
                <a href="page-sidebar.html">Page Sidebar</a>
                <ul>
                  <li><a href="page.html">Full Width</a></li>
                  <li><a href="page-leftsidebar.html">Left Sidebar</a></li>
                  <li><a href="page-rightsidebar.html">Right Sidebar</a></li>
                </ul>
              </li>
              <li class="menu-normal">
                <a href="#menu">Menu Level 2</a>
                <ul>
                  <li><a href="#menu">Menu Level 3 - 1</a></li>
                  <li>
                    <a href="#menu">Menu Level 3 - 2</a>
                    <ul>
                      <li><a href="#menu">Menu Level 4 - 1</a></li>
                      <li><a href="#menu">Menu Level 4 - 2</a></li>
                      <li><a href="#menu">Menu Level 4 - 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#menu">Menu Level 3 - 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-normal">
            <a href="page.html">Features</a>
            <ul>
              <li class="menu-normal"><a href="page-work.html">Work With Us</a></li>
              <li class="menu-normal"><a href="page-faq.html">FAQ</a></li>
              <li class="menu-normal"><a href="page-typography.html">Typography</a></li>
              <li class="menu-normal"><a href="page-columns.html">Columns</a></li>
              <li class="menu-normal"><a href="page-icons.html">Icons</a></li>
              <li>
                <a href="page-sidebar.html">Page Sidebar</a>
                <ul>
                  <li><a href="page.html">Full Width</a></li>
                  <li><a href="page-leftsidebar.html">Left Sidebar</a></li>
                  <li><a href="page-rightsidebar.html">Right Sidebar</a></li>
                </ul>
              </li>
              <li class="menu-normal">
                <a href="#menu">Menu Level 2</a>
                <ul>
                  <li><a href="#menu">Menu Level 3 - 1</a></li>
                  <li>
                    <a href="#menu">Menu Level 3 - 2</a>
                    <ul>
                      <li><a href="#menu">Menu Level 4 - 1</a></li>
                      <li><a href="#menu">Menu Level 4 - 2</a></li>
                      <li><a href="#menu">Menu Level 4 - 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#menu">Menu Level 3 - 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-normal">
            <a href="page.html">Blog</a>
            <ul>
              <li class="menu-normal"><a href="page-work.html">Work With Us</a></li>
              <li class="menu-normal"><a href="page-faq.html">FAQ</a></li>
              <li class="menu-normal"><a href="page-typography.html">Typography</a></li>
              <li class="menu-normal"><a href="page-columns.html">Columns</a></li>
              <li class="menu-normal"><a href="page-icons.html">Icons</a></li>
              <li>
                <a href="page-sidebar.html">Page Sidebar</a>
                <ul>
                  <li><a href="page.html">Full Width</a></li>
                  <li><a href="page-leftsidebar.html">Left Sidebar</a></li>
                  <li><a href="page-rightsidebar.html">Right Sidebar</a></li>
                </ul>
              </li>
              <li class="menu-normal">
                <a href="#menu">Menu Level 2</a>
                <ul>
                  <li><a href="#menu">Menu Level 3 - 1</a></li>
                  <li>
                    <a href="#menu">Menu Level 3 - 2</a>
                    <ul>
                      <li><a href="#menu">Menu Level 4 - 1</a></li>
                      <li><a href="#menu">Menu Level 4 - 2</a></li>
                      <li><a href="#menu">Menu Level 4 - 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#menu">Menu Level 3 - 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-normal">
            <a href="page.html">Portifolio</a>
            <ul>
              <li class="menu-normal"><a href="page-work.html">Work With Us</a></li>
              <li class="menu-normal"><a href="page-faq.html">FAQ</a></li>
              <li class="menu-normal"><a href="page-typography.html">Typography</a></li>
              <li class="menu-normal"><a href="page-columns.html">Columns</a></li>
              <li class="menu-normal"><a href="page-icons.html">Icons</a></li>
              <li>
                <a href="page-sidebar.html">Page Sidebar</a>
                <ul>
                  <li><a href="page.html">Full Width</a></li>
                  <li><a href="page-leftsidebar.html">Left Sidebar</a></li>
                  <li><a href="page-rightsidebar.html">Right Sidebar</a></li>
                </ul>
                </li>
              <li class="menu-normal">
                <a href="#menu">Menu Level 2</a>
                <ul>
                  <li><a href="#menu">Menu Level 3 - 1</a></li>
                  <li>
                    <a href="#menu">Menu Level 3 - 2</a>
                    <ul>
                      <li><a href="#menu">Menu Level 4 - 1</a></li>
                      <li><a href="#menu">Menu Level 4 - 2</a></li>
                      <li><a href="#menu">Menu Level 4 - 3</a></li>
                    </ul>
                  </li>
                  <li><a href="#menu">Menu Level 3 - 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-normal">
            <a href="page-company.html">About us</a>
          </li>
          <li class="menu-normal">
            <a href="page-contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#mobile-menu" class="reponsive-menu visible-xs button pull-right color"><i class="fa fa-bars"></i></a>
  </div>
</div>
<!-- mobile menu side bar starts here-->
<div id="mobile-menu">
  <span class="menu-content"></span>
</div>
<!-- mobile menu side bar ends here-->
</header>
<!-- header ends here-->
<script type="text/javascript">
  $('a.tab-scroll').click(function(e){
     e.preventDefault();
     $('#feature-tabs section').hide();
     $('.feature-tab-li').removeClass('tab-current');
  
     $('section' + $(this).attr('href')).show().addClass('wow').addClass('animated').addClass('bounceIn');
     $(this).parent().addClass('tab-current')
  
  });
    
</script>
<!-- content goes below-->
<!--banner-->
<div class="row marl services-banner pad-tp-btm-40">
  <div class="container">
    <div class="col-lg-6 col-sm-6 pagination"><img src="/static/site/images/service.png"></div>
    <div class="col-lg-6 col-sm-6 pagination">
      <div id="htmltagcloud"> 
        <span id="0" class="wrd tagcloud3"><a href="#tagcloud">Jquery</a></span>
        <span id="1" class="wrd tagcloud3"><a href="#tagcloud">Javascript</a></span> 
        <span id="2" class="wrd tagcloud3"><a href="#tagcloud">Angular Js</a></span>
        <span id="3" class="wrd tagcloud2"><a href="#tagcloud">JSON</a></span>
        <span id="4" class="wrd tagcloud2"><a href="#tagcloud">REST</a></span>
        <span id="5" class="wrd tagcloud1"><a href="#tagcloud">HTML5</a></span>
        <span id="6" class="wrd tagcloud1"><a href="#tagcloud">CSS3</a></span>
        <span id="7" class="wrd tagcloud2"><a href="#tagcloud">Photoshop</a></span>
        <span id="8" class="wrd tagcloud1"><a href="#tagcloud">Gimp</a></span>
        <span id="9" class="wrd tagcloud5"><a href="#tagcloud">Python</a></span> 
        <span id="10" class="wrd tagcloud5"><a href="#tagcloud">Mongo DB</a></span>
        <span id="11" class="wrd tagcloud5"><a href="#tagcloud">Django</a></span> 
        <span id="12" class="wrd tagcloud2"><a href="#tagcloud">Wordpress</a></span>
        <span id="13" class="wrd tagcloud2"><a href="#tagcloud">Symfony</a></span> 
        <span id="14" class="wrd tagcloud1"><a href="#tagcloud">Laravel</a></span>
        <span id="15" class="wrd tagcloud3"><a href="#tagcloud">MYSql</a></span> 
        <span id="16" class="wrd tagcloud2"><a href="#tagcloud">IOS</a></span> 
        <span id="17" class="wrd tagcloud3"><a href="#tagcloud">Amazon-web-services</a></span> 
        <span id="18" class="wrd tagcloud3"><a href="#tagcloud">Android </a></span>
        <span id="19" class="wrd tagcloud8"><a href="#tagcloud">Linux  </a></span> 
        <span id="20" class="wrd tagcloud4"><a href="#tagcloud">Celery  </a></span> 
        <span id="21" class="wrd tagcloud6"><a href="#tagcloud">Elastic-Search </a></span>
        <span id="22" class="wrd tagcloud3"><a href="#tagcloud">Haystack    </a></span> 
        <span id="23" class="wrd tagcloud3"><a href="#tagcloud">flask   </a></span> 
      </div>
    </div>
  </div>
</div>
<!--/banner-->
<section id="sec-services" class="section_holder">
  <div class="container section_container section-services">
    <div class="row">
      <article>
        <div class="hgroup">
          <div class="col-md-offset-2 col-md-8 col-xs-12 services-head-p">
            <h3>MICROPYRAMID CUSTOMER SERVICES</h3>
            <p>Our web design and logo team has created award winning layouts that stand the test of time. We are experts in website and logo 
              design. Our designs have won industry awards on the local and national level!
            </p>
          </div>
        </div>
      </article>
    </div>
    <!--row 1 of services-->
    <div class="row">
      <div class="col-md-6 pad-0 icon-row">
        <div class="col-md-3 services-icon-div red-div-1">
          <span>1</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div red-div-2">
          <span>2</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div red-div-3">
          <span>3</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div red-div-4">
          <span>4</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
      </div>
      <div class="col-md-6 services-description">
        <div>
          <h4 class="color-red">WEB DESIGNING SERVICES</h4>
        </div>
        <div class="services-content">
          <p>Our web department offers a unique combination of cutting-edge technology, hands-on experience 
            and aesthetic know how. As a result this means that we create online experiences which are user 
            friendly, effective and visually stunning. A look at our portfolio will confirm this.
          </p>
        </div>
        <div><button class="color-red-btn btn-style">View Portifolio & Read More</button></div>
      </div>
    </div>
    <!--/row 1 of services-->
    <!--row 2 of services-->
    <div class="row">
      <div class="col-md-6 description-txtalign services-description">
        <div>
          <h4 class="color-voilet">WEB DEVELOPMENT SERVICES</h4>
        </div>
        <div class="services-content">
          <p>Our web department offers a unique combination of cutting-edge technology, hands-on experience 
            and aesthetic know how. As a result this means that we create online experiences which are user 
            friendly, effective and visually stunning. A look at our portfolio will confirm this.
          </p>
        </div>
        <div><button class="color-voilet-btn btn-style">View Portifolio & Read More</button></div>
      </div>
      <div class="col-md-6 pad-0 icon-row" id="voilet-div">
        <div class="col-md-3 services-icon-div voilet-div-1">
          <span>1</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div voilet-div-2">
          <span>2</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div voilet-div-3">
          <span>3</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div voilet-div-4">
          <span>4</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
      </div>
    </div>
    <!--/row2 of services-->
    <!--row 3 of services-->
    <div class="row">
      <div class="col-md-6 pad-0 icon-row">
        <div class="col-md-3 services-icon-div green-div-1">
          <span>1</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div green-div-2">
          <span>2</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div green-div-3">
          <span>3</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div green-div-1">
          <span>4</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
      </div>
      <div class="col-md-6 services-description">
        <div>
          <h4 class="color-green">SOCAIL INTEGRATION &amp; DEVELOPMENT</h4>
        </div>
        <div class="services-content">
          <p>Our web department offers a unique combination of cutting-edge technology, hands-on experience 
            and aesthetic know how. As a result this means that we create online experiences which are user 
            friendly, effective and visually stunning. A look at our portfolio will confirm this.
          </p>
        </div>
        <div><button class="color-green-btn btn-style">View Portifolio & Read More</button></div>
      </div>
    </div>
    <!--/row 3 of services-->
    <!--row 4 of services-->
    <div class="row">
      <div class="col-md-6 description-txtalign services-description">
        <div>
          <h4 class="color-blue">SERVER MANAGEMENT &amp; MAINTAINANCE</h4>
        </div>
        <div class="services-content">
          <p>Our web department offers a unique combination of cutting-edge technology, hands-on experience 
            and aesthetic know how. As a result this means that we create online experiences which are user 
            friendly, effective and visually stunning. A look at our portfolio will confirm this.
          </p>
        </div>
        <div><button class="color-blue-btn btn-style">View Portifolio & Read More</button></div>
      </div>
      <div class="col-md-6 pad-0 icon-row">
        <div class="col-md-3 services-icon-div blue-div-1">
          <span>1</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div blue-div-2">
          <span>2</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div blue-div-3">
          <span>3</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
        <div class="col-md-3 services-icon-div blue-div-4">
          <span>4</span>
          <i class="fa fa-apple fa-3x"></i>
          <h6>STAGE</h6>
        </div>
      </div>
    </div>
    <!--/row 4 of services-->
  </div>
</section>
<!--contact form-->
<section id="sec-quote" class="section_holder">
  <div class="container section_container">
    <div class="row">
      <article>
        <div class="hgroup">
          <div class="col-xs-12 get-quote-head">
            <h3>Get a quote for your project</h3>
            <p>We are always ready to help you with our innovative solutions. Get in touch via the form below or you can email or call us.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="row">
      <!-- contact_info starts -->
      <div class="quote-form">
        <!--fst row-->
        <div class="col-lg-12 mar-btm-15">
          <h5>Domain Details</h5>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Do you have domain?"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Do you have your host account?"> 
          </div>
        </div>
        <!--/fst row-->
        <!--sec row-->
        <div class="col-lg-12 mar-btm-15">
          <h5>General Information</h5>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Type of website"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Number of pages"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Do you need images and text?"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Similar websites"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Technologies to be used"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Your budget figure"> 
          </div>
        </div>
        <!--/sec row-->
        <!--third row-->
        <div class="col-lg-12 mar-btm-15">
          <h5>Basic Information</h5>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Name"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Email address"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Phone number"> 
          </div>
          <div class="col-lg-4 pad-3">
            <input type="text" class="form-control" placeholder="Skype Id"> 
          </div>
        </div>
        <!--/third row-->
        <!--button row-->
        <div class="col-lg-12">
          <button class="quote-btn">Submit now</button>
        </div>
        <!--/button row-->
        <!-- contact_info ends -->
      </div>
    </div>
  </div>
</section>
<!--/contact form-->
<!--/content-->
<!-- footer starts here -->
</div>
<script src="js/superfish.js"></script>
<script src="js/classie.js"></script>
<script src="js/tiltSlider.js"></script>
<script>
  new TiltSlider( document.getElementById( 'slideshow' ) );
</script>
<!-- For the demo ad only -->   
<script src="/static/site/js/fitvids.js"></script>
<script src="/static/site/js/magnificpopup.js"></script>
<script src="/static/site/js/scrollreveal.js"></script>
<script src="/static/site/js/mmenu.js"></script>
<script src="/static/site/js/functions.js"></script>
<script src="/static/site/js/animation.js"></script>
<script type='text/javascript'  src="/static/site/js/wow.min.js"></script>
<script type='text/javascript' src="/static/site/js/main.js"></script>
{% endblock %}