{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
  <h4>Job Post Viewer <small> -To Add,Delete,Edit,Enable/Disable your Menu</small></h4>
  <div class="row marl blog-form">
    <div class="table-responsive table-bordered">
      <div class="panel panel-default">
        <div class="panel-heading"><a href="{% url 'micro_admin:new_job' %}"><button type="button" class="btn btn-success">Add New Job</button></a></div>
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">No</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Title</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Created On</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Skills</th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{job.title}}</td>
                <td>{{job.created_on}}</td>
                <td>{{job.skills}}</td>
                <td><a href="{% url 'micro_admin:edit_job' pk=job.id %}"><i class="fa fa-pencil-square-o edit-color"></i></a>
                  <a href="{% url 'micro_admin:delete_job' pk=job.id %}"><i class="fa fa-trash-o trash-color"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main content ends here-->
{% endblock %}
<!-- main content ends here-->