{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Job Post Viewer</h3>
    <span>
      <a href="{% url 'micro_admin:new_job' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Job </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th  width="1%">No</th>
            <th  width="10%">Title</th>
            <th  width="15%">Created On</th>
            <th  width="20%">Skills</th>
            <th  width="10%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td class="txt_center">{{forloop.counter}}</td>
            <td class="txt_center">{{job.title}}</td>
            <td>{{job.created_on}}</td>
            <td>{{job.skills}}</td>
            <td class="txt_center">
              <a href="{% url 'micro_admin:edit_job' pk=job.id %}" class="edit_anchor"><i class="fa fa-pencil-square-o"></i>Edit</a>
              <a href="{% url 'micro_admin:delete_job' pk=job.id %}" class="delete_anchor"><i class="fa fa-trash-o"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- main content ends here-->
{% endblock %}
