{% extends 'site/base.html' %}
{% block title %}
    Tools | {{ block.super }}
{% endblock %}
{% block stage %}

<div class="row marl">
  <div class="container">
    <div class="row marl">
      <h3>Tools</h3>
      <div>
        <h4><a href="{% url 'url_checker_tool' %}">URL Checker</a></h4>
        <p>A tool that checks a given url, and returns a full detailed report.</p>
      </div>
      <div>
        <h4><a href="{% url 's3_objects_set_metadata' %}">Set Meta-Data for S3 Objects</a></h4>
        <p>A tool to set Max-age, Content-Type and Expires headers for S3 objects.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
