{% extends 'site/base.html' %}
{% block title %}
    Tools | {{ block.super }}
{% endblock %}
{% block stage %}

<div class="scroller" id='container_wrapper'> 
 <div class="container tools_wrapper">
    <div class="row marl">
      <div class='h3'><i class='fa fa-cogs'></i>Tools</div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
      <div class="ticket_each">
        <div class='h4'><a href="{% url 'url_checker_tool' %}">URL Checker</a></div>
        <p>A tool that checks a given url, and returns a full detailed report.</p>
        </div>
      </div>
      <div class='col-md-4 col-sm-6 col-xs-12'>
      <div class="ticket_each">
        <div class='h4'><a href="{% url 's3_objects_set_metadata' %}">Set Meta-Data for S3 Objects</a></div>
        <p>A tool to set Max-age, Content-Type and Expires headers for S3 objects.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
