{% extends 'admin/base.html' %} {% block stage %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Page Creation</h3>
  </div>
  <div class="panel-body">
    <form action="." method="POST" id="pageform">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="Text" class="form-control" id="title" name="title" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Slug</label>
        <input type="Text" class="form-control" id="slug" name="slug" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Meta Data</label>
        <textarea class="form-control" id="textareametadata" name="textareametadata" rows="10"></textarea>
        <input type="hidden" name="meta_data" id="meta_data">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Contact Info</label>
        <textarea class="form-control" id="contact_info" name="contact_info" rows="10">{'footer_content': ''}</textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Country</label>
        <select class="input select2" placeholder="country" name="country" id="country">
          <option value="">Select A Country</option>
          {% for country in countries %}
          <option value="{{country.id}}" class="country_id">{{country.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <select class="input select2" multiple placeholder="Category" name="category" id="category">
          {% for category in categories %}
          <option value="{{category.id}}" class="category_id">{{category.name}}</option>
          {% endfor %}
        </select>
        All Categories <input type="checkbox" name="all_categories" id="all_categories"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="html">Page Content</label>
        <div class="control-group">
          <div class="controls" id="content">
            <input type="hidden" name="content">
            <textarea class="input-xlarge form-control" id="textareacontents" name="textareacontents" rows="10" placeholder="HTML code of this email"></textarea>
          </div>
        </div>
      </div>
      <div class="draft-box">
        <input type="checkbox" name="is_active" value="true"> <label>Active</label>
      </div>
      <div class="draft-box">
        <input type="checkbox" name="is_default" value="true"> <label>Default</label>
      </div>
      <div class="save-btn">
        <i class="fa fa-floppy-o"></i><input type="submit" value="Save" class="save" id="search_lessons">
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  CKEDITOR.config.allowedContent = true;
  var editor = CKEDITOR.replace('textareacontents');
  var editor1 = CKEDITOR.replace('textareametadata');
</script>
<script type="text/javascript">
  $ = jQuery;
  $("form#pageform").submit(function(e) {
    e.preventDefault();
    //var htmldata = CKEDITOR.instances.Editor.document.getBody().getHtml();
    console.log(CKEDITOR.instances.textareacontents.getData());
    $("input[name='content']").val(CKEDITOR.instances.textareacontents.getData());
    $("input[name='meta_data']").val(CKEDITOR.instances.textareametadata.getData());
    $.post(".", $("form#pageform").serialize(), function(msg) {
      if (msg.error) {
        $('p.failure').remove();
        for (var key in msg.response){
          $('#'+key).after('<p class="failure">'+msg.response[key]+'</p>');
        }
      } else {
        window.location = '/portal/content/page/';
      }
    }, 'json');
  });

$('#all_categories').click(function(e){
  $("#category option").select2('');
  if(document.getElementById('all_categories').checked) {
    $("#category option").attr("selected", "selected");

  }
  else{
    $("#category").select2("val", "");
  }
  $(".select2").select2({ width: '100%' })
});


</script>
{% endblock %}