{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Page Viewer</h3>
    <span>
      <a href="{% url 'pages:new_page' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Page </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped page-list">
        <thead>
          <tr>
            <th width="1%">No</th>
            <th width="10%">Title</th>
            <th width="10%">Slug</th>
            <th width="15%">URL</th>
            <th width="10%">Default Country</th>
            <th width="6%">Active</th>
            <th width="5%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for page in pages %}
          <tr>
            <td class="txt_center">{{page.id}}</td>
            <td>{{page.title}}</td>
            <td class="sec-col">{{page.slug}}</td>
            <td class="sec-col"><a href="/{{page.slug}}/" target="_blank">https://micropyramid.com/{{page.slug}}/</a></td>
            <td>{{page.country.name}}</td>
            <td class="txt_center"><a href="{% url 'pages:change_page_status' pk=page.id %}" class="on_off">
              {% if page.is_active %}
              <i class="fa fa-toggle-on"></i> Active
              {% else %}
              <i class="fa fa-toggle-off"></i> In Active
              {% endif %}
              </a>
            </td>
            <td class="txt_center">
              <a href="{% url 'pages:edit_page' pk=page.id %}" class="edit_anchor"><i class="fa fa-pencil-square-o"></i></a>
              <a href="{% url 'pages:delete_page' pk=page.id %}" class="delete_anchor"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- main content ends here-->
{% endblock %}
