{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
  <h4>Contact List</h4>
  <div class="row marl blog-form">
    <div class="table-responsive table-bordered">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">No</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Name</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Email</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Comments</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{contact.full_name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.message|truncatewords:10}}</td>
                <td><a class="delete_contact" value="{{contact.id}}" href="{% url 'micro_admin:delete_contact' pk=contact.id %}"><i class="fa fa-trash-o trash-color"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_contact').click(function(e){
      e.preventDefault();
      if (!confirm('Do you want to delete blog post?'))
        return;

      $.post('/portal/contacts/'+$(this).attr('value')+'/',function(data){
      if(data.error)
      {
        alert(data.message);
      }
      else{
        window.location ="{% url 'micro_admin:contacts' %}";
      }

    },"json")
    })
    });

</script>
<!-- main content ends here-->
{% endblock %}
<!-- main content ends here-->