<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> MicroPyramid </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css' />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
        <link type="text/css" href="/static/amdin/css/ez-style.css" rel="stylesheet"/>
        <link type="text/css" href="/static/amdin/css/ez-mobile.css" rel="stylesheet"/>
        <link type="text/css" href="/static/amdin/css/ez-responsive.css" rel="stylesheet"/>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="/static/amdin/js/jquery.popupoverlay.js"></script>
       

</head>

<body>
	<div id="wrapper">
    
      
      
      
      <div class="row marl">
      	<div class="container map-bg">
        	<div class="row marl">
            	<div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-1
                 col-xs-10 col-xs-offset-1 forgot-container white-box">
                	                	
                                
                <div class="row marl reg-head-cont">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reg-head">Reset Password<span class="login-acc">Enter your password details</span></div>
           
                </div>
                
                <div class="row marl reg-form">
                <form role="form">
                
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Password *</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter New Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Re-Enter Password *</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Re-Enter New Password">
                  </div>
                  
                                 
                  <button type="submit" class="btn btn-default site-btn">Reset Password</button>
               </form>
               
               
               
               
                </div>
                
                

                </div>
            </div>
        </div>
      </div>
      
      
      
      
      
      
      
    </div>

  
</body>
</html>
