<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Micro Pyramid Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
        <link type="text/css" href="/static/css/mpb-style.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/mpb-mobile.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/mpb-responsive.css" rel="stylesheet"/>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        
</head>

<body>
	
    <!-- Body Starts Here -->
		<div id="wrapper">
          <!-- Logo Row Starts Here -->
        	<div class="row marl logo-row">
          	 	<div class="container">
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo">Micro <span>Pyramid</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date-det">Last Login : 24/07/2014 <span class="tdy-date">Today's Date : 30/07/2014</span></div>
                </div>
        	</div>
          <!-- Logo Row ends Here -->
          
          <!-- menu Row Starts Here -->
          <div class="row marl menu-user-row">
          	<div class="container menu-user-block">
            ssss
            </div>
          </div>
          <!-- menu Row ends Here -->
          
          
          
          
          
          
          
		</div>
 	<!-- Body Ends Here -->
    
    
</body>