<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Micro Pyramid Admin</title>
  <link rel="shortcut icon" href="/static/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css" />
  {% load compress %}
  {% compress css %}
  <link type="text/less" href="/static/admin/less/login-style.less" rel="stylesheet" />
  {% endcompress %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Body Starts Here -->
  <div id="wrapper">
    <!-- Login Row Starts Here -->
    <div class="row marl login-row">
      <!-- Login left Starts Here -->
      <div class="col-md-offset-4 col-md-4 col-md-offset-4 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 login-left">

        <div class="logo">Micro
          <span>Pyramid</span>
        </div>
        <div class="form-heading">Company Employee Login<br/><br/><br/>
        <a href="{% url "micro_admin:google_login" %}" class="google_login"><i class="fa fa-google-plus" aria-hidden="true"></i>
 Login with Google</a>
        </div>
        <div id="error">
        </div>

        <!-- Login Form Starts Here -->
        <div class="panel panel-default login-form">
          <div class="panel-body">
          <div class="col-md-12 col-xs-12 login-right">
        <!-- Login right blocks starts Here -->
        <div id="login-r8-blocks">
          <div class="panel panel-default login-r8-block">
            <div class="panel-body">
              <div class="login-r8-head-desc">
                <h4>Blog Posts</h4>
                <p>A complete blog system with comments. Admins can review authors blog posts, can publish blog posts</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default login-r8-block">
            <div class="panel-body">
              <div class="login-r8-head-desc">
                <h4>Configurable Menu with country url structure</h4>
                <p>Multilevel Menu for desktop and mobile, url structure for menu in respective countries</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default login-r8-block">
            <div class="panel-body">
              <div class="login-r8-head-desc">
                <h4>Dynamic Pages With Seo Friendly</h4>
                <p>Admin can create dynamic pages for respective country, can update seo data for each page</p>
              </div>
            </div>
          </div>

        </div>
        <!-- Login right blocks ends Here -->
      </div>

          </div>
        </div>

        <!-- Login Form ends Here -->
      </div>
      <!-- Login left ends Here -->
    </div>
    <!-- Login Row Starts Here -->
  </div>
  <!-- Body Ends Here -->
</body>
