{% extends 'admin/base.html' %} 
{% load cache %}
{% load tz %}
{% block stage %}
{% load blog_tags %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Post Viewer</h3>
    <span>
      <span class='active_user'><i class="fa fa-square" style="color:#fcf8e3;"></i>Drafted</span>
      <span class='active_user'><i class="fa fa-square" style="color:#EEEEEE;"></i>Review</span>
      <span class='active_user'><i class="fa fa-square" style="color:rgba(20, 128, 0, 0.38);"></i>Published</span>
      <span class='inactive_user'><i class="fa fa-square" style="color:rgba(255, 0, 0, 0.42);"></i>Rejected</span>
      <a href="{% url 'micro_blog:new_post' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Post </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="blog_posts" class="table table-bordered">
        <thead>
          <tr>
            <th width="2%">Id</th>
            <th width="10%">Title</th>
            <th width="5%">Author</th>
            <th width="5%">Category</th>
            <th width="2%">Status</th>
            <th width="2%">Created On(MM/DD/YYYY)</th>
            <th width="3%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for post in blog_posts %}
          <tr class="{% if post.status == 'D' %}warning{% elif post.status == 'P' %}success{% elif post.status == 'R' %}review{% else %}danger{% endif %}">
            <td>{{post.id}}</td>
            <td><a href="{% url 'micro_blog:blog_article' slug=post.active_slugs.0.slug %}" target="_blank" title="View on site" class="title">{{post.title}}</a></td>
            {% if request.user.is_site_admin %}
            <td class="txt_center change_user" id="{{post.id}}">
            <form method="post" id="change_user_form_{{post.id}}" action="{% url 'micro_blog:admin_post_list' %}">{% csrf_token %}
            <input type="hidden" name="blog_id" value="{{post.id}}">
            <select name="change_author" style="background: rgba(158, 160, 160, 0.39); text-align: center; margin: 5px;">
            {% for user in users %}
            <option value="{{ user.id }}" {% ifequal post.user user %}selected {% endifequal %}>{{user.first_name}} {{user.last_name}}</option>
            {% endfor %}
            </select>
            </form></td>
            {% else %}
            <td class="txt_center">
            {{post.author}}
            </td>
            {% endif %}
            <td class="txt_center">{{post.category.name}}</td>
            <td class="txt_center">{% ifequal post.status 'D' %}Drafted{% endifequal %} {% ifequal post.status 'P' %}Published{% endifequal %}{% ifequal post.status 'T' %}Rejected{% endifequal %}{% ifequal post.status 'R' %}Review{% endifequal %}
            </td>
            <td class="txt_center">{{ post.created_on|date:"m/d/Y" }}</td>
            <td class="txt_center">{% if post|is_editable_by:request.user %}
              <a href="{% url 'micro_blog:edit_blog_post' blog_slug=post.active_slugs.0.slug%}" class="edit_anchor" value="{{ post.active_slugs.0.slug }}"><i class="fa fa-pencil-square-o"></i></a>{% endif %}
              {% if post|is_deletable_by:request.user %}
              <a href="{% url 'micro_blog:delete_post' blog_slug=post.active_slugs.0.slug %}" class="delete_post delete_anchor" value="{{ post.active_slugs.0.slug }}"><i class="fa fa-trash-o"></i></a>
              {% endif %}
              <a href="{% url 'micro_blog:blog_article' slug=post.active_slugs.0.slug %}" target="_blank" title="View on site" class="preview-btn-click edit_anchor"><i class="fa fa-eye" style="padding-right:1px;"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_post').click(function(e){
      e.preventDefault();
      if (!confirm('Do you want to delete blog post?'))
        return;

      $.post('/blog/delete-post/'+$(this).attr('value')+'/',function(data){
        if(data.error)
        {
          alert(data.message);
        }
        else{
          window.location ="{% url 'micro_blog:admin_post_list' %}";
        }
      },"json")
    });

    $('#blog_posts').DataTable({
      "sPaginationType": "full_numbers",
      "aaSorting": [],
      "bSort": true,
      "pageLength": 100
    });

  });

  $(".change_user").change(function(e){
    e.preventDefault();
    $("#change_user_form_"+$(this).attr("id")).submit()
  })
</script>
{% endcompress %}
<!-- main content ends here-->
{% endblock %}
