{% extends 'admin/base.html' %}
<!-- {% load cache %} -->
{% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Category Viewer</h3>
    <span>
      <a href="{% url 'new_blog_category' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Category </button></a>
      <a href="{% url 'new_post' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Post </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="2%">No</th>
            <th width="10%">Title (No. Of Posts)</th>
            <th width="10%">URL</th>
            <th width="10%">Status</th>
            {% if request.user.is_site_admin %}
            <th width="8%">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for category in blog_categories %}
          <tr>
            <td class="txt_center">{{ category.id }}</td>
            <td>{{ category.name }}({{category.no_of_blog_posts}})</td>
            <td class="sec-col"><a href="/blog/category/{{category.slug}}/" target="_blank">https://micropyramid.com/blog/category/{{category.slug}}/</a></td>
            <td class="txt_center"><a href="{% url 'change_category_status' category_slug=category.slug  %}" class="on_off">
              {% if category.is_display %}
              <i class="fa fa-toggle-on"></i> Active
              {% else %}
              <i class="fa fa-toggle-off"></i> In Active
              {% endif %}
              </a>
            </td>
            {% if request.user.is_site_admin %}
            <td class="txt_center">
              <a href="{% url 'edit_blog_category' category_slug=category.slug %}" class="edit_anchor"><i class="fa fa-pencil-square-o"></i></a>
              <a href="{% url 'delete_blog_category' category_slug=category.slug %}" class="delete_anchor delete_post "><i class="fa fa-trash-o"></i></a>
            </td>
           {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_post').click(function(e){
      e.preventDefault();
      if (confirm('Do you want to delete blog category?'))
        window.location = $(this).attr("href")
    });
  });
</script>
{% endcompress %}
{% endblock %}
