{% extends 'admin/base.html' %}
{% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
  <h4>Blog Category Creation</h4>
  <div class="row marl blog-form">
    <fieldset>
      <legend>New Blog Category</legend>
      <form action="." method="POST" id="blogcategoryform">{% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="Text" class="form-control" id="name" name="name" value="{{blog_category.name}}">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Description</label>
          <textarea class="form-control" id="description" name="description" rows="10" placeholder="HTML code of this email">
          	{{blog_category.description}}
          </textarea>
        </div>
        
        
        <div class="save-btn">
          <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
        </div>
      </form>
    </fieldset>
  </div>
</div>

<script type="text/javascript">
	$ = jQuery;

	$("form#blogcategoryform").submit(function(e) {
		e.preventDefault();
		$.post(".", $("form#blogcategoryform").serialize(), function(msg) {
			if (msg.error) {
				$('p.failure').remove();
				for (var key in msg.response){
					$('#'+key).after('<p class="failure">'+msg.response[key]+'</p>');
				}
			} else {
				window.location = '/portal/blog/category-list/';
			}
		}, 'json');
	});
</script>


{% endblock %}