{% extends 'admin/base.html' %} 
{% load cache %}
{% block stage %}
<!-- main content starts here-->
{% cache 100 blog_categories %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Category Viewer</h3>
    <span>
      <a href="{% url 'micro_blog:new_blog_category' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Category </button></a>
      <a href="{% url 'micro_blog:new_post' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Post </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="2%">No</th>
            <th width="10%">Title</th>
            <th width="8%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for category in blog_categories %}
          <tr class="{% if category.is_display %}success{% else %}danger{% endif %}">
            <td class="txt_center">{{ forloop.counter }}</td>
            <td>{{ category.name }}</td>
            <td class="txt_center">
              <a href="{% url 'micro_blog:edit_blog_category' category_slug=category.slug %}" class="edit_anchor"><i class="fa fa-pencil-square-o"></i>Edit </a>
              <a href="{% url 'micro_blog:delete_blog_category' category_slug=category.slug %}" class="delete_anchor"><i class="fa fa-trash-o"></i>Delete </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endcache %}
{% endblock %}
<!-- main content ends here-->
