{% extends 'admin/base.html' %}
{% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
    <h4>Blog Post Creation</h4>
    <div class="row marl blog-form">
        <fieldset>
            <legend>New Blog Post</legend>
            <form action="{% url 'micro_blog:edit_post' blog_slug=blog_post.slug %}" method="POST" id="blogform">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="Text" class="form-control" id="title" name="title" value="{{blog_post.title}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Category</label>
                    <select class="form-control" id="category" name="category">
                    {% for category in categories %}
                    <option value="{{category.id}}" {% ifequal blog_post.category category %}selected{% endifequal %}>{{category.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="row marl text-editor">
                    <div>
                        <div class="">
                            <p>
                                <label class="control-label" for="html">Blog Post Description</label>
                                <br/>
                            <div class="control-group">
                                <div class="controls" id="content">
                                    <input type="hidden" name="content">
                                    <textarea class="input-xlarge" id="textareacontents" name="textareacontents" rows="10" placeholder="HTML code of this email">
                                    {{blog_post.content|safe}}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tags-block">
                    <p><label>Tags Creation</label>
                        <input id="tags_1" type="text" class="tags" name="tags" value="{% for tag in blog_post.tags.all %}{{tag.name}},{% endfor %}" />
                    </p>
                </div>
                <div class="tags-block">
                    <p><label>Featured Image</label>
                        <input type="file" name="featuredimage" />
                    </p>
                </div>
                <div class="draft-box">
                    <input type="checkbox" name="status" value="D" {% ifequal blog_post.status 'D' %}checked{% endifequal %}> <label>Save As Draft</label>
                </div>
                <div class="draft-box">
                    <input type="checkbox" name="featured_post" value="on" {% ifequal blog_post.featured_post 'on' %}checked{% endifequal %}> <label>Featured Post</label>
                </div>
                <div class="save-btn">
                    <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
                </div>
            </form>
        </fieldset>
    </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
    CKEDITOR.config.allowedContent = true;
        var editor = CKEDITOR.replace( 'textareacontents',{
            filebrowserUploadUrl: '{% url "micro_blog:upload_photos" %}',
            filebrowserBrowseUrl: '{% url "micro_blog:recent_photos" %}'
           } );
</script>
<script type="text/javascript">
    $ = jQuery;

    $(document).ready(function() {
            $('form#blogform').ajaxForm({
                beforeSerialize: function()
                {
                    $("input[name='content']").val(CKEDITOR.instances.textareacontents.getData());
                },

                   dataType:  'json',
                   success:  function(data){
                           if(data.error)
                           {
                               $('p.failure').remove();
                               for (var key in data.response){
                                $('#'+key).after('<p class="failure">'+data.message[key]+'</p>');
                            }
                           }
                           else
                           {
                                   window.location="{% url 'micro_blog:admin_post_list' %}";
                           }
                   }
                   });

            });

</script>
{% endblock %}