{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Category Creation</h3>
  </div>
  <div class="panel-body">
    <fieldset>
      <legend>New Blog Category</legend>
      <form action="{% url 'micro_blog:new_blog_category'%}" method="POST" id="blogcategoryform">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="Text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Description</label>
          <textarea class="form-control" id="description" name="description" rows="10" placeholder="HTML code of this email"></textarea>
        </div>
        <div class="draft-box">
          <input type="checkbox" name="is_display" value="true">
          <label>Display</label>
        </div> 
        <div class="save-btn">
          <i class="fa fa-floppy-o"></i>
          <input type="submit" value="Save" class="save" id="search_lessons">
        </div>
      </form>
    </fieldset>
  </div>
</div>
<!-- main content ends here-->
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $ = jQuery;
  $("form#blogcategoryform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#blogcategoryform").serialize(), function(msg) {
      if (msg.error) {
        $('p.failure').remove();
        for (var key in msg.response) {
          $('#' + key).after('<p class="failure">' + msg.response[key] + '</p>');
        }
      } else {
        window.location = "{% url 'micro_blog:admin_category_list' %}";
      }
    }, 'json');
  });
</script>
{% endcompress %}
{% endblock %}