{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Blog Category</h3>
  </div>
  <div class="panel-body">
    <fieldset>
      <legend>Edit Blog Category</legend>
      <form action="{% url 'edit_blog_category' category_slug=blog_category.slug %}" method="POST" id="blogcategoryform">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="Text" class="form-control" id="name" name="name" value="{{blog_category.name}}">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Description</label>
          <textarea class="form-control" id="description" name="description" rows="10" placeholder="Category Description">{{blog_category.description}}</textarea>
        </div>
        <div class="draft-box">
          <input type="checkbox" name="is_display" value="true" {% if blog_category.is_display %}checked{% endif %}>
          <label>Display</label>
        </div>
        <div class="save-btn">
          <i class="fa fa-floppy-o"></i>
          <input type="submit" value="Save" class="save" id="search_lessons">
        </div>
      </form>
    </fieldset>
  </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
  $ = jQuery;
  $("form#blogcategoryform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#blogcategoryform").serialize(), function(msg) {
      if (msg.error) {
        $('p.failure').remove();
        for (var key in msg.response) {
          $('#' + key).after('<p class="failure">' + msg.response[key] + '</p>');
        }
      } else {
        window.location = "{% url 'admin_category_list' %}";
      }
    }, 'json');
  });
</script>
{% endblock %}