{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default blog_detail">
  <div class="panel-heading">
    <h3 class="panel-title">{{post.title}}</h3>
    <span class="uname">{{post.user.email}}</span>
    <span class="udate_time">{{post.updated_on}}</span>
  </div>
  <div class="panel-body">
    <div class="blog-left">

      <div class="desc">
        {{post.content|safe}}
      </div>
      <div class="tags_blog_detail">
        <ul>
          {% for tag in post.tags.all %}
            <li><i class="fa fa-tag"></i>{{tag.name}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- main content ends here-->