@import 'ref_dt.scss';

#page_404{
	padding: 129px 0px;
	@media (min-width: $mob_min) and (max-width:$smob_max){
		padding: 20px 0px;
	}
	.image_div{
		@media (min-width: $mob_min) and (max-width:$smob_max){
			text-align: center;
		}
		img{
			max-width: 100%;
			height: auto;
				@media (min-width: $mob_min) and (max-width:$smob_max){
				max-width: 80%;
			}
		}
	}
	.text_div_wrap{
		padding-left: 100px;
		@media (min-width: $mob_min) and (max-width:$smob_max){
			text-align: center;
			padding-left: 15px;
		}
		@media (min-width: $tab_min) and (max-width:1200px){
			padding-left: 25px;
		}
		.main_title{
			padding-top: 40px;
			font-family: 'Lobster', cursive;
			color: $yellow_404;
			font-size: 70px;
			font-weight: 400;
			@media (min-width: $mob_min) and (max-width:$smob_max){
				font-size: 3em;
			}
		}
		.text_div{
			padding: 60px 0px;
			color: #000;
			line-height: 28px;
			font-size: 15px;
			@media (min-width: $mob_min) and (max-width:$smob_max){
				padding: 20px 0px;
			}
		}
		.button_row{
			.button{
				cursor: pointer;
				border-radius: 3px;
				padding: 15px 30px;
				background: $theme_green;
				color: #fff;
				font-weight: 500;
				font-size: 18px;
				text-transform: uppercase;
				border:1px solid $theme_green;
				transition:0.4s;
				@media (min-width: $mob_min) and (max-width:$smob_max){
					padding: 12px;
					font-size: 1em;
				}
				&:hover{
					background: lighten($theme_green,4%);
					transition:0.4s;
				}
				img{
					opacity: 0.9;
					width: 50px;
					margin-right: 15px;
					height: auto;
					@media (min-width: $mob_min) and (max-width:$smob_max){
						width: 30px;
						margin-right: 5px;
					}
				}
			}
		}
	}
}
#page_500{
	@extend #page_404;
	.text_div_wrap{
		padding-left: 15px;
		padding-right: 100px;
		@media (min-width: $tab_min) and (max-width:1200px){
			padding-right: 25px;
		}
		@media (min-width: $mob_min) and (max-width:$smob_max){
			padding-right: 15px;
		}
		.main_title{
			color: $lavendar_500!important;
		}
	}
}