$med_min:992px;
$med_max:1199px;
$tab_max:991px;
$tab_min:768px;
$smob_max:767px;
$smob_min:480px;
$mob_max:479px;
$mob_min:240px;
$menu_bg:#fdfdfd;
$theme_green:#748907;
$stroke_color:#E1E1E1;
$menu_shadow:3px -1px 15px #626262;
$blog_shadow:0px 0px 1px #ccc;
$clay:#EC6A5C;
$breadcrumb_blue:#039DB1;
$yellow:#E0A713;
$amazon:#f7981d;
$django:#082d1f;
$mongo:#46ab4d;
$linux:#000000;
$python:#406888;
$facebook:#325c94;
$linkedin:#0073b2;
$twitter:#00abdc;
$youtube:#c4302b;
$google-plus:#ea3032;
$github:#333333;
$reddit:#ff4500;
$rss:#fa9b39;
$page_title:#353333;
$text_color:#696969;
$service_mp_bg:#7EB4C2;
$service_content_bg:#ebf7fa;
/* web development */
$web_dev_brown:#0c6770;
$web_dev_pink:#df4b48;
$web_dev_head:#63cdbf;
$web_dev_text:#e5fafc;
/* web development */
/* testing */
$testing_grey:#c0c0c0;
$testing_yellow:#0293b1;
$testing_blue:#3d5e71;
$tech_bg:#272822;
/* testing */
/* server manintainance */
//$server_banner_bg:#FFC73D;
//$server_banner_fg:#3DB698;
$server_banner_bg:#90A4AE;
$server_banner_fg:#546E7A;
/* server maintainance */
/* error pages */
$yellow_404:#feb402;
$lavendar_500:#6a51a0;
/* error pages */
.opensans{
	font-family: 'Open Sans', sans-serif;
}
.row{
	margin: 0px;
	padding: 0px;
}
a{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: inherit;
	}
}
.bold_upper{
	text-transform:uppercase;
	font-weight:bold;
}
@mixin social-style{
	font-size: 1.8rem;
    margin: 0px;
    color: #fff;
    display:inline-block;
}
@mixin brand_contact($color){
	background: $color;
	border:1px darken($color,15%);
}
/* change color keyframe */

/* change color keyframe */