body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  background: #3d464b;
  height: 100%;
}
.fn12 {
  font-size: 12px;
  font-weight: normal;
}
.fn13 {
  font-size: 13px;
  font-weight: normal;
}
.fn14 {
  font-size: 14px;
  font-weight: normal;
}
.fb12 {
  font-size: 12px;
  font-weight: bold;
}
.fb13 {
  font-size: 13px;
  font-weight: bold;
}
.fb14 {
  font-size: 14px;
  font-weight: bold;
}
.fb15 {
  font-size: 15px;
  font-weight: bold;
}
.tup {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
img,
img.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
}
.row {
  width: 100%;
}
.marl {
  margin-left: 0px;
  margin-right: 0px;
}
.login-row .login-left {
  height: 100%;
}
.login-row .login-left .save {
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
  font-weight: bold;
  border: none;
  background: #1b7da2;
}
.login-row .login-right {
  height: 100%;
  padding: 0% 2.5%;
}
.login-left .logo {
  text-align: center;
  font-weight: bold;
  color: White;
  font-size: 30px;
  text-shadow: 1px 3px 6px #222;
  margin-top: 90px;
}
.login-left .logo span {
  display: inline-block;
  color: #2b95d2;
}
.login-left .form-heading {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  font-size: 14px;
  text-shadow: 1px 3px 6px #222;
}
.login-left .login-form {
  margin-top: 40px;
  background: none;
  border-radius: 3px;
  border: 2px dashed #4b5960;
  padding: 0px;
  color: #a0aeb7;
}
.login-left .login-form .login_div {
  display: none;
}
.login-left .login-form .login_div a {
  cursor: pointer;
}
.login-left .login-form .forgot_div {
  display: none;
}
.login-left .login-form .forgot_div a {
  cursor: pointer;
}
.login-left .login-form .form-control {
  background: #505f66;
  height: 42px;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #29343a;
  color: #a0aeb7;
  outline: none;
}
.login-form ::-webkit-input-placeholder {
  color: #a0aeb7;
}
.login-form :-moz-placeholder {
  color: #a0aeb7;
}
.login-form ::-moz-placeholder {
  color: #a0aeb7;
}
.login-form :-ms-input-placeholder {
  color: #a0aeb7;
}
.login-form .forgot-submit .forgot {
  display: inline-block;
}
.login-form .forgot-submit .forgot a {
  color: #a0aeb7;
}
.login-form .forgot-submit .submit {
  float: right;
  display: inline-block;
  background: #2b95d1;
  border-radius: 2px;
}
.login-form .forgot-submit .submit a {
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
  text-shadow: 0px 2px 3px #005885;
}
.login-form .forgot-submit .submit a:hover {
  background: #005885;
  text-decoration: none;
}
#login-r8-blocks .login-r8-block {
  background: none;
  border: none;
  box-shadow: none;
  clear: both;
  position: relative;
  margin-bottom: 0px !important;
}
.login-r8-block .login-r8-icon {
  float: left;
  margin: 0px 25px 0px 0px;
  font-size: 100px;
  display: inline-block;
  width: 20%;
}
.login-r8-block .login-r8-head-desc {
  float: left;
  width: 100%;
  diusplay: inline-block;
}
.login-r8-head-desc h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}
.login-r8-head-desc p {
  font-weight: 300;
  line-height: 21px;
  font-size: 13px;
  text-align: justify;
}
.active_login {
  display: block !important;
}
.google_login {
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
  font-weight: bold;
  border: none;
  background: #1b7da2;
  text-decoration: none;
}
.google_login:hover {
  color: #fff;
}
body {
  background: #f9f6f1;
  font: 13px/1.7em 'Open Sans';
}
p {
  font: 13px/1.7em 'Open Sans';
}
input,
button,
select,
textarea {
  font-family: 'Open Sans';
}
.dropdown .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-icon-only {
  padding-right: 3px;
  padding-left: 3px;
}
.table td {
  vertical-align: middle;
}
.table-bordered th {
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9));
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
  background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
  background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
  font-size: 10px;
  color: #444;
  text-transform: uppercase;
}
.navbar .container {
  position: relative;
}
.navbar .nav {
  position: relative;
  left: 0;
  top: 10px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav a {
  font-size: 11px;
}
.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}
.navbar .nav.pull-right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.navbar .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav .active > .dropdown-toggle:hover {
  color: #ffffff;
}
.navbar .brand {
  font-weight: 600;
  position: relative;
  top: 8px;
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #ffffff;
}
.navbar .brand:hover {
  text-decoration: none;
}
.navbar .search-query {
  background-color: #444;
  width: 150px;
  font-size: 11px;
  font-weight: bold;
}
.navbar .search-query::-webkit-input-placeholder {
  color: #666;
}
.navbar .search-query:-moz-placeholder {
  color: #666;
}
.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}
.navbar .btn-group .btn {
  margin-top: 0;
}
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}
.navbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.navbar-inner {
  padding: 0px 0;
  background: #fff !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-top {
  position: static;
  top: 0;
}
.navbar-search .search-query {
  background: #008866;
  border: 0;
  color: #fff;
  line-height: normal;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  margin-bottom: 0;
}
.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar-fixed-bottom .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}
.navbar-fixed-bottom .dropdown-menu:after {
  border-top: 6px solid #ffffff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}
.navbar .nav .active > a {
  color: #333;
  text-decoration: none;
  background-color: #222222;
}
.navbar .nav .active > a:hover {
  color: #333;
  text-decoration: none;
  background-color: #222222;
}
.navbar .nav .open.active > .dropdown-toggle {
  color: #fff !important;
  background: #333 !important;
}
.navbar .nav li .active > a {
  color: #fff;
}
.navbar .nav li .active > a:hover {
  color: #fff;
}
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}
.navbar .nav .open > .dropdown-toggle,
.navbar .nav .active > .dropdown-toggle,
.navbar .nav .open.active > .dropdown-toggle {
  background-color: transparent;
}
.navbar .nav.pull-right .dropdown-menu,
.navbar .nav .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.navbar .nav.pull-right .dropdown-menu:before,
.navbar .nav .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.navbar .nav.pull-right .dropdown-menu:after,
.navbar .nav .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
.subnavbar .container1 > ul {
  display: inline-block;
  height: 80px;
  padding: 0;
  margin: 0;
}
.subnavbar .container1 > ul > li {
  float: left;
  min-width: 89px;
  height: 60px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d6d6d6;
}
.subnavbar .container1 > ul > li:last-child {
  border-right: 1px solid #d9d9d9;
}
.subnavbar .container1 > ul > li > a {
  display: block;
  height: 100%;
  padding: 0 0px;
  font-size: 12px;
  font-weight: bold;
  color: #b2afaa;
}
.subnavbar .container1 > ul > li > a:hover {
  color: #888;
  text-decoration: none;
}
.subnavbar .container1 > ul > li > a > i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  margin-bottom: -3px;
  font-size: 20px;
}
.subnavbar .container1 > ul > li > a > span {
  display: block;
}
.subnavbar .container1 > ul > li.active > a {
  border-bottom: 3px solid #ff7f74;
  color: #383838;
}
.subnavbar .dropdown .dropdown-menu {
  text-align: left;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.subnavbar .dropdown .dropdown-menu a {
  font-size: 12px;
}
.subnavbar .dropdown.open .caret {
  display: none;
}
.subnavbar .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.subnavbar .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px;
}
.subnavbar .caret {
  margin-top: 4px;
  border-top-color: white;
  border-bottom-color: white;
}
.subnavbar-inner {
  height: 60px;
  background: #fff;
  text-align: center;
}
.main {
  padding-top: 2em;
  padding-bottom: 2em;
}
.footer {
  margin-top: 0;
  border-top: 1px solid #292929;
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #FFF;
  text-decoration: none;
}
.footer-inner {
  padding: 15px 0;
  font-size: 12px;
  background: #111;
  color: #999;
}
.span12 {
  margin-left: 15px;
}
.all-icons li {
  list-style: none;
}
.ML0 {
  margin-left: 0;
}
.MR0 {
  margin-right: 0;
}
.mt {
  margin: 0px auto;
}
.panel-default > .panel-heading {
  color: #333;
  font-weight: 600;
  background-color: #f5f5f5;
  border-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
.panel-default > .panel-heading > h3 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
}
.panel-default > .panel-heading > span {
  float: right;
  margin-top: -6px;
  background: #fff;
  padding-left: 5px;
}
.panel-default > .panel-heading > span > button > i {
  padding-right: 5px;
}
.panel-default > .panel-heading > span > span {
  padding-right: 5px;
}
.panel-default > .panel-heading > span > span.active_user > i {
  color: #99B38E;
  padding-right: 5px;
}
.panel-default > .panel-heading > span > span.inactive_user > i {
  color: #D29A9A;
  padding-right: 5px;
}
.panel-default th {
  background: #fff;
  font-weight: 800;
  font-size: 13px;
}
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
}
.widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #f9f6f1;
  background: -moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f6f1), color-stop(100%, #f2efea));
  background: -webkit-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
  background: -o-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
  background: -ms-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
  background: linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
  border: 1px solid #d6d6d6;
  -webkit-background-clip: padding-box;
}
.widget-header h3 {
  margin-top: 0px;
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 800;
  color: #525252;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.widget-header [class^="fa-"],
.widget-header [class*=" fa-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
  padding: 15px !important;
}
.widget-content th {
  background: #fff;
  font-weight: 800 !important;
  font-size: 13px;
  width: 20%;
  border-bottom: 1px dashed #ddd!important;
  border-top: none!important;
  text-align: left !important;
}
.widget-content th i {
  float: right;
  color: #B2AFAA!important;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  background: #FFf;
  border: 1px solid #E5C89A !important;
  text-shadow: 1px 1px 0.9px #ddd;
  box-shadow: 1px 1px 0.9px #ddd;
}
.widget-content td {
  color: #888;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px dashed #ddd !important;
  border-top: none !important;
}
.widget-content td.mail_id {
  text-transform: lowercase;
}
.widget-content:after {
  clear: both;
}
.widget-nopad .widget-content {
  padding: 0;
}
.widget-content:before,
.widget-content:after {
  content: "";
  display: table;
}
.widget-table .widget-content {
  padding: 0;
}
.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget-table .table tr td:first-child {
  border-left: none;
}
.widget-table .table tr th:first-child {
  border-left: none;
}
.widget-plain {
  background: transparent;
  border: none;
}
.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}
.posts_leaves {
  display: block;
  font-weight: 600;
  color: #00ba8b!important;
  font-size: 19px!important;
}
.stat a {
  text-decoration: none;
  width: 126px;
  border: 1px solid #fff;
  display: inline-block;
  height: 64px;
  padding-top: 5px;
}
.stat a:hover {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}
#big_stats .stat {
  width: 1%;
  height: 90px;
  text-align: center;
  display: table-cell;
  padding: 0;
  position: relative;
  border-right: 1px solid #CCC;
  border-left: 1px solid #FFF;
}
#big_stats .stat:last-child {
  border-right: none;
}
#big_stats .stat .value {
  font-size: 27px!important;
  font-weight: bold;
  color: #545454;
  line-height: 1em;
}
#big_stats i {
  font-size: 20px !important;
  display: inline!important;
  padding-right: 6px;
  line-height: 40px;
  color: #b2afaa;
}
.edit_anchor {
  padding: 0px;
  border: 1px solid #13AFEB;
  color: #13AFEB;
  border-radius: 4px;
  transition: .5s;
  background: #fff;
  margin-right: 3px;
  text-align: center;
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 15px;
  padding-top: 3px;
}
.edit_anchor:hover {
  background: #38BBED;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.delete_anchor {
  padding: 0px;
  border: 1px solid #ff7f74;
  color: #ff7f74;
  border-radius: 4px;
  transition: .5s;
  background: #fff;
  margin-right: 3px;
  text-align: center;
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 15px;
  padding-top: 3px;
}
.delete_anchor:hover {
  background: #FD8F85;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.check_anchor {
  padding: 2px 3px;
  border: 1px solid #91c55a;
  color: #91c55a;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
}
.check_anchor:hover {
  background: #91c55a;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.cross_anchor {
  padding: 2px 3px;
  border: 1px solid #e2435a;
  color: #e2435a;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
}
.cross_anchor:hover {
  background: #e2435a;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
.txt_center {
  text-align: center;
}
th {
  text-align: center !important;
}
td {
  vertical-align: middle !important;
}
.caret-wid {
  display: block;
}
.caret-wid a i {
  color: #4c4c4c!important;
}
.on_off {
  color: #000;
  padding: 5px;
}
.on_off:hover {
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
}
form label {
  text-transform: capitalize !important;
  color: #666;
  font-size: 12px;
}
form .form-control {
  box-shadow: none;
  width: 96%;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
}
form .form-control:focus {
  border: 1px solid #3092BE;
  border-bottom: 2px solid #3092BE !important;
}
.columns2-form .form-group {
  width: 50%;
  float: left;
}
.save-btn {
  border: 1px solid #2e6da4;
  background: #337ab7;
  padding: 5px 22px;
  display: inline-block;
}
.save-btn:hover {
  background: #2e6da4;
}
.save-btn .save {
  background: none;
  box-shadow: none;
  border: none;
  color: #fff;
  font-weight: bold;
}
.save-btn i {
  color: #fff;
  margin: 0px 3px;
}
.failure {
  color: red;
}
.slug-text {
  display: block;
  border-radius: 3px;
  border: none;
  background: #7266ba;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 6px;
  margin-top: 4px;
  width: 96%;
}
.blog_detail h4 {
  display: inline-block;
}
.blog_detail span.uname {
  color: #FF5722;
}
.blog_detail span.uname::before {
  content: '-';
  padding-right: 3px;
}
.blog_detail span.udate_time {
  font-style: italic;
  padding-left: 0px;
  color: #135DAB;
}
.blog_detail span.udate_time::before {
  content: ',';
  padding-right: 5px;
  padding-left: 0px;
}
.blog_detail span.uname,
.blog_detail span.udate_time {
  float: none;
  font-size: 11px;
  background: inherit!important;
}
.tags_blog_detail ul {
  margin: 0px;
  padding: 0px;
}
.tags_blog_detail ul li {
  list-style: none;
  display: inline-block;
  color: #0C5C56;
  background: #D7CCC8;
  border: 1px solid #615340;
  padding: 1px 8px;
  font-size: 11px;
  box-shadow: 1px 1px 1.5px #C5BDB3;
}
.tags_blog_detail ul li i {
  padding-right: 5px;
}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-bottom: none;
}
table.dataTable.no-footer {
  margin-bottom: 15px;
}
input[type=search],
select {
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
}
select {
  background: #fff;
  padding: 3px 5px;
}
.title_row {
  padding: 10px 0px;
}
.title_row .book_admin {
  color: #1aafc5;
  font-weight: 600;
}
.title_row .admin_name {
  font-style: italic;
  font-weight: 600;
}
.title_row .created_detail {
  font-style: italic;
}
.title_row .created_on {
  color: #efa530;
  font-weight: 600;
}
.title_row .updated_on {
  color: #967bdc;
  font-weight: 600;
}
.title_row .slug_div {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.title_row .slug_div span.slug {
  color: #9FA87B;
  font-weight: 600;
}
.title_row .slug_div span.status {
  color: #00BA8B;
  font-weight: 600;
}
.title_row span,
.authors_div span {
  margin-right: 15px;
}
.book_detail .book_title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.book_detail .description_div {
  padding: 15px 0px;
}
.book_detail .description_div span {
  color: #fe7971;
  font-weight: 600;
}
.book_detail .description_div p {
  padding: 15px 0px;
}
.authors_div .authors {
  padding: 5px 10px;
  background: #ddd;
  font-weight: 600;
}
.authors_div .author_name {
  padding-left: 15px;
  border-left: 1px dotted #ccc;
}
.topic_list_div {
  margin-top: 15px;
}
.topic_list_div .child_row {
  display: none;
}
.topic_list_div .child_row td {
  background: #dff0d8;
}
.topic_list_div .child_row td:first-child {
  padding-left: 15px;
}
.topic_list_div .table-bordered {
  border: 1px solid #ddd;
}
.plus-icon i {
  padding-top: 9px;
}
.plus-color {
  background: #45bbbd;
  padding: 5px;
  color: #fff;
}
.topic_list_heading {
  font-size: 22px;
  color: #efa530;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.content_div {
  border-left: 1px solid #ddd;
  height: 470px;
  overflow-y: scroll;
}
.content_div .content-div {
  display: none;
}
.content_div h5 {
  font-size: 25px;
  color: #fd6e70;
}
.tree_div .parent_list,
.tree_div .parent_list li ul {
  padding: 0px;
  margin: 0px;
}
.tree_div .parent_list li,
.tree_div .parent_list li ul li {
  list-style: none;
  cursor: pointer;
}
.tree_div .parent_list li ul li {
  padding-left: 36px;
  padding-top: 5px;
}
.tree_div .parent_list li i {
  padding-right: 8px;
}
.tree_div .sub_topic_list {
  display: none;
}
.li_active {
  color: #efa530 !important;
}
.actions_book {
  float: right;
}
.actions_book a {
  padding: 5px;
  margin: 0px 3px;
  border: 1px solid #ddd;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}
.topic-content {
  margin-top: 25px;
}
.topic-content .btn {
  margin-top: 20px;
}
.topic-content .form-control {
  box-shadow: none;
  background: white;
  border-radius: 2px;
}
.topic_list_div .sub-topic-title {
  padding-left: 30px;
}
select:focus,
select:active,
input:focus,
textarea:focus {
  background: #D4EAFC;
}
/*------------------------------------------------------------------
[1. Max Width: 480px]
*/
@media (max-width: 480px) {
  .error-container h1 {
    font-size: 72px;
  }
}
/*------------------------------------------------------------------
[1. Max Width: 767px]
*/
@media (max-width: 767px) {
  #main {
    padding: 0 10px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .subnavbar {
    margin-left: -20px;
    margin-right: -20px;
  }
  .subnavbar .container > ul {
    width: 100%;
    height: auto;
    border: none;
  }
  .subnavbar .container > ul > li {
    width: 33%;
    height: 70px;
    margin-bottom: 0;
    border: none;
  }
  .subnavbar .container > ul > li.active > a {
    font-size: 11px;
    background: transparent;
  }
  .subnavbar .container > ul > li > a > i {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
  }
  .subnavbar-inner {
    height: auto;
  }
  .subnavbar-open-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .subnavbar-open-right .dropdown-menu:before {
    left: auto;
    right: 12px;
  }
  .subnavbar-open-right .dropdown-menu:after {
    left: auto;
    right: 13px;
  }
  .extra {
    margin-right: -20px;
    margin-left: -20px;
  }
  .extra .container {
    padding: 0 20px;
  }
  .footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer .footer-terms {
    text-align: left;
  }
  .footer .footer-terms a {
    margin-left: 0;
    margin-right: 1em;
  }
}
/*------------------------------------------------------------------
[3. Max Width: 979px]
*/
@media (max-width: 979px) {
  .navbar-fixed-top {
    position: static;
    margin-bottom: 0;
  }
  .subnavbar .container {
    width: auto;
  }
}
/*------------------------------------------------------------------
[2. Max Width: 1200px]
*/
@media (min-width: 1200px) {
  .navbar .search-query {
    width: 200px;
  }
}
.ac-results {
  position: absolute;
  background-color: white;
  display: block;
  /* width: 50%; */
  padding: 10px 15px;
  border: 1px solid #eee;
  width: 80%;
  word-wrap: break-word;
}
.ac-results .result-wrapper {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
.main-inner .container:first-child {
  width: 96%;
}
.menu-list tbody tr td {
  padding: 2px;
  padding-left: 7px;
}
.page-list tbody tr td {
  padding: 5px;
  padding-left: 7px;
}
.select2-container {
  width: 100%;
}
.table-bordered tbody tr.warning td {
  background: #fcf8e3;
}
.table-bordered tbody tr.warning td .title {
  color: black;
}
.table-bordered tbody tr.review td {
  background: #EEEEEE;
}
.table-bordered tbody tr.review td .title {
  color: black;
}
.table-bordered tbody tr.success td {
  background: rgba(20, 128, 0, 0.38);
}
.table-bordered tbody tr.success td .title {
  color: black;
}
.table-bordered tbody tr.danger td {
  background: rgba(255, 0, 0, 0.42);
}
.table-bordered tbody tr.danger td .title {
  color: black;
}
/*!
 * bootstrap-vertical-tabs - v1.2.2
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2016-12-02
 * Copyright (c) 2016 İsmail Demirbilek
 * License: MIT
 */

.tabs-left,.tabs-right{border-bottom:none;padding-top:2px}.tabs-left{border-right:1px solid #ddd}.tabs-right{border-left:1px solid #ddd}.tabs-left>li,.tabs-right>li{float:none;margin-bottom:2px}.tabs-left>li{margin-right:-1px}.tabs-right>li{margin-left:-1px}.tabs-left>li.active>a,.tabs-left>li.active>a:focus,.tabs-left>li.active>a:hover{border-bottom-color:#ddd;border-right-color:transparent}.tabs-right>li.active>a,.tabs-right>li.active>a:focus,.tabs-right>li.active>a:hover{border-bottom:1px solid #ddd;border-left-color:transparent}.tabs-left>li>a{border-radius:4px 0 0 4px;margin-right:0;display:block}.tabs-right>li>a{border-radius:0 4px 4px 0;margin-right:0}.sideways{margin-top:50px;border:none;position:relative}.sideways>li{height:20px;width:120px;margin-bottom:100px}.sideways>li>a{border-bottom:1px solid #ddd;border-right-color:transparent;text-align:center;border-radius:4px 4px 0 0}.sideways>li.active>a,.sideways>li.active>a:focus,.sideways>li.active>a:hover{border-bottom-color:transparent;border-right-color:#ddd;border-left-color:#ddd}.sideways.tabs-left{left:-50px}.sideways.tabs-right{right:-50px}.sideways.tabs-right>li{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.sideways.tabs-left>li{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}.book_wrap {
  border: 1px solid #ddd;
  width: 30%;
  float: left;
  margin: 15px 5px 5px 5px;
  padding: 20px;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #fff;
  transition: border 1s ease;
}
.book_wrap h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #4c4c4c;
}
.book_wrap div.border {
  width: 100;
  height: 2px;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #cccccc 50%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 50%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #cccccc 50%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #cccccc 50%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #cccccc 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  transition: 1s;
}
.book_wrap:hover {
  border: 1px solid #374ca3;
  cursor: pointer;
  outline-color: #374ca3;
  transition: border 1s ease;
}
.book_wrap:hover div.border {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #374ca3 50%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(50%, #374ca3), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #374ca3 50%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #374ca3 50%, #ffffff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #374ca3 50%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #374ca3 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  transition: 1s;
}
.book_wrap .author_book_list::before {
  content: '-';
  padding-right: 5px;
}
.book_wrap .book_list_time {
  padding: 0px;
  color: #666;
  font-weight: normal;
}
.book_wrap .book_list_time i {
  padding-right: 8px;
  font-size: 15px;
  color: #ccc;
}
.book_wrap .author_book_list,
.book_wrap .book_list_time {
  text-align: center;
  font-style: italic;
  color: #374ca3;
  padding: 15px;
  font-weight: 600;
}
.slug_item {
  margin-bottom: 10px;
}
.slug_item .slug_text {
  padding: 0px;
}
.slug_item .slug_text input[type="text"] {
  width: 85%;
}
.slug_item .slug_check input[type="checkbox"] {
  margin-right: 10px;
}
/* Blog Preview */
.preview {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  padding: 5px 15px;
  color: #fff;
  background: #337ab7;
}
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
}
div.tagsinput span.tag {
  border: 1px solid #dcab09;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: #fbc71b;
  color: #333;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #505458;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #505458 !important;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}
/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013-2015 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
 *
 * Built for http://www.improvely.com
 */

 .daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.openscenter:before {
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.openscenter:after {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.dropup{
  margin-top: -5px;
}
.daterangepicker.dropup:before{
  top: initial;
  bottom:-7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}
.daterangepicker.dropup:after{
  top: initial;
  bottom:-6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker td.available.today, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: #ebf4f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.start-date {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker td.today.active, .daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: #3071a9;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}

.daterangepicker_end_input {
  float: left;
  padding-left: 11px
}

.daterangepicker th.month {
  width: auto;
}
