{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu Viewer</h3>
    <span>
      <span class='active_user'><i class="fa fa-square"></i>ON</span>
      <span class='inactive_user'><i class="fa fa-square"></i>OFF</span>
      <a href="{% url 'pages:add_menu' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add Menu </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="2%">No</th>
            <th width="10%">Title</th>
            <th width="20%">URL</th>
            <th width="5%">Swap</th>
            <th width="5%">Status</th>
            <th width="10%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for menu in menu_list %}
          {% with count=iterator.next  %}
          <tr class="{% ifequal menu.status 'on' %} success {% else %} danger {% endifequal %}">
            <td class="txt_center">{{count}}</td>
            <td>{{menu.title}}</td>
            <td class="sec-col">{{menu.url}}</td>
            <td class="menu-swap txt_center">
              <div class="inner-swap-wid txt_center">
                <span class="caret-wid"><a href="#"><i class="fa fa-caret-down" 
                  id="{{menu.id}}"></i></a></span>
                <span class="caret-wid"><a href="#"><i class="fa fa-caret-up" 
                  id="{{menu.id}}"></i></a></span>
              </div>
            </td>
            <td class="txt_center"><a href="{% url 'pages:change_menu_status' pk=menu.id %}" class="on_off">
              {% ifequal menu.status 'on' %}
              <i class="fa fa-toggle-on"></i> ON
              {% else %}
              <i class="fa fa-toggle-off"></i> OFF
              {% endifequal %}
              </a>
            </td>
            <td class="txt_center">
              <a href="{% url 'pages:edit_menu' pk=menu.id %}" class="edit_anchor"><i class="fa fa-pencil-square-o"></i>Edit</a>
              <a href="{% url 'pages:delete_menu' pk=menu.id %}" class="delete_anchor"><i class="fa fa-trash-o"></i>Delete</a>
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.fa-caret-down').click(function(){
        $.post('/portal/content/menu/'+$(this).attr('id')+'/order/',{'mode':'down'},function(data){
          if (data.message){
            alert(data.message);
          }
          window.location = '/portal/content/menu/';
        }, 'json');
    });
    $('.fa-caret-up').click(function(){
        $.post('/portal/content/menu/'+$(this).attr('id')+'/order/',{'mode':'up'},function(data){
          if (data.message){
            alert(data.message);
          }
          window.location = '/portal/content/menu/';
        }, 'json');
    });
  });
</script>
{% endcompress %}
<!-- main content ends here-->
{% endblock %}
