{% extends 'admin/base.html' %}
{% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
    <div class="row marl blog-form">
        <fieldset>
            <div class="save-btn">
                <a href="{% url 'pages:add_menu' %}">Add New</a>
            </div>
            <div class="table-responsive table-bordered">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">No</th>
                            <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Title</th>
                            <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">URL</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Status</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Edit</th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for menu in menu_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{menu.title}}</td>
                            <td class="sec-col">{{menu.url}}</td>
                            <td><a href="{% url 'pages:change_menu_status' pk=menu.id %}">
                                {% ifequal menu.status 'on' %}
                                <i class="fa fa-circle status-color-g"></i>
                                {% else %}
                                <i class="fa fa-circle status-color"></i>
                                {% endifequal %}
                                </a>
                            </td>
                            
                            <td><a href="{% url 'pages:edit_menu' pk=menu.id %}"><i class="fa fa-pencil-square-o edit-color"></i></a></td>
                            <td><a href="{% url 'pages:delete_menu' pk=menu.id %}"><i class="fa fa-trash-o trash-color"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.fa-caret-down').click(function(data){
        alert("down");
        alert($(this).attr('id'))
        var thisRow = $(this).closest('tr');
        var nextRow = thisRow.next();
        if (nextRow.length) {
            nextRow.after(thisRow);
        }
        $.post('/portal/content/menu/'+$(this).attr('id')+'/order/',{'mode':'down'},function(data){
            alert("hello");
        });
    });
    $('.fa-caret-up').click(function(data){
        alert("up");
        alert($(this).attr('id'))
        var thisRow = $(this).closest('tr');
        var prevRow = thisRow.prev();
        if (prevRow.length) {
            prevRow.before(thisRow);
        }
        $.post('/portal/content/menu/'+$(this).attr('id')+'/order/',{'mode':'up'},function(data){
            alert("hello");
        });
    });
});
</script>
{% endblock %}