{% extends 'admin/base.html' %} {% block stage %}
{% load recurse %}
{% load range %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Menu Creation</h3>
  </div>
  <div class="panel-body">
    <form action="." method="POST" id="menuform">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="Text" class="form-control" id="title" name="title" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Parent</label>
        <select class="form-control" id="parent" name="parent">
          <option value="">Top Level</option>
          {% recurse menu.menu_set.all|dictsort:"lvl"  with parent as menu %}
          {% loop %}
          <option value="{{ menu.id }}">
            {% for i in level|add:"-1"|get_range %}----{% endfor %}{{menu.title}}
          </option>
          {% child %}
          {% endloop %}
          {% endrecurse %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Country</label>
        <select class="input select2" placeholder="country" name="country" id="country">
          <option value="">Select A Country</option>
          {% for country in countries %}
          <option value="{{country.id}}" class="country_id">{{country.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">URL</label>
        <input type="text" class="form-control" id="url" name="url" value="https://">
      </div>
      <div class="draft-box">
        <input type="checkbox" name="status" value="on"> <label>Active</label>
      </div>
      <div class="save-btn">
        <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $ = jQuery;
  $("form#menuform").submit(function(e) {
    e.preventDefault();
    $.post(".", $("form#menuform").serialize(), function(msg) {
      if (msg.error) {
        $('p.failure').remove();
        for (var key in msg.response){
          $('#'+key).after('<p class="failure">'+msg.response[key]+'</p>');
        }
      } else {
        window.location = '/portal/content/menu/';
      }
    }, 'json');
  });
</script>

{% endblock %}