{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="row marl main-content">
  <h4>Blog Reports Viewer <small> -To Add,Delete,Edit your Report</small></h4>
  <div class="row marl blog-form">
    <div class="table-responsive table-bordered">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">No</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Employee</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Name</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Role</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
              <tr>
                <td>{{forloop.counter}}</td>
              <td>{% if request.user.is_admin %}<a href={% url 'employee:employee_report' pk=report.id%}>{{report.email}}</a>{% elif request.user.email == report.email %}<a href={% url 'employee:employee_report' pk=report.id%}>{{report.email}}</a>{% else %}{{report.email}}{% endif %}</td>
                <td class="sec-col">{{report.first_name}}</td>
                <td class="sec-col">{{report.user_roles}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main content ends here-->
{% endblock %}
<!-- main content ends here-->