{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reports Viewer</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="1%">No</th>
            <th width="8%">Employee</th>
            <th width="5%">Name</th>
            <th width="5%">Role</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
          <td class="txt_center">{{forloop.counter}}</td>
          <td>
            {% if request.user.is_superuser or request.user.email == report.email %}
              <a href={% url 'employee:employee_report' pk=report.id%}>{{report.email}}</a>
            {% else %}{{report.email}}
            {% endif %}
          </td>
          <td class="sec-col">{{report.first_name}}</td>
          <td class="sec-col">{{report.user_roles}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- main content ends here-->
{% endblock %}
