{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
{% load blog_tags %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Leaves Viewer</h3>
    <span>
      <a href="{% url 'employee:new_leave' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Leave </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="8%">Employee</th>
            <th width="8%">Name</th>
            <th width="8%">Role</th>
            <th width="8%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for leave in leaves %}
          <tr>
            <td>
              <a href="{% url 'employee:view_leaves' pk=leave.id %}">{{leave.user.email}}</a>
            </td>
            <input type="hidden" id="user_id" name="user_id" value="{{ leave.user.id }}">
            <td class="txt_center">{{leave.user.first_name}}</td>
            <td class="sec-col">{{leave.user.user_roles}}</td>
            <td class="txt_center">
              <a href="{% url 'employee:edit_leaves' pk=leave.id %}" class="edit_anchor"><i class="fa fa-pencil-square-o edit-color"></i>Edit</a>
              <a href="{% url 'employee:delete_leaves' pk=leave.id %}" class="delete_leave delete_anchor" value="{{leave.id}}"><i class="fa fa-trash-o trash-color"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          {% get_page current_page last_page as pages %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/portal/employee/leaves/?page={{s}}">{{s}}</a></li>
          {% endfor %}
          <li class="disabled"><a href="/portal/employee/leaves/{{request.user.id}}/?page={{s}}">...</a></li>
          <li><a href="/portal/employee/leaves/{{request.user.id}}/?page={{last_page}}">last</a></li>
          <li><a href="/portal/employee/leaves/{{request.user.id}}/?page={{current_page| add:"1"}}">Next<i class="fa fa-angle-right pagination-next"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- main content ends here-->
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_leave').click(function(e){
      var value =$('#user_id').val();
      e.preventDefault();
      if (!confirm('Do you want to delete leave?'))
        return;
      $.post('/portal/employee/leaves/delete/'+$(this).attr('value')+'/',function(data){
        if(data.error)
        {
          alert(data.message);
        }
        else{
          window.location ='.';
        }
      },'json');
    })
    });
</script>
{% endblock %}
<!-- main content ends here-->