{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Report Creation</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'employee:new_report' %}" method="POST" id="blogform" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group select2-wrapper">
      </div>
      <div class="form-group">
        <p><label>Date:</label><input type="text" id="date" name="date"></p>
        <label class="control-label" for="html">Report Description</label>
        <div class="control-group">
          <div class="controls" id="report">
            <input type="hidden" name="report">
            <input type="hidden" id="user_id" name="user_id" value="{{ request.user.id }}">
            <textarea class="input-xlarge" id="textareacontents" name="textareacontents" rows="10" placeholder="HTML code of this email">
            </textarea>
          </div>
        </div>
      </div>
      <div class="tags-block"></div>
        <div class="save-btn">
          <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
        </div>
    </form>
  </div>
</div>
<!-- main content ends here-->
{% load compress %}
{% compress js %}
<script type="text/javascript">
  CKEDITOR.config.allowedContent = true;
  var editor = CKEDITOR.replace('textareacontents', {
    filebrowserUploadUrl: '{% url "micro_blog:upload_photos" %}',
    filebrowserBrowseUrl: '{% url "micro_blog:recent_photos" %}'
  });
</script>
<script type="text/javascript">
  $ = jQuery;
    var value =$('#user_id').val();
    $('form#blogform').ajaxForm({
      beforeSerialize: function() {
        console.log(CKEDITOR.instances.textareacontents.getData())
        $("input[name='report']").val(CKEDITOR.instances.textareacontents.getData());
      },
      dataType: 'json',
      success: function(data) {
        if (data.error) {
          $('p.failure').remove();
          for (var key in data.response) {
            $('#' + key).after('<p class="failure">' + data.response[key] + '</p>');
          }
        } else {
          window.location ='/portal/employee/reports/'+value+'/';
        }
      }
    });
</script>
{% endcompress %}
<script>
  $(function() {
    $( "#date" ).datepicker({
      showButtonPanel: true
    });
  });
  </script>
{% endblock %}