{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
{% load blog_tags %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reports Viewer</h3>
    <span>
      <a href="{% url 'employee:new_report' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Report </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="8%">Employee</th>
            <th width="6%">Name</th>
            <th width="8%">Date</th>
            <th width="8%">Created On</th>
            <th width="8%">Role</th>
            <th width="5%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <td>
              <a href="{% url 'employee:view_report' pk=report.id %}">{{report.employee.email}}</a>
            </td>
            <input type="hidden" id="user_id" name="user_id" value="{{ new_report.employee.id }}">
            <td class="txt_center">{{report.employee.first_name}}</td>
            <td class="txt_center">{{report.date}}</td>
            <td class="sec-col">{{report.created_on}}</td>
            <td class="txt_center">{{report.employee.user_roles}}</td>
            <td class="txt_center">
              <a href="{% url 'employee:delete_report' pk=report.id %}" class="delete_report delete_anchor" value="{{report.id}}"><i class="fa fa-trash-o trash-color"></i>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          {% get_page current_page last_page as pages %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/portal/employee/reports/?page={{s}}">{{s}}</a></li>
          {% endfor %}
          <li class="disabled"><a href="/portal/employee/reports/{{request.user.id}}/?page={{s}}">...</a></li>
          <li><a href="/portal/employee/reports/{{request.user.id}}/?page={{last_page}}">last</a></li>
          <li><a href="/portal/employee/reports/{{request.user.id}}/?page={{current_page| add:"1"}}">Next<i class="fa fa-angle-right pagination-next"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_report').click(function(e){
      var value =$('#user_id').val();
      e.preventDefault();
      if (!confirm('Do you want to delete report?'))
        return;
      $.post('/portal/employee/reports/delete/'+$(this).attr('value')+'/',function(data){
        if(data.error)
        {
          alert(data.message);
        }
        else{
          window.location ='.';
        }
      },'json');
    })
    });
</script>
{% endblock %}
<!-- main content ends here-->