{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default blog-list">
  <div class="panel-heading">
    <h3 class="panel-title">Leave Detail Page</h3>
  </div>
  <div class="panel-body">
    <div class="blog-left">
      <div class="blog-upic-details">
        <span class="uname">{{leaves.user.email}}</span>
      </div>
      <div class="desc">
        Reason: {{leaves.reason|safe}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- main content ends here-->