{% extends 'admin/base.html' %} {% block stage %}
<div class="panel panel-default blog-list">
  <div class="panel-heading">
    <h3 class="panel-title">Report Detail Page</h3>
  </div>
  <div class="panel-body">
    <div class="blog-left">
      <div class="blog-upic-details">
        <span class="uname">{{reports.employee.email}}</span>
        <span class="udate-time">{{reports.created_on}}</span>
      </div>
      <div class="desc">
        Report: {{reports.report|safe}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- main content ends here-->