{% extends 'admin/base.html' %} {% block stage %}
<div class="panel panel-default blog_detail">
  <div class="panel-heading">
    <h3 class="panel-title report_name">{{reports.employee.get_full_name}}</h3><span class="report_on">'s Report on</span> 
    <span class="udate_time report_cdate">{{reports.created_on}}</span>
  </div>
  <div class="panel-body">
    <div class="blog-left">
      <div class="desc">
        {{reports.report|safe}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- main content ends here-->