.book_wrap{
	border: 1px solid #ddd;
	width: 30%;
	float: left;
	margin: 15px 5px 5px 5px;
	padding: 20px;
	outline-width: 2px;
	outline-style: solid;
	outline-color: #fff;
	transition: border 1s ease;
}
.book_wrap h2{
	text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #4c4c4c;
}
.book_wrap div.border{
	width: 100;
	height: 2px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #cccccc 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#cccccc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#cccccc 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#cccccc 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#cccccc 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#cccccc 50%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	transition: 1s;
}
.book_wrap:hover{
	border:1px solid #374ca3;
	cursor: pointer;
	outline-color: #374ca3;
	transition: border 1s ease;
}
.book_wrap:hover div.border{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #374ca3 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#374ca3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#374ca3 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#374ca3 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#374ca3 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#374ca3 50%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	transition: 1s;
}
.book_wrap .author_book_list,
.book_wrap .book_list_time{
	text-align: center;
	font-style: italic;
	color: #374ca3;
	padding: 15px;
	font-weight: 600;
}
.book_wrap .author_book_list::before{
	content: '-';
	padding-right: 5px;
}
.book_wrap .book_list_time{
	padding: 0px;
	color: #666;
	font-weight: normal;
}
.book_wrap .book_list_time i{
	padding-right: 8px;
	font-size: 15px;
	color: #ccc;
}