@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#fff;
	font-family: 'Lato', sans-serif;
	background: #3d464b; /* Old browsers */
	background: -moz-linear-gradient(left, #3d464b 50%, #2b95d1 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,#3d464b), color-stop(50%,#2b95d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #3d464b 50%,#2b95d1 50%); /* IE10+ */
	background: linear-gradient(to right, #3d464b 50%,#2b95d1 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d464b', endColorstr='#2b95d1',GradientType=1 ); /* IE6-9 */
	height:100%;
	}
.fn12{
	font-size:12px;
	font-weight:normal;
	}
.fn13{
	font-size:13px;
	font-weight:normal;
	}
.fn14{
	font-size:14px;
	font-weight:normal;
	}
.fb12{
	font-size:12px;
	font-weight:bold;
	}
.fb13{
	font-size:13px;
	font-weight:bold;
	}
.fb14{
	font-size:14px;
	font-weight:bold;
	}
.fb15{
	font-size:15px;
	font-weight:bold;
	}
.tup{
	text-transform:uppercase;
	}
.pull-right{
	float:right;
	}
.pull-left{
	float:left;
	}
img, img.scale-with-grid {
	outline: 0;
	max-width: 100%;
	height: auto;
	}
#wrapper{}
.row{width:100%;}
.marl{margin-left:0px;
margin-right:0px;
}
.login-row{
	
	}
.login-row .login-left{
	/*background:#3c464c;*/
	height:100%;
	padding:0% 10%;
	}
.login-row .login-left .save{
	color: #fff;
	display: inline-block;
	padding: 6px 15px;
	font-weight: bold;
	border: none;
	background: #1b7da2;
}
.login-row .login-left .submit:hover{

}
.login-row .login-right{
/*	background:#2b95d2;*/
	height:100%;
	padding:0% 2.5%;
	}
.login-left .logo{
	text-align:center;
	font-weight:bold;
	color:White;
	font-size:30px;
	text-shadow:1px 3px 6px #222;
	margin-top:90px;
	}
.login-left .logo span{
	display:inline-block;
	color:#2b95d2;
}
.login-left .form-heading{
	color:#fff;
	text-align:center;
	font-weight:bold;
	margin-top:0px;
	font-size:14px;
	text-shadow:1px 3px 6px #222;	
}
.login-left .login-form{
	margin-top:40px;
	background:none;
	border-radius:3px;
	border:2px dashed #4b5960;
	padding:0px;
	color:#a0aeb7;	
}
.login-left .login-form .panel-body{
	padding:45px 15px;	
}
.login-left .login-form .form-control{
	background:#505f66;
	height:42px;
	border-radius:2px;
	border:none;
	border-bottom:2px solid #29343a;
	color:#a0aeb7;
	outline:none;
}
.login-form ::-webkit-input-placeholder {
   color:#a0aeb7;
}

.login-form :-moz-placeholder { /* Firefox 18- */
   color:#a0aeb7;
}

.login-form ::-moz-placeholder {  /* Firefox 19+ */
   color:#a0aeb7;  
}

.login-form :-ms-input-placeholder {  
   color:#a0aeb7; 
}
.login-form .forgot-submit{
	
}
.login-form .forgot-submit .forgot{
	display:inline-block;	
}
.login-form .forgot-submit .forgot a{
 color:#a0aeb7; 	
}
.login-form .forgot-submit .submit{
	float:right;
	display:inline-block;
	background:#2b95d1;
	border-radius:2px;
}
.login-form .forgot-submit .submit a{
	color:#fff;
	display:inline-block;
	padding:6px 15px;
	text-shadow: 0px 2px 3px #005885;
}
.login-form .forgot-submit .submit a:hover{
	background: #005885;
	text-decoration:none;
}

.login-right #login-r8-blocks{
	margin-top:75px;	
}

#login-r8-blocks .login-r8-block{
	margin-bottom:10px;
	background:none;
	border:none;
	box-shadow:none;
	clear: both;
	position: relative;	
}
.login-r8-block .login-r8-icon{
	float:left;
	margin: 0px 25px 0px 0px;
	font-size:100px;
	display:inline-block;	
	width:20%;
}
.login-r8-block .login-r8-head-desc{
	float:left;
	width:74%;
	diusplay:inline-block;
}
.login-r8-head-desc h4{
	font-size:14px;
	font-weight:bold;
	margin-bottom:3px;
	}
.login-r8-head-desc p{
	font-weight:300;
	line-height:21px;
	font-size:13px;	
	text-align:justify;
}
