@charset "utf-8";
/* CSS Document */
 
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.footer-row .foot-menu {border:none;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)  {


 }
@media (min-width: 992px)  and (max-width :1199px) { 

.footer-row .foot-menu {text-align:center;padding:7px 0px;border-bottom:1px dashed #ddd;}
.ques-crt .crt-img a {
font-size: 35px;
color: #fff;
display:block;}
}
	
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width :991px) { 
.footer-row .land-copy{text-align:center;padding:7px 0px;}
.ques-user-det span {display: inline-block;margin-bottom:5px;}

.logo-sign-row{padding:10px 0px;border:none;border-bottom:3px solid #edf0f2;}


 }
 


@media (min-width: 481px) and (max-width: 767px){ 
.logo-sign-row{padding:10px 0px;border:none;border-bottom:3px solid #edf0f2;}
.navbar-default .navbar-nav>li>a:hover{border-radius:0px;}
.navbar-nav>li>.dropdown-menu{border-radius:0px;padding:0px;border:1px solid #d1d1d1;}
.dropdown-menu>li>a{color:#fff !important;background:#009ddc;}
.dropdown-menu>li>a:hover{background:#fff;color:#009ddc !important;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{border-radius:0px;color:#fff;background:#fdb53f;}
.navbar-default .navbar-toggle{border:none;}
.navbar-default .navbar-toggle:hover{border:1px solid  #99cc00;background:none;}
.navbar-default .navbar-toggle .icon-bar {background: #99cc00 !important;}
.table-responsive {margin-top:20px;border:none;}
.prof-ipt-block{padding:0px;}
.ques-user-det span {display: inline-block;margin-bottom:5px;}
.ques-user-img{margin-bottom:10px;text-align:center;}
.ques-left-block{padding:0px;}.ques-right-block{padding:0px;}
.ques-crt .crt-img a {
font-size: 47px;
color: #fff;
display:block;}
.ques-crt .form-group{margin-bottom:0px;}

}