@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:0px;background:url(../images/admin-bg.png) repeat;font-size:10pt;font-family: 'Lato', sans-serif;}
.fn12{font-size:12px;font-weight:normal;}
.fn13{font-size:13px;font-weight:normal;}
.fn14{font-size:14px;font-weight:normal;}
.fb12{font-size:12px;font-weight:bold;}
.fb13{font-size:13px;font-weight:bold;}
.fb14{font-size:14px;font-weight:bold;}
.fb15{font-size:15px;font-weight:bold;}
.tup{text-transform:uppercase;}
.pull-right{float:right;}
.pull-left{float:left;}
img, img.scale-with-grid {
outline: 0;
max-width: 100%;
height: auto;}
#wrapper{}
.row{width:100%;}
.marl{margin-left:0px;margin-right:0px;}
#top-blue{background:#3fcdff;height:5px;display:block;border:none;overflow:hidden;}
.logo{ font-style:italic;text-transform:none;color:#f08779;font-size:20px; font-weight:bold;padding-top:6px;}
.logo-sign-row{background:#fff;border-bottom:1px solid #d4d4d4;}
.failure{color:red;}
.navbar{margin-bottom:0px;}
.navbar-default{background:white;border-radius:0px;box-shadow:none;border:none;}
.navbar-brand {float: left;padding: 15px;font-size: 18px;line-height: 20px;height: 50px;color:#fdb53f !important;font-weight:bold;padding-left:0px;}
.navbar-default .navbar-nav>li>a{color:#7c7c7c;font-weight:bold;text-transform:uppercase;font-size:10px;padding:5px 10px;}
.navbar-default .navbar-nav>li>a:hover{border-radius:30px;color:#fff;background:#fdb53f;}
.navbar-nav{margin-top:12px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{border-radius:30px;color:#fff;background:#fdb53f;}
.navbar-nav>li>.dropdown-menu{border-radius:0px;padding:0px;border:1px solid #d1d1d1;}
.dropdown-menu>li>a{color:#fff;background:#009ddc;font-weight:bold;text-transform:uppercase;font-size:10px;padding:9px 10px;border-bottom:1px solid #0393cd;}
.dropdown-menu>li>a:hover{background:#fff;color:#009ddc;}

.prof-upl-tabs{padding:30px 0px;}
.prof-upload-container{margin-top:15px;padding:15px 0px;}.prof-upl-tabs .nav-tabs>li>a i{margin-right:6px;}
.prof-upl-tabs .nav-tabs{}
.prof-upl-tabs .tab-content{padding:25px 0px;}
.prof-upl-tabs .nav-tabs>li>a{color:#009ddc;font-weight:400;font-size:11px;padding: 10px 10px;text-transform:uppercase;background:#fff;border-radius:0px;}
.prof-upl-tabs .nav-tabs>li>a:hover{background:#009ddc;color:#fff;}
.prof-upl-tabs .nav-tabs>li.active>a, .prof-upl-tabs .nav-tabs>li.active>a:hover, .prof-upl-tabs .nav-tabs>li.active>a:focus{background:#009ddc;color:#fff;}
.prof-upl-tabs label{color:#6c6a6a;font-weight:600;font-size:11px; text-transform:uppercase;}
.prof-upl-tabs .form-control{background:#fff;height:50px;border-radius:2px;border:1px solid #dfe1e6;box-shadow:none;color:#6c6a6a;text-transform:uppercase;font-size:11px;}
.prof-upl-tabs .log-btn {
display: block;
width: 100%;
background: #99cc00;
color: #fff;
border-radius: 0px;
box-shadow: none;
border: none;
padding: 10px;
text-transform: uppercase;
}
.prof-upl-tabs .log-btn i{margin-right:10px;}
.prof-upl-tabs .forgot-link{margin-bottom:12px;color:#f09a11;font-size:12px;position: relative;top: -12px;}


.footer-row{background: #009ddc;padding:10px 0px;position:fixed;bottom:0;border-top:1px solid #ddd;}
.footer-row .land-copy{color: #fff;font-size:10px;font-weight:400;}
.footer-row .foot-menu {text-align:right;}
.footer-row .foot-menu .list-inline{margin:0px;padding:0px;}
.footer-row .foot-menu .list-inline li{list-style:none;}
.footer-row .foot-menu .list-inline li a{color: #FFFFFF;font-size:10px;font-weight:400;}
.footer-row .foot-menu .list-inline li a:hover{text-decoration:underline;}


.inner-heads{margin-top:15px;padding:20px 0px;text-align:center;}
.inner-heads .inner-main-head{color:#6c6a6a;font-weight:500;font-size:21px; text-transform:uppercase;}
.inner-heads .inner-re-head{color:#8e8c8c; font-size:12px;font-weight:300;text-transform:uppercase;padding:8px 0px;border-bottom:1px solid #f39c11;}

.profile-container{margin-top:20px;}
.profile-img{padding:0px;position:relative;margin-bottom:20px;}
.profile-img img{  height:auto;border:4px solid white;}
.profile-img span{color:#fff;font-size:13px;}
.profile-img span a{color:#fff;display:block;position:absolute;bottom: 4px;left: 4px;padding:10px;background:#333;opacity:0.7;}
.profile-rem{padding:0px;}

.profile-form label{color:#6c6a6a;font-weight:600;font-size:11px; text-transform:uppercase;}
.profile-form .form-control{background:#fff;height:50px;border-radius:2px;border:1px solid #dfe1e6;box-shadow:none;color:#6c6a6a;text-transform:uppercase;font-size:11px;}
.log-btn {
display: block;font-weight:300;
width: 100%;
background: #99cc00;
color: #fff;
border-radius: 0px;
box-shadow: none;
border: none;
padding: 10px;

}
.log-btn i{margin-right:10px;}
.log-btn:hover{background:#f09a11;color:#fff;} 



.prof-table{margin-top:20px;background:#fff;border-radius:5px;padding:10px;}
.prof-table .prop-count{color:#535352;font-weight:400;font-size:13px;}
.prof-table .prop-count span{float:right;}
.prof-table .prop-count span a{color:#fff;background:#8940ac;display:block;padding:5px 10px;}
.prof-table  .table>thead>tr>th{color:#6c6a6a;}
.prof-table  .table>tbody>tr>td{color:#939394 !important;font-weight:400;font-size:13px;border:none;padding:10px 7px;}
.prof-table .prop-name{color:#009ddc;}
.prof-table .prop-edit {color:#fff;background:#f09a11;padding:3px 4px;text-align:center;border-radius:2px;}
.prof-table .prop-del{color:#fff;background:#ee5255;padding:3px 4px;text-align:center;border-radius:2px;}

.ques-user-img{padding:0px;}
.ques-user-img img{border-radius:50%;}
.ques-user-det{}
.ques-user-det i{margin-right:7px;}.ques-user-det span{color:#fff;padding:5px 10px;border-radius:15px;font-size:13px;font-weight:300;margin:0px 5px;}
.ques-user-det .yellow{background:#f09a11;}
.ques-user-det .purple{background:#8940ac;}
.ques-user-det .red{background:#ee5255;}

.ques-mem-container{margin-top:25px;}
.ques-user-form{margin-top:25px;}
.ques-user-form label{color:#6c6a6a;font-weight:600;font-size:11px; text-transform:uppercase;}
.ques-user-form .form-control{background:#fff;height:50px;border-radius:2px;border:1px solid #dfe1e6;box-shadow:none;color:#6c6a6a;text-transform:uppercase;font-size:11px;}
.ques-user-form  .log-btn{margin-top:20px;padding:14px 0px;}

.questions-container{}
.ques-left-block{padding-left:0px;}
.ques-left-block{padding-left:0px;}

.ques-left-block .panel-default {border: none;box-shadow: none;border: none;border-top:3px solid #99cc00;}
.ques-block .ques-num i{margin-right:7px;}
.ques-block .ques-num{color:#009ddc;font-size:17px;font-weight:300;}
.ques-block .ques-num span{float:right;}
.ques-block .ques-num span a{color:#45b996;border:1px solid #45b996;margin-right:6px;display: inline-block;padding:4px 5px;border-radius:3px;}
.ques-block .ques-num span a:hover{background:#45b996;color:#fff;border:1px solid #45b996;}
.ques-block .ques-num span a i{margin:0px;font-size:12px;}
.ques-block .question{color:#434865;font-weight:700;font-size:13px;padding:10px 0px;display:block;}
.ques-block .question span{display:block;color:#8e8c8c;text-transform:uppercase;font-size:11px;font-weight:300;padding:7px 0px;}

.tooltip-inner{max-width:200px;font-size:9px;padding:6px 12px;color:#3eba95;text-align:center;text-decoration:none;background-color:#fff;border-radius:4px;border:1px solid #3eba95; text-transform: uppercase;}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#3eba95}
.prop-set-block{border-radius:10px;background:#3eba95;padding:5px 15px;border-top:3px solid #f09a11;}
.prop-set-block .prop-set-head{font-style:italic;font-weight:bold;font-size:18px;color:#c3f7f3;padding:10px 0px;}
.prop-req strong{color:#000;font-weight:600;font-size:15px;}
.prop-req-desc{font-weight:500;color:#ddd;display:inline-block;margin-top:6px;}
.prop-ipt{margin-top:10px;display:block;}
.ans-list{margin:0px;padding:0px;}
.ans-list li{list-style:none;font-weight:300;font-size:14px;color:#8e8c8c;disploay:block;padding:3px 0px;}

	   .ans-list input[type=checkbox] {
			display:none;
		}

		.ans-list  label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: 300;
		}
		.ans-list input[type=checkbox] + label:before {
			content: "";  
			display: inline-block;  
			width: 17px;  
			height: 17px;  
			vertical-align:middle;
			margin-right: 8px;  
			background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 4px;  
		}
		.ans-list input[type=checkbox]:checked + label:before {
			content:"\2714";
			color:#3eba95;
			background-color: #fff; 
			border:1px solid #ddd; 
			text-align:center;
			line-height:15px;
			text-shadow:0px 0px 3px #eee;
		}
		
	
	.ans-list input[type=radio] {
	    display:none;
	}
	.ans-list input[type=radio] + label:before {
	    content: "";  
	    display: inline-block;  
	    width: 17px;  
	    height: 17px;  
	    vertical-align:middle;
	    margin-right: 8px;  
	   background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px;  
	}
	
.ans-list input[type=radio]:checked + label:before {
		content: "\2022";
		color:#3eba95;
	    background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px;  
		font-size:1.8em;
		text-align:center;
		line-height:14px;
		text-shadow:0px 0px 3px #eee;
	}
.prop-req .form-control{border:none;box-shadow:none;background:white;}
.ans-list img{border-radius:50%;width:50px;height:50px;margin-right:10px;}

.ques-crt-container{margin-top:15px;}
.ques-crt-block{background:#9148a4;border-top:3px solid #f39c11;padding:15px;border-radius:5px;}
.ques-crt-block .ques-num i{margin-right:7px;}
.ques-crt-block .ques-num{color:#fff;font-size:17px;font-weight:300;text-transform:uppercase;}
.ques-crt-block .ques-num span{float:right;}
.ques-crt-block .ques-num span a{color:#fff;border:1px solid #fff;margin-right:6px;display: inline-block;padding:4px 5px;border-radius:3px;}
.ques-crt-block .ques-num span a:hover{background:#fff;color:#f39c11;border:1px solid #fff;}
.ques-crt-block .ques-num span a i{margin:0px;font-size:12px;}
.ques-crt-block .tooltip-inner{max-width:200px;font-size:9px;padding:6px 12px;color:#fff;text-align:center;text-decoration:none;background-color:#f39c11;border-radius:4px;border:1px solid #f39c11; text-transform: uppercase;}
.ques-crt-block .tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#f39c11}
.ques-crt .crt-text, .ques-crt .crt-img, .ques-crt .crt-help, .ques-crt .crt-btn{padding:5px;}.ques-crt .crt-btn{margin-top:20px;}
.ques-crt{margin-top:10px;}
.ques-crt-container label{color:#fff;text-transform:uppercase;font-weight:400;font-size:10px;}
.ques-crt-container .form-control{border:none;box-shadow:none;background:#fff;height:45px;border-radius:2px;color:#888;}.ques-crt .crt-img{}
.ques-crt .crt-img a{font-size:47px;color:#fff;}
.ques-crt-container .log-btn {
display: block;font-weight:300;
width: 100%;
background: #f09a11;
color: #fff;
}.ques-crt .crt-img a {
font-size: 47px;
color: #fff;
display:block;}

.ques-crt .form-group{margin-bottom:0px;}
.ques-crt-container .log-btn i{margin-right:10px;}
.ques-crt-container .log-btn:hover{background:#99cc00;color:#fff;} 

.ques-type{margin-top:15px;}
.ques-type-radio .form-group{margin-bottom:5px;}
.ques-type-radio{padding:5px;}
.ques-type-radio span{display:block;color:#fff;text-transform:uppercase;font-weight:400;font-size:11px;margin-bottom:7px;}

.ques-type input[type=radio] {
	    display:none;
	}
	.ques-type input[type=radio] + label:before {
	    content: "";  
	    display: inline-block;  
	    width: 17px;  
	    height: 17px;  
	    vertical-align:middle;
	    margin-right: 8px;  
	   background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px; 
	}
	
.ques-type input[type=radio]:checked + label:before {
		content: "\2022";
		color:#3eba95;
	    background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px;  
		font-size:1.8em;
		text-align:center;
		line-height:14px;
		text-shadow:0px 0px 3px #eee;
	}
.ques-type-radio label{padding-right:30px;}
.ans-list input[type=checkbox] {
			display:none;
		}
	
	   .ques-type input[type=checkbox] {
			display:none;
		}
		.ques-type   label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: 300;
		}
		.ques-type  input[type=checkbox] + label:before {
			content: "";  
			display: inline-block;  
			width: 17px;  
			height: 17px;  
			vertical-align:middle;
			margin-right: 8px;  
			background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 4px;  
		}
		.ques-type  input[type=checkbox]:checked + label:before {
			content:"\2714";
			color:#3eba95;
			background-color: #fff; 
			border:1px solid #ddd; 
			text-align:center;
			line-height:15px;
			text-shadow:0px 0px 3px #eee;
		}
		
		
		
		
		
		
		
		
		
		
		
		
	.ques-ipts{padding:0px 5px;}	
			.ques-ipts input[type=radio] {
	    display:none;
	}
	.ques-ipts input[type=radio] + label:before {
	    content: "";  
	    display: inline-block;  
	    width: 17px;  
	    height: 17px;  
	    vertical-align:middle;
	    margin-right: 8px;  
	   background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px; 
	}
	
.ques-ipts input[type=radio]:checked + label:before {
		content: "\2022";
		color:#3eba95;
	    background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 8px;  
		font-size:1.8em;
		text-align:center;
		line-height:14px;
		text-shadow:0px 0px 3px #eee;
	}
.ques-ipts-radio label{padding-right:30px;}
.ans-list input[type=checkbox] {
			display:none;
		}

		.ques-ipts input[type=checkbox] {
			display:none;
		}
		.ques-ipts   label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: 300;
		}
		.ques-ipts  input[type=checkbox] + label:before {
			content: "";  
			display: inline-block;  
			width: 17px;  
			height: 17px;  
			vertical-align:middle;
			margin-right: 8px;  
			background-color: #fff;
			border:1px solid #ddd;  
			box-shadow: none;
			border-radius: 4px;  
		}
		.ques-ipts  input[type=checkbox]:checked + label:before {
			content:"\2714";
			color:#3eba95;
			background-color: #fff; 
			border:1px solid #ddd; 
			text-align:center;
			line-height:15px;
			text-shadow:0px 0px 3px #eee;
		}
		.ques-ipts .opt-ans{margin:6px 0px;display:inline-block;width:25%;}
		.ques-ipts .opt-ans .form-control{height:30px;font-size:12px;font-weight:300;}
		.ques-ipts .opt-img a{color:#fff;font-size:18px;}.ques-ipts .opt-img a i{margin-right:10px;}
		.ques-btn-block {margin-top:10px;margin-bottom:30px;}