/*------------------------------------------------------------------
[1. Global]
*/

body {
  background: #f9f6f1;
  font: 13px/1.7em 'Open Sans';
}

p {
  font: 13px/1.7em 'Open Sans';
}

input,
button,
select,
textarea {
  font-family: 'Open Sans';
}

.dropdown .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn-icon-only {
  padding-right: 3px;
  padding-left: 3px;
}

.table td {
  vertical-align: middle;
}

.table-bordered th {
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9));
    /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    /* Opera11.10+ */
  background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    /* IE10+ */
  background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  font-size: 10px;
  color: #444;
  text-transform: uppercase;
}
/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/

.navbar .container {
  position: relative;
}

.navbar-inner {
  padding: 7px 0;
  background: #00ba8b !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top {
  position: static;
}

.navbar .nav a {
  font-size: 11px;
}

.navbar .nav>li>a {
  color: #fff !important;
}

.navbar .brand {
  font-weight: 600;
  position: relative;
  top: 2px;
}

.navbar .search-query {
  background-color: #444;
  width: 150px;
  font-size: 11px;
  font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
  color: #666;
}

.navbar .search-query:-moz-placeholder {
  color: #666;
}

.navbar-search .search-query {
  background: #008866;
  border: 0;
  color: #fff;
  line-height: normal;
}

.navbar-fixed-top {
  /* top: 0;*/
  ;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  /*position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;*/
  margin-bottom: 0;
}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #ffffff;
}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}

.navbar .btn-group .btn {
  margin-top: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  /*position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;*/
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav.pull-right {
  float: right;
}

.navbar .nav>li {
  display: block;
  float: left;
}

.navbar .nav>li>a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav>li>a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}

.navbar .nav .active>a,
.navbar .nav .active>a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
}

.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}

.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}

.navbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.navbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.navbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}

.navbar-fixed-bottom .dropdown-menu:before {
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  bottom: -7px;
  top: auto;
}

.navbar-fixed-bottom .dropdown-menu:after {
  border-top: 6px solid #ffffff;
  border-bottom: 0;
  bottom: -6px;
  top: auto;
}

.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .nav .open>.dropdown-toggle,
.navbar .nav .active>.dropdown-toggle,
.navbar .nav .open.active>.dropdown-toggle {
  background-color: transparent;
}

.navbar .nav .active>.dropdown-toggle:hover {
  color: #ffffff;
}

.navbar .nav.pull-right .dropdown-menu,
.navbar .nav .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}

.navbar .nav.pull-right .dropdown-menu:before,
.navbar .nav .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}

.navbar .nav.pull-right .dropdown-menu:after,
.navbar .nav .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}
/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar {
    /*margin-bottom: 2.5em;
   margin-top: 55px; 
  position: fixed;
  top: 54px;*/
  width: 100%;
}

.subnavbar-inner {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
  display: inline-block;
  height: 80px;
  padding: 0;
  margin: 0;
}

.subnavbar .container > ul > li {
  float: left;
  min-width: 90px;
  height: 60px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border-left: 1px solid #d9d9d9;
}

.subnavbar .container > ul > li > a {
  display: block;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  font-weight: bold;
  color: #b2afaa;
}

.subnavbar .container > ul > li > a:hover {
  color: #888;
  text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  margin-bottom: -3px;
  font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
  display: block;
}

.subnavbar .container > ul > li.active > a {
  border-bottom: 3px solid #ff7f74;
  color: #383838;
}

.subnavbar .dropdown .dropdown-menu a {
  font-size: 12px;
}

.subnavbar .dropdown .dropdown-menu {
  text-align: left;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.subnavbar .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.subnavbar .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px;
}

.subnavbar .caret {
  margin-top: 4px;
  border-top-color: white;
  border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
  display: none;
}
/*------------------------------------------------------------------
[4. Main / .main]
*/

.main {
    /*margin-top: 114px;*/
  padding-top: 2em;
  padding-bottom: 2em;
    /*border-bottom: 1px solid #000;*/
  ;
}
/*------------------------------------------------------------------
[6. Footer/ .footer]
*/

.footer {
  margin-top: 0;
  border-top: 1px solid #292929;
}

.footer-inner {
  padding: 15px 0;
  font-size: 12px;
  background: #111;
  color: #999;
}

.footer a {
  color: #999;
}

.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.span12 {
  margin-left: 15px;
}
/*------------------------------------------------------------------
[8. Miscellaneous]
*/

.all-icons li {
  list-style: none;
}

.ML0 {
  margin-left: 0;
}

.MR0 {
  margin-right: 0;
}

.mt {
  margin: 0px auto;
}
/*list*/

.panel-default>.panel-heading {
  color: #333;
  font-weight: 600;
  background-color: #f5f5f5;
  border-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.panel-default>.panel-heading>h3 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
}

.panel-default>.panel-heading>span {
  float: right;
  margin-top: -6px;
}

.panel-default>.panel-heading>span>button>i {
  padding-right: 5px;
}

.panel-default>.panel-heading>span {
  background: #fff;
  padding-left: 5px;
    /*padding: 5px 3px;*/
  ;
}

.panel-default>.panel-heading>span>span {
  padding-right: 5px;
}

.panel-default>.panel-heading>span>span.active_user>i {
  color: #99B38E;
  padding-right: 5px;
}

.panel-default>.panel-heading>span>span.inactive_user>i {
  color: #D29A9A;
  padding-right: 5px;
}

.panel-default th {
  background: #fff;
  font-weight: 800;
  font-size: 15px;
}
/*list*/
/*------------------------------------------------------------------
[6. Widget / .widget]
*/

.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
}

.widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #f9f6f1;
  background: -moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f6f1), color-stop(100%, #f2efea));
    /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    /* IE10+ */
  background: linear-gradient(top, #f9f6f1 0%, #f2efea 100%);
    /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
  border: 1px solid #d6d6d6;
  -webkit-background-clip: padding-box;
}

.widget-header h3 {
  margin-top: 0px;
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 800;
  color: #525252;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.widget-header [class^="fa-"],
.widget-header [class*=" fa-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}

.widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget-content th {
  background: #fff;
  font-weight: 800 !important;
  font-size: 13px;
  width: 20%;
  /*color: #BE8411;*/
  border-bottom: 1px dashed #ddd!important;
  border-top: none!important;
}

.widget-content th i {
  float: right;
  color: #B2AFAA!important;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  background: #FFf;
  border: 1px solid #E5C89A !important;
  text-shadow: 1px 1px 0.9px #ddd;
  box-shadow: 1px 1px 0.9px #ddd;
}

.widget-content td {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px dashed #ddd !important;
  border-top: none !important;
}

.widget-content td.mail_id {
  text-transform: lowercase;
}

.widget-header+.widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget-nopad .widget-content {
  padding: 0;
}

/* Widget Content Clearfix */

.widget-content:before,
.widget-content:after {
  content: "";
  display: table;
}

.widget-content:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */

.widget-content {
  zoom: 1;
}
/* Widget Table */

.widget-table .widget-content {
  padding: 0;
}

.widget-table .table {
  margin-bottom: 0;
  border: none;
}

.widget-table .table tr td:first-child {
  border-left: none;
}

.widget-table .table tr th:first-child {
  border-left: none;
}
/* Widget Plain */

.widget-plain {
  background: transparent;
  border: none;
}

.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
/* Widget Box */

.widget-box {
}

.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}
/*------------------------------------------------------------------
/*user-detail*/

.posts_leaves {
  display: block;
  font-weight: 600;
  color: #00ba8b!important;
  font-size: 19px!important;
}

.stat a{
  text-decoration: none;
  width: 126px;
  border: 1px solid #fff;
  display: inline-block;
  height: 64px;
  padding-top: 5px;
}
.stat a:hover{
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}
#big_stats i {
  font-size: 20px !important;
  display: inline!important;
  padding-right: 6px;
  line-height: 40px;
  color: #b2afaa;
}
/*user-detail*/
/*EDIT ANCHOR AND DELETE ANCHOR*/

.edit_anchor i,
.delete_anchor i {
  padding-right: 5px;
}

.edit_anchor {
  padding: 2px 3px;
  border: 1px solid #13AFEB;
  color: #13AFEB;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
  margin-right: 3px;
}

.edit_anchor:hover {
  background: #38BBED;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.delete_anchor {
  padding: 2px 3px;
  border: 1px solid #ff7f74;
  color: #ff7f74;
  border-radius: 4px;
  transition: 0.5s;
  background: #fff;
}

.delete_anchor:hover {
  background: #FD8F85;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
/*EDIT ANCHOR AND DELETE ANCHOR*/

.txt_center {
  text-align: center;
}

th {
  text-align: center !important;
}

td {
  vertical-align: middle !important;
}
/*caret wid*/

.caret-wid {
  display: block;
}

.caret-wid a i {
  color: #4c4c4c!important;
}

.on_off {
  color: #000;
  padding: 5px;
}

.on_off:hover {
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
}
/*caret wid*/

form label{
  text-transform: capitalize !important;
  color: #666;
  font-size: 12px;
}
form .form-control{
  box-shadow:none;
  width: 96%;
  border-radius:0px;
  border-bottom: 2px solid #ccc;
}
form .form-control:focus{
  border: 1px solid #3092BE; 
  border-bottom: 2px solid #3092BE !important;
}
.columns2-form .form-group{
  width: 50%;
  float: left;
}
.save-btn{
  border: 1px solid #2e6da4;
  background: #337ab7;
  padding:5px 22px;
  display: inline-block;
}
.save-btn:hover{
  background: #2e6da4;
}
.save-btn .save{
  background: none;
  box-shadow: none;
  border: none;
  color: #fff;
  font-weight: bold;
}
.save-btn i{
  color: #fff;
  margin:0px 3px;
}
.failure{
  color: red;
}
.slug-text {
  display: block;
  border-radius: 3px;
  border: none;
  background: #7266ba;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 6px;
  margin-top: 4px;
  width: 96%;
}

/*------------------------------------------------------------------
[1. Max Width: 480px]
*/

@media (max-width: 480px) {
  .error-container h1 {
    font-size: 72px;
  };
}
/*------------------------------------------------------------------
[1. Max Width: 767px]
*/

@media (max-width: 767px) {
  #main {
    padding: 0 10px;
    margin-right: -20px;
    margin-left: -20px;
  }

  .subnavbar {
    margin-left: -20px;
    margin-right: -20px;
  }

  .subnavbar-inner {
    height: auto;
  }

  .subnavbar .container > ul {
    width: 100%;
    height: auto;
    border: none;
  }

  .subnavbar .container > ul > li {
    width: 33%;
    height: 70px;
    margin-bottom: 0;
    border: none;
  }

  .subnavbar .container > ul > li.active > a {
    font-size: 11px;
    background: transparent;
  }

  .subnavbar .container > ul > li > a > i {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
  }

  .subnavbar-open-right .dropdown-menu {
    left: auto;
    right: 0;
  }

  .subnavbar-open-right .dropdown-menu:before {
    left: auto;
    right: 12px;
  }

  .subnavbar-open-right .dropdown-menu:after {
    left: auto;
    right: 13px;
  }

  .extra {
    margin-right: -20px;
    margin-left: -20px;
  }

  .extra .container {
    padding: 0 20px;
  }

  .footer {
    margin-right: -20px;
    margin-left: -20px;
  }

  .footer .container {
    padding: 0 20px;
  }

  .footer .footer-terms {
    text-align: left;
  }

  .footer .footer-terms a {
    margin-left: 0;
    margin-right: 1em;
  };
}
/*------------------------------------------------------------------
[3. Max Width: 979px]
*/

@media (max-width: 979px) {
  .navbar-fixed-top {
    position: static;
    margin-bottom: 0;
  }

  .subnavbar {
  }

  .subnavbar .container {
    width: auto;
  };
}
/*------------------------------------------------------------------
[2. Max Width: 1200px]
*/

@media (min-width: 1200px) {
  .navbar .search-query {
    width: 200px;
  };
}
