{% extends 'admin/base.html' %}

{% block stage %}

<form name="f1" id="f1" method="POST" action="/portal/pages/{{ s1.id }}/edit/">
	<h2 style="background-color:#CCFFCC;">edit page</h2><br><br>
	<h3 style="background-color:#CCFFCC;font-size:20px;">title</h3>
	<input type="text" name="title" value={{ s1.title}}>
	<h3 style="background-color:#CCFFCC;font-size:20px;">content</h3>
	<textarea name="content">
	{{ s1.content }}
	</textarea>
	<br>
	<br>
	<center>
	<input type="submit" name="submit" value="submit" >
	</center>
</form>

<script>
$("#f1").submit(function(e){
	e.preventDefault();
	$.post("/portal/pages/{{ s1.id }}/edit/",$("#f1").serialize(),function(data){
	  if (data.error == false)
	  {
			alert("details are modified successfully");
	  }
	  else
	  {
			alert("details are not modified");
	  }
	},'json');

  });
</script>

{% endblock %}
