{% extends 'admin/base.html' %}

{% block stage %}

      <div class="row marl top-row">
      <div class="row marl">
      	<div class="container">
			<div class="row marl prof-table site-table">
            	<div class="prop-count"><span><a href="{% url 'addmenuitem' %}"><i class="fa fa-plus"></i> Add Menu Item</a></span></div>
                <div class="table-responsive">
                        <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>No.</th>
                                  <th>Title</th>
                                  <th class="hidden-xs">Url</th>
                                  <th class="hidden-xs">Created</th>
                                  <th>Status</th>
                                  <th>Edit / Delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td><a href="#" class="prop-name">Title</a></td>
                                  <td class="hidden-xs">Author</td>
                                  <td class="hidden-xs">Pub Datetime</td>
                                  <td><a href="#" class="prop-name">Status</a></td>
                                  <td><a href="#" class="prop-edit"><i class="fa fa-pencil-square-o"></i> </a> / <a href="#" class="prop-del"><i class="fa fa-trash-o"></i>  </a></td>
                                </tr>
                              </tbody>
                            </table>
               </div>
            </div>
		</div>
      </div>

{% endblock %}
